# Run the Ending Cell in this Notebook for Results, if that dosent work, start working backwards 1 cell at a time

## Mount google drive

### Subtask:
Mount Google Drive to access the files.

**Reasoning**:
Mount Google Drive to access the files.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## List and inspect excel files

### Subtask:
For each specified Excel file, list the sheet names and then read each sheet to display the column names.

**Reasoning**:
Iterate through the provided Excel file paths, list sheet names for each file, and then iterate through the sheets to display their column names.

In [ ]:
import pandas as pd

excel_files = [
    "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx",
    "/content/drive/MyDrive/Saksham_MEFI/list1.xls",
    "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"
]

for file_path in excel_files:
    print(f"Processing file: {file_path}")
    try:
        xls = pd.ExcelFile(file_path)
        sheet_names = xls.sheet_names
        print(f"  Sheets: {sheet_names}")
        for sheet_name in sheet_names:
            print(f"    Sheet: {sheet_name}")
            df = xls.parse(sheet_name)
            print(f"      Columns: {list(df.columns)}")
    except FileNotFoundError:
        print(f"  File not found: {file_path}")
    except Exception as e:
        print(f"  An error occurred processing {file_path}: {e}")

Processing file: /content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx
  Sheets: ['citation', 'Index Components', 'scores (panel)', 'scores', '1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C', 'BEA']
    Sheet: citation
      Columns: ['Please cite as:']
      Head:

                                     Please cite as:
0  Stansel, Dean. 2019. “Economic Freedom in U.S....

    Sheet: Index Components
      Columns: ['The Areas and Components of the U.S. Metro Area Economic Freedom Index']
      Head:

  The Areas and Components of the U.S. Metro Area Economic Freedom Index
0                                                NaN
1                             1. Government Spending
2  1A. General Consumption Expenditures by Govern...
3  1B. Transfers and Subsidies as a Percentage of...
4  1C: Insurance and Retirement Payments as a Per...

    Sheet: scores (panel)
      Columns: ['MSA order', 'CBSA Code', 'Unnamed: 2', 'Primary\nState', 'multi-state', 'year', 'Overall', 'Area 1: Govern-ment Spending', 'Area 2: Taxes', 'Area 3: Labor Market Regulation']
      Head:

,MSA order,CBSA Code,Unnamed: 2,Primary\nState,multi-state,year,Overall,Area 1: Govern-ment Spending,Area 2: Taxes,Area 3: Labor Market Regulation
0,1.0,10180,"Abilene, TX MSA",Texas,NaN,2017,7.892123,7.884567,7.291512,8.500290
1,2.0,10420,"Akron, OH MSA",Ohio,NaN,2017,6.240566,5.594453,5.385247,7.741998
2,3.0,10500,"Albany, GA MSA",Georgia,NaN,2017,6.839055,6.786531,6.101177,7.629456
3,4.0,10540,"Albany, OR MSA",Oregon,NaN,2017,5.558961,5.205432,5.561946,5.909504
4,5.0,10580,"Albany-Schenectady-Troy, NY MSA",New York,NaN,2017,5.858823,7.050117,4.245872,6.280479

    Sheet: scores
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'multi-state', 'Overall', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Area 1: Government Spending', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Area 2: Taxes', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Area 3: Labor Market Regulation', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,multi-state,Overall,Unnamed: 8,Unnamed: 9,...,Area 3: Labor Market Regulation,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49
0,MSA order,CBSA Code,NaN,Primary\nState,Area,2017 population,51,2017.000000,2012.000000,2007.000000,...,2017.000000,2012.000000,2007.000000,2002.000000,1997.000000,1992.000000,1987.000000,1982.000000,1977.000000,1972.000000
1,NaN,NaN,NaN,NaN,NaN,NaN,min,3.748376,4.079319,3.770811,...,4.001668,4.357415,3.802168,3.266104,3.864355,3.005464,2.122045,1.510350,1.108676,0.848893
2,NaN,NaN,NaN,NaN,NaN,NaN,max,8.911633,8.528928,8.396901,...,10.000000,9.673153,9.585010,9.629178,9.136181,8.833064,8.881839,7.894659,6.716542,7.333617
3,NaN,NaN,NaN,NaN,NaN,NaN,average,6.744397,6.481633,6.533982,...,7.594594,7.360868,7.412290,6.968159,6.652121,6.062280,5.743454,4.248395,3.708628,3.358013
4,NaN,NaN,NaN,NaN,NaN,NaN,median,6.763309,6.488826,6.616877,...,7.779687,7.473447,7.552405,7.071929,6.698154,6.096130,5.732074,4.126039,3.561346,3.208024

    Sheet: 1A
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '1A (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '1a (rank)', 'Unnamed: 21', 'Unnamed: 22', '1A, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '1A ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '1A (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,1A (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,1A,1A,1A,1A,1A,1A,1A,1A,1A,1A
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,7.003374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,7.189587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 1B
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '1B (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '1B (rank)', 'Unnamed: 21', 'Unnamed: 22', '1B, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '1B ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '1B (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,1B (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,1B,1B,1B,1B,1B,1B,1B,1B,1B,1B
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,8.311766,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,8.801427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 1C
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '1C (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '1C (rank)', 'Unnamed: 21', 'Unnamed: 22', '1C, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '1C ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '1C (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,1C (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,1C,1C,1C,1C,1C,1C,1C,1C,1C,1C
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,5.664384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,5.912977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 2A
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '2A (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '2A (rank)', 'Unnamed: 21', 'Unnamed: 22', '2A, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '2A ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '2A (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,2A (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,2A,2A,2A,2A,2A,2A,2A,2A,2A,2A
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,4.942099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,4.336632,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 2B
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '2B (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '2B (rank)', 'Unnamed: 21', 'Unnamed: 22', '2B, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '2B ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '2B (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,2B (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,2B,2B,2B,2B,2B,2B,2B,2B,2B,2B
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,5.112900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,5.300988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 2C
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '2C (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '2C (rank)', 'Unnamed: 21', 'Unnamed: 22', '2C, State & Local (% of personal income)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '2C ($1000s)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '2C (% of personal income)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'multi-state.1', 'multi-state.2', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'State (% of pers. Inc.)', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,2C (score),...,State (% of pers. Inc.),Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,2C,2C,2C,2C,2C,2C,2C,2C,2C,2C
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,7.300918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,7.473302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 3A
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '3A (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '3A (rank)', 'Unnamed: 21', 'Unnamed: 22', 'Minimum Wage, full-time income, % of per capita personal income', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'multi-state.1', 'multi-state.2', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Minimum Wage, full-time income', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,3A (score),...,"Minimum Wage, full-time income",Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017.0,2012.0,2007.0,2002.0,1997.0,1992.0,1987.0,1982.0,1977.0,1972.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,5.479793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,6.108547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 3B
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '3B (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '3B (rank)', 'Unnamed: 21', 'Unnamed: 22', '3B, State & Local (% of total employment)', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', '3B (# of local emps)', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', '3B (local govt % of total emp)', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'multi-state.1', 'multi-state.2', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'State govt emps (% of total state employment)', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,3B (score),...,State govt emps (% of total state employment),Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,2D,2D,2D,2D,2D,2D,2D,2D,2D,2D
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,6.453173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,6.652576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: 3C
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', '3C (score)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', '3C (rank)', 'Unnamed: 21', 'Unnamed: 22', 'Union Density, % members, private employees', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'multi-state.1', 'multi-state.2', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Union Density, % members, private employees.1', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,3C (score),...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51,2017.000000,...,2017,2012,2007,2002,1997,1992,1987,1982,1977,1972
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,min,0.000000,...,3C,3C,3C,3C,3C,3C,3C,3C,3C,3C
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,max,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,average,5.799675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,median,6.336902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    Sheet: BEA
      Columns: ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'multi-state', 'Personal income (thousands of dollars)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Total employment', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Total population', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40']
      Head:

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,multi-state,Personal income (thousands of dollars),...,Total population,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,MSAs &\ncounties\nABC,MSA&MD order,MSA/MD order,MSA order,State/MSA order,Metro Area,Primary\nState,Area,51.0,2017.0,...,2017.0,2012.0,2007.0,2002.0,1997.0,1992.0,1987.0,1982.0,1977.0,1972.0
1,1,1,1,1,338,"Abilene, TX MSA",Texas,NaN,NaN,7056009.0,...,170411.0,167483.0,162023.0,159012.0,157405.0,149917.0,153655.0,148899.0,133052.0,128517.0
2,5,2,2,2,274,"Akron, OH MSA",Ohio,NaN,NaN,33668330.0,...,704136.0,702224.0,703423.0,699533.0,689461.0,669752.0,647810.0,656126.0,662233.0,677046.0
3,8,3,3,3,99,"Albany, GA MSA",Georgia,NaN,NaN,5440293.0,...,151354.0,157385.0,157367.0,156947.0,156748.0,150065.0,149611.0,149660.0,141309.0,135481.0
4,14,4,4,4,289,"Albany, OR MSA",Oregon,NaN,NaN,5071250.0,...,125098.0,118293.0,112932.0,104561.0,102054.0,94112.0,88069.0,89748.0,84723.0,76467.0

Processing file: /content/drive/MyDrive/Saksham_MEFI/list1.xls
  Sheets: ['List 1']
    Sheet: List 1
      Columns: ['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']
      Head:

,Table with row headers in column A and column headers in row 3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,List 1. CORE BASED STATISTICAL AREAS (CBSAs) A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CBSA Code,Metro Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
2,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,013,Central
3,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,045,Outlying
4,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,027,Central

Processing file: /content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx
  Sheets: ['List 1']
    Sheet: List 1
      Columns: ['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']
      Head:

,Table with row headers in column A and column headers in row 3,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"List 1. CORE BASED STATISTICAL AREAS (CBSAs), ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
2,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Brown County,South Dakota,46,013,Central
3,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,NaN,NaN,Edmunds County,South Dakota,46,045,Outlying
4,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,NaN,NaN,Grays Harbor County,Washington,53,027,Central

## List and inspect csv files

### Subtask:
For each specified CSV file, read the file and display the column names.

**Reasoning**:
Iterate through the list of CSV files, read each into a DataFrame, and print the column names with error handling.

In [ ]:
csv_files = [
    "/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv",
    "/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv"
]

for file_path in csv_files:
    print(f"Processing file: {file_path}")
    try:
        df_csv = pd.read_csv(file_path)
        print(f"  Columns: {list(df_csv.columns)}")
    except FileNotFoundError:
        print(f"  File not found: {file_path}")
    except Exception as e:
        print(f"  An error occurred processing {file_path}: {e}")

Processing file: /content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv
  Columns: ['MMSANAME', 'CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_PHYS14D', '_MENT14D', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_MMSA', '_MMSAWT', '_STSTR', 'COUNTY_FIPS', 'CBSA_CODE', 'CBSA_NAME', 'YEAR']
Processing file: /content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv
  Columns: ['MMSANAME', 'CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_PHYS14D', '_MENT14D', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_MMSA', '_MMSAWT', '_STSTR', 'COUNTY_FIPS', 'CBSA_CODE', 'CBSA_NAME', 'YEAR']

In [ ]:
import pandas as pd
from rapidfuzz import process, fuzz

# ---------- helpers ----------
def z5(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    # strip decimals like '17410.0'
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

def norm(s):
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

# ---------- load SMART 2017/2022 ----------
s17 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv", dtype=str, low_memory=False)
s22 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv", dtype=str, low_memory=False)
for df in (s17, s22):
    if "CBSA_CODE" in df.columns:
        df["CBSA_CODE"] = df["CBSA_CODE"].apply(z5)
    if "MMSANAME" in df.columns:
        df["MMSANAME_N"] = df["MMSANAME"].apply(norm)

smart_cbsa = pd.Series(pd.concat([s17.get("CBSA_CODE"), s22.get("CBSA_CODE")], ignore_index=True), name="CBSA_CODE").dropna().unique().tolist()
smart_cbsa = sorted(set(smart_cbsa))

# ---------- load MEFI 2017 roster ----------
mefi = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx",
                     sheet_name="scores (panel)")
mefi["CBSA Code"] = mefi["CBSA Code"].apply(z5)
mefi2017 = mefi[mefi["year"]==2017].copy()
mefi2017_codes = set(mefi2017["CBSA Code"].dropna())

# ---------- load OMB List 1 (older + 2023) ----------
l_old = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1.xls", sheet_name="List 1", header=0)
l_new = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx", sheet_name="List 1", header=0)

for df in (l_old, l_new):
    df.rename(columns={
        "CBSA Code": "CBSA_CODE",
        "CBSA Title": "CBSA_TITLE",
        "Metropolitan/Micropolitan Statistical Area": "MM_TYPE",
        "State Name": "STATE_NAME"
    }, inplace=True, errors="ignore")
    df["CBSA_CODE"] = df["CBSA_CODE"].apply(z5)
    df["CBSA_TITLE_N"] = df["CBSA_TITLE"].apply(norm)

old_codes = set(l_old["CBSA_CODE"].dropna())
new_codes = set(l_new["CBSA_CODE"].dropna())

# ---------- step 1: SMART codes not in MEFI 2017 ----------
smart_unknown = sorted(set(smart_cbsa) - mefi2017_codes)
unknown_df = pd.DataFrame({"legacy_cbsa_code": smart_unknown})

# attach titles/types where available
unknown_df = unknown_df.merge(l_old[["CBSA_CODE","CBSA_TITLE","CBSA_TITLE_N","MM_TYPE","STATE_NAME"]],
                              left_on="legacy_cbsa_code", right_on="CBSA_CODE", how="left") \
                       .drop(columns=["CBSA_CODE"]) \
                       .rename(columns={"CBSA_TITLE":"legacy_title","CBSA_TITLE_N":"legacy_title_n","MM_TYPE":"legacy_mm_type","STATE_NAME":"legacy_state"})

unknown_df = unknown_df.merge(l_new[["CBSA_CODE","CBSA_TITLE","CBSA_TITLE_N","MM_TYPE","STATE_NAME"]],
                              left_on="legacy_cbsa_code", right_on="CBSA_CODE", how="left", suffixes=("","_2023")) \
                       .drop(columns=["CBSA_CODE"]) \
                       .rename(columns={"CBSA_TITLE":"new_title_hit","CBSA_TITLE_N":"new_title_hit_n","MM_TYPE":"new_mm_type","STATE_NAME":"new_state"})

# ---------- step 2: classify ----------
def classify(row):
    code = row["legacy_cbsa_code"]
    in_old = code in old_codes
    in_new = code in new_codes
    mm = (row.get("legacy_mm_type") or row.get("new_mm_type") or "")
    if in_new and (row.get("new_mm_type","").lower().startswith("micro")):
        return "MICRO_OR_OUT_OF_SCOPE"
    if in_old and not in_new:
        return "LEGACY_CANDIDATE"
    if in_old and in_new and (row.get("legacy_title_n") != row.get("new_title_hit_n")):
        return "LEGACY_CANDIDATE"
    if (not in_old) and (not in_new):
        return "OTHER_CANDIDATE"
    # default: exists in new and is metro -> likely just not in MEFI coverage for other reasons
    return "METRO_BUT_NOT_IN_MEFI"

unknown_df["status"] = unknown_df.apply(classify, axis=1)

# ---------- step 3: propose current code for LEGACY_CANDIDATEs via title matching ----------
legacy_rows = unknown_df[unknown_df["status"]=="LEGACY_CANDIDATE"].copy()
choices = l_new["CBSA_TITLE_N"].dropna().unique().tolist()
def best_match(name_n):
    if not name_n: return (pd.NA, 0.0)
    m = process.extractOne(name_n, choices, scorer=fuzz.WRatio)
    if not m: return (pd.NA, 0.0)
    return m[0], float(m[1])

legacy_rows[["match_title_n","match_score"]] = legacy_rows["legacy_title_n"].apply(lambda s: pd.Series(best_match(s)))
title2code = dict(zip(l_new["CBSA_TITLE_N"], l_new["CBSA_CODE"]))
title2title = dict(zip(l_new["CBSA_TITLE_N"], l_new["CBSA_TITLE"]))
legacy_rows["current_cbsa_code"] = legacy_rows["match_title_n"].map(title2code)
legacy_rows["current_title"]     = legacy_rows["match_title_n"].map(title2title)

# keep suggestions with high confidence (e.g., >=95); others for manual review
suggest_hi = legacy_rows[legacy_rows["match_score"]>=95].copy()
suggest_lo = legacy_rows[(legacy_rows["match_score"]>0) & (legacy_rows["match_score"]<95)].copy()

# ---------- outputs ----------
print("SMART unique CBSA total:", len(smart_cbsa))
print("Unknown vs MEFI2017:", len(smart_unknown))
print(unknown_df["status"].value_counts(dropna=False))

print("\nHigh-confidence legacy→current suggestions (>=95):", len(suggest_hi))
display(suggest_hi[["legacy_cbsa_code","legacy_title","current_cbsa_code","current_title","match_score"]].head(20))

# Save mapping CSVs for review
suggest_hi.assign(method="fuzzy_title", note=">=95").to_csv("/content/cbsa_legacy_to_current_hi.csv", index=False)
suggest_lo.assign(method="fuzzy_title", note="90–95 or below").to_csv("/content/cbsa_legacy_to_current_review.csv", index=False)
unknown_df.to_csv("/content/cbsa_unknown_classified.csv", index=False)

SMART unique CBSA total: 162
Unknown vs MEFI2017: 32
status
LEGACY_CANDIDATE         1667
MICRO_OR_OUT_OF_SCOPE      21
OTHER_CANDIDATE            21
METRO_BUT_NOT_IN_MEFI      18
Name: count, dtype: int64

High-confidence legacy→current suggestions (>=95): 4

,legacy_cbsa_code,legacy_title,current_cbsa_code,current_title,match_score
70,17200,"Claremont-Lebanon, NH-VT",30150,"Lebanon-Claremont, NH-VT",95.0
71,17200,"Claremont-Lebanon, NH-VT",30150,"Lebanon-Claremont, NH-VT",95.0
72,17200,"Claremont-Lebanon, NH-VT",30150,"Lebanon-Claremont, NH-VT",95.0
73,17200,"Claremont-Lebanon, NH-VT",30150,"Lebanon-Claremont, NH-VT",95.0

In [ ]:
def collapse_to_cbsa(df):
    # Keep one row per CBSA code with a representative title/type/state
    # Pick the first non-null in each group; adjust as needed
    cols_keep = ["CBSA_CODE","CBSA_TITLE","MM_TYPE","STATE_NAME","CBSA_TITLE_N"]
    temp = df.copy()
    for c in cols_keep:
        if c not in temp.columns:
            temp[c] = pd.NA
    out = (temp
           .groupby("CBSA_CODE", as_index=False)
           .agg({
               "CBSA_TITLE": "first",
               "CBSA_TITLE_N": "first",
               "MM_TYPE": "first",
               "STATE_NAME": "first"
           }))
    return out

l_old_cbsa = collapse_to_cbsa(l_old)
l_new_cbsa = collapse_to_cbsa(l_new)

In [ ]:
unknown_df = pd.DataFrame({"legacy_cbsa_code": smart_unknown})

# left-join at CBSA level (no county explosion)
unknown_df = (unknown_df
  .merge(l_old_cbsa.rename(columns={
      "CBSA_CODE":"legacy_cbsa_code",
      "CBSA_TITLE":"legacy_title",
      "CBSA_TITLE_N":"legacy_title_n",
      "MM_TYPE":"legacy_mm_type",
      "STATE_NAME":"legacy_state"
  }), on="legacy_cbsa_code", how="left")
  .merge(l_new_cbsa.rename(columns={
      "CBSA_CODE":"legacy_cbsa_code",
      "CBSA_TITLE":"new_title_hit",
      "CBSA_TITLE_N":"new_title_hit_n",
      "MM_TYPE":"new_mm_type",
      "STATE_NAME":"new_state"
  }), on="legacy_cbsa_code", how="left", suffixes=("","_2023"))
)

# classify again (same classify() function)
unknown_df["status"] = unknown_df.apply(classify, axis=1)

# re-run fuzzy suggestions only for LEGACY_CANDIDATE at CBSA level
legacy_rows = unknown_df[unknown_df["status"]=="LEGACY_CANDIDATE"].copy()
choices = l_new_cbsa["CBSA_TITLE_N"].dropna().unique().tolist()
def best_match(name_n):
    if not name_n: return (pd.NA, 0.0)
    m = process.extractOne(name_n, choices, scorer=fuzz.WRatio)
    if not m: return (pd.NA, 0.0)
    return m[0], float(m[1])

legacy_rows[["match_title_n","match_score"]] = legacy_rows["legacy_title_n"].apply(
    lambda s: pd.Series(best_match(s))
)
title2code  = dict(zip(l_new_cbsa["CBSA_TITLE_N"], l_new_cbsa["CBSA_CODE"]))
title2title = dict(zip(l_new_cbsa["CBSA_TITLE_N"], l_new_cbsa["CBSA_TITLE"]))
legacy_rows["current_cbsa_code"] = legacy_rows["match_title_n"].map(title2code)
legacy_rows["current_title"]     = legacy_rows["match_title_n"].map(title2title)

suggest_hi = legacy_rows[legacy_rows["match_score"]>=95].copy()
suggest_lo = legacy_rows[(legacy_rows["match_score"]>0) & (legacy_rows["match_score"]<95)].copy()

In [ ]:
legacy_map = dict(zip(suggest_hi["legacy_cbsa_code"], suggest_hi["current_cbsa_code"]))

In [ ]:
legacy_map

{'17200': '30150'}

In [ ]:
import pandas as pd
u = pd.read_csv("/content/cbsa_unknown_classified.csv", dtype=str)
summary = u['status'].value_counts()
display(summary)

status
LEGACY_CANDIDATE         1667
MICRO_OR_OUT_OF_SCOPE      21
OTHER_CANDIDATE            21
METRO_BUT_NOT_IN_MEFI      18
Name: count, dtype: int64

In [ ]:
targets = u[u['status'].isin(['LEGACY_CANDIDATE','METRO_BUT_NOT_IN_MEFI'])]
display(targets[['legacy_cbsa_code','legacy_title','legacy_state','status']])

,legacy_cbsa_code,legacy_title,legacy_state,status
4,10380,"Aguadilla-Isabela, PR",Puerto Rico,LEGACY_CANDIDATE
5,10380,"Aguadilla-Isabela, PR",Puerto Rico,LEGACY_CANDIDATE
6,10380,"Aguadilla-Isabela, PR",Puerto Rico,LEGACY_CANDIDATE
7,10380,"Aguadilla-Isabela, PR",Puerto Rico,LEGACY_CANDIDATE
8,10380,"Aguadilla-Isabela, PR",Puerto Rico,LEGACY_CANDIDATE
...,...,...,...,...
1710,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,LEGACY_CANDIDATE
1711,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,LEGACY_CANDIDATE
1712,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,LEGACY_CANDIDATE
1713,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,LEGACY_CANDIDATE
1714,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,LEGACY_CANDIDATE

In [ ]:
hi = pd.read_csv("/content/cbsa_legacy_to_current_hi.csv", dtype=str)
matched = targets[targets['legacy_cbsa_code'].isin(hi['legacy_cbsa_code'])]
display(matched[['legacy_cbsa_code','legacy_title']])
print("Already auto-mapped:", len(matched))

   legacy_cbsa_code              legacy_title
70            17200  Claremont-Lebanon, NH-VT
71            17200  Claremont-Lebanon, NH-VT
72            17200  Claremont-Lebanon, NH-VT
73            17200  Claremont-Lebanon, NH-VT

Already auto-mapped: 4

In [ ]:
smart = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv", dtype=str)
smart["CBSA_CODE"] = smart["CBSA_CODE"].str.zfill(5)
smart["MMSANAME_N"] = smart["MMSANAME"].str.lower().str.replace(r'[^a-z ]','',regex=True)

# Example: look up one of the 32 legacy codes
legacy = "17200"   # replace with any code you’re checking
rows = smart[smart["CBSA_CODE"]==legacy]
print(rows["_MMSA"].unique(), rows["MMSANAME"].unique())

['17200'] ['Claremont-Lebanon, NH-VT, Micropolitan Statistical Area']

In [ ]:
old = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1.xls", sheet_name="List 1")
new = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx", sheet_name="List 1")

def find_new_title(code):
    t = old.loc[old["CBSA Code"]==int(code),"CBSA Title"].dropna().unique()
    return t[0] if len(t)>0 else None

legacy_title = find_new_title("17200")
print("Old title:", legacy_title)
# Search for similar name in new list
mask = new["CBSA Title"].str.contains("Lebanon", na=False)
display(new.loc[mask, ["CBSA Code","CBSA Title"]])

Old title: None

    CBSA Code                CBSA Title
956     30060               Lebanon, MO
957     30140               Lebanon, PA
958     30150  Lebanon-Claremont, NH-VT
959     30150  Lebanon-Claremont, NH-VT
960     30150  Lebanon-Claremont, NH-VT
961     30150  Lebanon-Claremont, NH-VT

In [ ]:
import pandas as pd

# load your classified file
u = pd.read_csv("/content/cbsa_unknown_classified.csv", dtype=str)

# keep only the unique codes (collapse multiple counties etc.)
unique_unknowns = (
    u[["legacy_cbsa_code","legacy_title","legacy_state","legacy_mm_type","status"]]
    .drop_duplicates(subset=["legacy_cbsa_code"])
    .sort_values("legacy_cbsa_code")
)

print("Total unique CBSA codes not found in MEFI2017:", unique_unknowns.shape[0])
display(unique_unknowns.head(32))

Total unique CBSA codes not found in MEFI2017: 32

,legacy_cbsa_code,legacy_title,legacy_state,legacy_mm_type,status
0,10100,"Aberdeen, SD",South Dakota,Micropolitan Statistical Area,MICRO_OR_OUT_OF_SCOPE
4,10380,"Aguadilla-Isabela, PR",Puerto Rico,Metropolitan Statistical Area,LEGACY_CANDIDATE
67,14454,NaN,NaN,NaN,OTHER_CANDIDATE
68,15764,NaN,NaN,NaN,OTHER_CANDIDATE
69,15804,NaN,NaN,NaN,OTHER_CANDIDATE
70,17200,"Claremont-Lebanon, NH-VT",New Hampshire,Micropolitan Statistical Area,LEGACY_CANDIDATE
74,19124,NaN,NaN,NaN,OTHER_CANDIDATE
75,19430,NaN,NaN,NaN,METRO_BUT_NOT_IN_MEFI
78,23104,NaN,NaN,NaN,OTHER_CANDIDATE
79,23224,NaN,NaN,NaN,OTHER_CANDIDATE
80,25740,"Helena, MT",Montana,Micropolitan Statistical Area,METRO_BUT_NOT_IN_MEFI
86,30100,NaN,NaN,NaN,OTHER_CANDIDATE
87,33500,"Minot, ND",North Dakota,Micropolitan Statistical Area,METRO_BUT_NOT_IN_MEFI
96,33874,NaN,NaN,NaN,OTHER_CANDIDATE
97,35004,NaN,NaN,NaN,OTHER_CANDIDATE
98,35084,NaN,NaN,NaN,OTHER_CANDIDATE
99,35154,NaN,NaN,NaN,OTHER_CANDIDATE
100,35614,NaN,NaN,NaN,OTHER_CANDIDATE
101,35820,"North Platte, NE",Nebraska,Micropolitan Statistical Area,MICRO_OR_OUT_OF_SCOPE
107,36084,NaN,NaN,NaN,OTHER_CANDIDATE
108,37964,NaN,NaN,NaN,OTHER_CANDIDATE
109,39100,NaN,NaN,NaN,OTHER_CANDIDATE
110,40484,NaN,NaN,NaN,OTHER_CANDIDATE
111,41460,"Salina, KS",Kansas,Micropolitan Statistical Area,MICRO_OR_OUT_OF_SCOPE
115,41980,"San Juan-Carolina-Caguas, PR",Puerto Rico,Metropolitan Statistical Area,LEGACY_CANDIDATE
1715,42420,"Scottsbluff, NE",Nebraska,Micropolitan Statistical Area,MICRO_OR_OUT_OF_SCOPE
1721,42644,NaN,NaN,NaN,OTHER_CANDIDATE
1722,43524,NaN,NaN,NaN,OTHER_CANDIDATE
1723,47664,NaN,NaN,NaN,OTHER_CANDIDATE
1724,47894,NaN,NaN,NaN,OTHER_CANDIDATE
1725,47980,"Watertown, SD",South Dakota,Micropolitan Statistical Area,MICRO_OR_OUT_OF_SCOPE
1726,48864,NaN,NaN,NaN,OTHER_CANDIDATE

In [ ]:
import pandas as pd
import numpy as np

def z5(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

# Load 2023 List 1 once
l_new = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx",
                      sheet_name="List 1", dtype=str, header=2)
l_new = l_new.rename(columns=lambda c: c.strip())

# Standardize common cols if present
col_cbsa   = "CBSA Code"
col_title  = "CBSA Title"
col_div    = "Metropolitan Division Code"
col_csa    = "CSA Code"
col_csa_t  = "CSA Title"
col_state  = "State Name"
col_county = "County/County Equivalent"

for c in [col_cbsa, col_div, col_csa]:
    if c in l_new.columns:
        l_new[c] = l_new[c].apply(z5)

# A) division -> parent CBSA map
div2cbsa = {}
if col_div in l_new.columns:
    tmp = l_new[[col_div, col_cbsa]].dropna().drop_duplicates()
    div2cbsa = dict(tmp.values)

# B) CBSA -> CSA map (and CSA title)
cbsa2csa = {}
cbsa2csa_title = {}
if col_csa in l_new.columns:
    tmp = l_new[[col_cbsa, col_csa, col_csa_t]].dropna().drop_duplicates(subset=[col_cbsa])
    cbsa2csa = dict(tmp[[col_cbsa, col_csa]].values)
    cbsa2csa_title = dict(tmp[[col_cbsa, col_csa_t]].values)

# C) CBSA -> official title (useful to display)
cbsa2title = dict(l_new[[col_cbsa, col_title]].dropna().drop_duplicates().values)

# D) CBSA -> counties (for QA)
cbsa_counties = (l_new[[col_cbsa, col_state, col_county]]
                 .dropna(subset=[col_cbsa])
                 .groupby(col_cbsa)[[col_state, col_county]]
                 .agg(lambda s: sorted(s.dropna().unique().tolist()))
                 .reset_index())
cbsa2counties = {r[col_cbsa]: {"states": r[col_state], "counties": r[col_county]}
                 for _, r in cbsa_counties.iterrows()}

In [ ]:
# Your 32-code table (use the one you printed)
unknowns = pd.DataFrame({
    "legacy_cbsa_code": [
        "10100","10380","14454","15764","15804","17200","19124","19430","23104",
        "23224","25740","30100","33500","33874","35004","35084","35154","35614",
        "35820","36084","37964","39100","40484","41460","41980","42420","42644",
        "43524","47664","47894","47980","48864"
    ],
    "legacy_title": [
        "Aberdeen, SD","Aguadilla-Isabela, PR",np.nan,np.nan,np.nan,"Claremont-Lebanon, NH-VT",
        np.nan,np.nan,np.nan,np.nan,"Helena, MT",np.nan,"Minot, ND",np.nan,np.nan,np.nan,
        np.nan,np.nan,"North Platte, NE",np.nan,np.nan,np.nan,np.nan,"Salina, KS",
        "San Juan-Carolina-Caguas, PR","Scottsbluff, NE",np.nan,np.nan,np.nan,np.nan,"Watertown, SD",np.nan
    ],
    "legacy_mm_type": [
        "Micropolitan Statistical Area","Metropolitan Statistical Area",np.nan,np.nan,np.nan,
        "Micropolitan Statistical Area",np.nan,"Metropolitan Statistical Area",np.nan,np.nan,
        "Micropolitan Statistical Area",np.nan,"Micropolitan Statistical Area",np.nan,np.nan,np.nan,
        np.nan,np.nan,"Micropolitan Statistical Area",np.nan,np.nan,np.nan,np.nan,
        "Micropolitan Statistical Area","Metropolitan Statistical Area","Micropolitan Statistical Area",
        np.nan,np.nan,np.nan,np.nan,"Micropolitan Statistical Area",np.nan
    ]
})

unknowns["legacy_cbsa_code"] = unknowns["legacy_cbsa_code"].apply(z5)

# Identify which are divisions; roll up to parent CBSA if so
unknowns["parent_cbsa_code"] = unknowns["legacy_cbsa_code"].map(div2cbsa)

# Known legacy renames (map to current CBSA)
legacy_map = {
    "17200": "30150",  # Claremont–Lebanon -> Lebanon–Claremont
    "19430": "19380",  # Dayton–Springfield -> Dayton
}
unknowns["rolled_cbsa_code"] = unknowns["parent_cbsa_code"].fillna(unknowns["legacy_cbsa_code"])
unknowns["rolled_cbsa_code"] = unknowns["rolled_cbsa_code"].replace(legacy_map)

# Attach titles and CSA context
unknowns["rolled_cbsa_title"] = unknowns["rolled_cbsa_code"].map(cbsa2title)
unknowns["rolled_csa_code"]   = unknowns["rolled_cbsa_code"].map(cbsa2csa)
unknowns["rolled_csa_title"]  = unknowns["rolled_cbsa_code"].map(cbsa2csa_title)

# Optional: attach county lists for the rolled CBSA
def counties_info(code):
    info = cbsa2counties.get(code, {})
    return pd.Series([info.get("states"), info.get("counties")], index=["states_in_rolled_cbsa","counties_in_rolled_cbsa"])

unknowns[["states_in_rolled_cbsa","counties_in_rolled_cbsa"]] = unknowns["rolled_cbsa_code"].apply(counties_info)

# Final display
cols = ["legacy_cbsa_code","legacy_title","legacy_mm_type",
        "parent_cbsa_code","rolled_cbsa_code","rolled_cbsa_title",
        "rolled_csa_code","rolled_csa_title"]
unknowns[cols].sort_values(["rolled_cbsa_code","legacy_cbsa_code"]).head(20)

,legacy_cbsa_code,legacy_title,legacy_mm_type,parent_cbsa_code,rolled_cbsa_code,rolled_cbsa_title,rolled_csa_code,rolled_csa_title
0,10100,"Aberdeen, SD",Micropolitan Statistical Area,NaN,10100,"Aberdeen, SD",NaN,NaN
1,10380,"Aguadilla-Isabela, PR",Metropolitan Statistical Area,NaN,10380,"Aguadilla, PR",00364,"Mayagüez-Aguadilla, PR"
2,14454,NaN,NaN,14460,14460,"Boston-Cambridge-Newton, MA-NH",00148,"Boston-Worcester-Providence, MA-RI-NH"
3,15764,NaN,NaN,14460,14460,"Boston-Cambridge-Newton, MA-NH",00148,"Boston-Worcester-Providence, MA-RI-NH"
22,40484,NaN,NaN,14460,14460,"Boston-Cambridge-Newton, MA-NH",00148,"Boston-Worcester-Providence, MA-RI-NH"
6,19124,NaN,NaN,19100,19100,"Dallas-Fort Worth-Arlington, TX",00206,"Dallas-Fort Worth, TX-OK"
8,23104,NaN,NaN,19100,19100,"Dallas-Fort Worth-Arlington, TX",00206,"Dallas-Fort Worth, TX-OK"
7,19430,NaN,Metropolitan Statistical Area,NaN,19380,NaN,NaN,NaN
28,47664,NaN,NaN,19820,19820,"Detroit-Warren-Dearborn, MI",00220,"Detroit-Warren-Ann Arbor, MI"
10,25740,"Helena, MT",Micropolitan Statistical Area,NaN,25740,"Helena, MT",NaN,NaN
11,30100,NaN,NaN,NaN,30100,NaN,NaN,NaN
5,17200,"Claremont-Lebanon, NH-VT",Micropolitan Statistical Area,NaN,30150,"Lebanon-Claremont, NH-VT",NaN,NaN
12,33500,"Minot, ND",Micropolitan Statistical Area,NaN,33500,"Minot, ND",NaN,NaN
16,35154,NaN,NaN,NaN,35154,NaN,NaN,NaN
14,35004,NaN,NaN,35620,35620,"New York-Newark-Jersey City, NY-NJ",00408,"New York-Newark, NY-NJ-CT-PA"
15,35084,NaN,NaN,35620,35620,"New York-Newark-Jersey City, NY-NJ",00408,"New York-Newark, NY-NJ-CT-PA"
17,35614,NaN,NaN,35620,35620,"New York-Newark-Jersey City, NY-NJ",00408,"New York-Newark, NY-NJ-CT-PA"
18,35820,"North Platte, NE",Micropolitan Statistical Area,NaN,35820,"North Platte, NE",NaN,NaN
4,15804,NaN,NaN,37980,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",00428,"Philadelphia-Reading-Camden, PA-NJ-DE-MD"
13,33874,NaN,NaN,37980,37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",00428,"Philadelphia-Reading-Camden, PA-NJ-DE-MD"

In [ ]:
import pandas as pd
import numpy as np
import re
import os

# ===== Helpers =====
def z5(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if re.fullmatch(r"-?\d+(\.\d+)?", s):
        try: s = str(int(float(s)))
        except: pass
    return s.zfill(5)

def norm_name(s):
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

# ===== Your final mapping (division→parent CBSA + legacy renames) =====
legacy_to_current = {
    # Metropolitan Division → Parent CBSA
    "14454": "14460", "15764": "14460", "40484": "14460",          # Boston
    "19124": "19100", "23104": "19100",                            # Dallas
    "47664": "19820",                                              # Detroit
    "35004": "35620", "35084": "35620", "35614": "35620",          # New York
    "15804": "37980", "33874": "37980",                            # Philadelphia
    # Legacy renames (old → current)
    "17200": "30150",  # Claremont–Lebanon → Lebanon–Claremont
    "19430": "19380",  # Dayton–Springfield → Dayton
}

# ===== Scope flags to show in the joined table =====
micros = {"10100","25740","33500","35820"}     # Micropolitan (no MEFI)
puerto_rico = {"10380","41980"}                # PR metros (MEFI typically excluded)

def add_scope_flags(df, code_col="CBSA_CODE"):
    df = df.copy()
    df[code_col] = df[code_col].astype(str).str.zfill(5)
    df["is_micro"] = df[code_col].isin(micros).astype(int)
    df["is_pr"]    = df[code_col].isin(puerto_rico).astype(int)
    def _note(code):
        if code in micros:      return "Micropolitan area — MEFI not available"
        if code in puerto_rico: return "Puerto Rico — MEFI typically excluded"
        return ""
    df["scope_note"] = df[code_col].map(_note)
    return df

# ===== 1) Load BRFSS 2017 =====
# UPDATE THIS PATH to where your SMART_2017_individual.csv actually lives in your Colab.
BRFSS_2017_PATH = "/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv"  # e.g., "/content/SMART_2017_individual.csv" or your Drive path

BR2017 = pd.read_csv(BRFSS_2017_PATH, dtype=str, low_memory=False)
BR2017["CBSA_CODE"] = BR2017["CBSA_CODE"].apply(z5)
BR2017["CBSA_CODE_CANON"] = BR2017["CBSA_CODE"].replace(legacy_to_current)

# Flags & notes (original and canonical)
BR2017 = add_scope_flags(BR2017, code_col="CBSA_CODE")
tmp = add_scope_flags(BR2017.rename(columns={"CBSA_CODE_CANON":"CBSA_CODE_CANON_tmp"}), "CBSA_CODE_CANON_tmp")
BR2017["is_micro_canon"] = tmp["is_micro"]
BR2017["is_pr_canon"]    = tmp["is_pr"]
BR2017["scope_note_canon"] = tmp["scope_note"]
BR2017["scope_note"] = np.where(BR2017["scope_note_canon"].ne(""), BR2017["scope_note_canon"], BR2017["scope_note"])
BR2017.drop(columns=["scope_note_canon"], inplace=True)

# ===== 2) Load MEFI (scores panel) & prep 2017 slice =====
MEFI_XLSX = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)")
scores = scores.rename(columns={
    "CBSA Code": "CBSA_CODE",
    "Area 1: Govern-ment Spending": "Area1_GovtSpending",
    "Area 2: Taxes": "Area2_Taxes",
    "Area 3: Labor Market Regulation": "Area3_Labor",
    "Primary\nState": "Primary_State"
})
scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)
MEFI2017 = scores[scores["year"]==2017].copy()
MEFI2017["Metro_Area_Name"] = MEFI2017.get("Unnamed: 2", pd.Series([pd.NA]*len(MEFI2017)))
MEFI2017["Metro_Area_Name_N"] = MEFI2017["Metro_Area_Name"].apply(norm_name)

MEFI2017_ready = (MEFI2017
    .rename(columns={
        "Overall": "MEFI2017_overall",
        "Area1_GovtSpending": "MEFI2017_area1",
        "Area2_Taxes": "MEFI2017_area2",
        "Area3_Labor": "MEFI2017_area3"
    })
    [["CBSA_CODE","Metro_Area_Name","Metro_Area_Name_N",
      "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
    .drop_duplicates(subset=["CBSA_CODE"])
)

# (Optional) Attach BEA population (2017) by normalized metro name
try:
    bea = pd.read_excel(MEFI_XLSX, sheet_name="BEA", header=[0,1])
    pop_col = next(col for col in bea.columns
                   if isinstance(col, tuple)
                   and str(col[0]).strip().lower().startswith("total population")
                   and str(col[1]).strip().startswith("2017"))
    name_col = next((col for col in bea.columns if isinstance(col, tuple) and "metro area" in str(col[0]).lower()),
                    next((col for col in bea.columns if isinstance(col, str) and "metro area" in col.lower()), None))
    if name_col is not None:
        BEA2017 = bea[[name_col, pop_col]].copy()
        BEA2017.columns = ["Metro_Area_Name","BEA_pop_2017"]
        BEA2017 = BEA2017[pd.to_numeric(BEA2017["BEA_pop_2017"], errors="coerce").notna()].copy()
        BEA2017["BEA_pop_2017"] = BEA2017["BEA_pop_2017"].astype(float)
        BEA2017["Metro_Area_Name_N"] = BEA2017["Metro_Area_Name"].apply(norm_name)
        MEFI2017_ready = MEFI2017_ready.merge(BEA2017[["Metro_Area_Name_N","BEA_pop_2017"]],
                                              on="Metro_Area_Name_N", how="left")
except StopIteration:
    # If BEA column detection fails, just skip population for now
    pass

# ===== 3) Merge BRFSS 2017 ↔ MEFI 2017 (CBSA_CODE_CANON ↔ CBSA_CODE) =====
merged2017 = BR2017.merge(
    MEFI2017_ready.drop(columns=["Metro_Area_Name_N"]),
    left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left"
)

mefi_cols = ["MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]
for c in mefi_cols:
    if c not in merged2017.columns:
        merged2017[c] = np.nan

merged2017["mefi_joined"] = merged2017[mefi_cols].notna().any(axis=1).astype(int)

def _join_note(row):
    if row["mefi_joined"] == 1:
        return "MEFI attached"
    if row.get("scope_note"):
        return row["scope_note"]
    return "No MEFI match (unexpected) — check mapping"

def _status(row):
    if row["mefi_joined"] == 1:
        return "joined"
    if row.get("is_micro_canon",0)==1 or row.get("is_pr_canon",0)==1 or row.get("is_micro",0)==1 or row.get("is_pr",0)==1:
        return "out_of_scope"
    return "unmatched"

merged2017["mefi_join_note"] = merged2017.apply(_join_note, axis=1)
merged2017["join_status"] = merged2017.apply(_status, axis=1)

# ===== 4) Show 100 random samples =====
view_cols = [
    "CBSA_CODE","CBSA_CODE_CANON","join_status","mefi_join_note",
    "is_micro","is_pr","is_micro_canon","is_pr_canon","scope_note",
    "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3","BEA_pop_2017",
    "Metro_Area_Name"
]
view_cols = [c for c in view_cols if c in merged2017.columns]
n = min(100, len(merged2017))
display(merged2017.sample(n=n, random_state=42)[view_cols])

# Optional quick summary
print({
    "rows_total": len(merged2017),
    "unique_CBSA_original": merged2017["CBSA_CODE"].nunique(),
    "unique_CBSA_canon": merged2017["CBSA_CODE_CANON"].nunique(),
    "joined_rows": int((merged2017["join_status"]=="joined").sum()),
    "out_of_scope_rows": int((merged2017["join_status"]=="out_of_scope").sum()),
    "unmatched_rows": int((merged2017["join_status"]=="unmatched").sum()),
})

,CBSA_CODE_CANON,join_status,mefi_join_note,is_micro,is_pr,is_micro_canon,is_pr_canon,scope_note,MEFI2017_overall,MEFI2017_area1,MEFI2017_area2,MEFI2017_area3,Metro_Area_Name
182894,41540,joined,MEFI attached,0,0,0,0,,6.543784,6.693727,5.339915,7.597709,"Salisbury, MD-DE MSA"
110190,33460,joined,MEFI attached,0,0,0,0,,6.429634,6.885858,4.547891,7.855154,"Minneapolis-St. Paul-Bloomington, MN-WI MSA"
195962,43524,unmatched,No MEFI match (unexpected) — check mapping,0,0,0,0,,NaN,NaN,NaN,NaN,NaN
27127,37980,joined,MEFI attached,0,0,0,0,,6.613382,6.169205,5.232031,8.438910,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
180805,41180,joined,MEFI attached,0,0,0,0,,7.490453,7.490112,6.975848,8.005398,"St. Louis, MO-IL MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81269,27260,joined,MEFI attached,0,0,0,0,,8.265797,7.926336,7.496283,9.374771,"Jacksonville, FL MSA"
96786,30780,joined,MEFI attached,0,0,0,0,,6.750696,6.868923,5.418237,7.964926,"Little Rock-North Little Rock-Conway, AR MSA"
226262,48620,joined,MEFI attached,0,0,0,0,,7.244513,7.602203,6.324605,7.806731,"Wichita, KS MSA"
67357,24860,joined,MEFI attached,0,0,0,0,,7.119774,6.116784,6.926942,8.315594,"Greenville-Anderson-Mauldin, SC MSA"
103862,33100,joined,MEFI attached,0,0,0,0,,8.110610,7.991523,7.001297,9.339009,"Miami-Fort Lauderdale-West Palm Beach, FL MSA"

KeyError: 'CBSA_CODE'

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv", dtype=str)
df.head()

,MMSANAME,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,...,BMI_RAW,BMI_CATEGORY,EXERCISE_30D,_MMSA,_MMSAWT,_STSTR,COUNTY_FIPS,CBSA_CODE,CBSA_NAME,YEAR
0,"Aberdeen, SD, Micropolitan Statistical Area",1,0,9,1,2,3,9,1,1,...,3132,3,2,10100,110.20762034122944,16049,NaN,10100,"Aberdeen, SD, Micropolitan Statistical Area",2017
1,"Aberdeen, SD, Micropolitan Statistical Area",0,1,9,1,4,5,10,2,1,...,2330,1,1,10100,28.646614982156,16049,NaN,10100,"Aberdeen, SD, Micropolitan Statistical Area",2017
2,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,1,3,1,1,1,1,...,3557,3,1,10100,115.60247563289506,16049,NaN,10100,"Aberdeen, SD, Micropolitan Statistical Area",2017
3,"Aberdeen, SD, Micropolitan Statistical Area",0,0,2,1,3,2,2,1,1,...,3004,3,1,10100,376.0262372952937,16049,NaN,10100,"Aberdeen, SD, Micropolitan Statistical Area",2017
4,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,3,4,4,13,2,1,...,2746,2,1,10100,20.708628306405743,16049,NaN,10100,"Aberdeen, SD, Micropolitan Statistical Area",2017

In [ ]:
# 0) Build division→CBSA map from 2023 List-1 once (if you haven’t already)
import pandas as pd, numpy as np

def z5(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

list1_2023 = pd.read_excel("/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx", sheet_name="List 1", dtype=str, header=2)
list1_2023.rename(columns=lambda c: c.strip(), inplace=True)
if "CBSA Code" in list1_2023.columns: list1_2023["CBSA Code"] = list1_2023["CBSA Code"].apply(z5)
if "Metropolitan Division Code" in list1_2023.columns: list1_2023["Metropolitan Division Code"] = list1_2023["Metropolitan Division Code"].apply(z5)

div2cbsa = {}
if "Metropolitan Division Code" in list1_2023.columns and "CBSA Code" in list1_2023.columns:
    div2cbsa = (list1_2023[["Metropolitan Division Code","CBSA Code"]]
                .dropna().drop_duplicates()
                .set_index("Metropolitan Division Code")["CBSA Code"].to_dict())

# 1) Clear key names
BR2017 = BR2017.rename(columns={"CBSA_CODE":"CBSA_CODE_ORIG"})
BR2017["CBSA_CODE_ORIG"] = BR2017["CBSA_CODE_ORIG"].astype(str).str.zfill(5)

# 2) First roll up any Metropolitan Division codes to parent CBSA using div2cbsa
BR2017["CBSA_CODE_ROLLED"] = BR2017["CBSA_CODE_ORIG"].map(div2cbsa).fillna(BR2017["CBSA_CODE_ORIG"])

# 3) Then apply your legacy→current mapping to the rolled code to get the final canonical key
legacy_to_current = {
    "14454":"14460","15764":"14460","40484":"14460",
    "19124":"19100","23104":"19100",
    "47664":"19820",
    "35004":"35620","35084":"35620","35614":"35620",
    "15804":"37980","33874":"37980",
    "17200":"30150","19430":"19380",
}
BR2017["CBSA_CODE_CANON"] = BR2017["CBSA_CODE_ROLLED"].replace(legacy_to_current)

# (Optional) flags & notes on canonical key — this is what users will see
micros = {"10100","25740","33500","35820"}
puerto_rico = {"10380","41980"}
def scope_note_for(code):
    if code in micros: return "Micropolitan area — MEFI not available"
    if code in puerto_rico: return "Puerto Rico — MEFI typically excluded"
    return ""

BR2017["is_micro"] = BR2017["CBSA_CODE_CANON"].isin(micros).astype(int)
BR2017["is_pr"]    = BR2017["CBSA_CODE_CANON"].isin(puerto_rico).astype(int)
BR2017["scope_note"] = BR2017["CBSA_CODE_CANON"].map(scope_note_for)

# 4) Prepare MEFI 2017 and give its key a distinct name to avoid confusion
MEFI2017_ready = MEFI2017_ready.rename(columns={"CBSA_CODE":"MEFI_CBSA_CODE"})
MEFI2017_ready["MEFI_CBSA_CODE"] = MEFI2017_ready["MEFI_CBSA_CODE"].astype(str).str.zfill(5)

# 5) Merge on canonical key
merged2017 = BR2017.merge(
    MEFI2017_ready,
    left_on="CBSA_CODE_CANON", right_on="MEFI_CBSA_CODE", how="left"
)

# 6) Join status + notes (do NOT reference 'CBSA_CODE' anymore)
mefi_cols = ["MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]
for c in mefi_cols:
    if c not in merged2017.columns:
        merged2017[c] = np.nan

merged2017["mefi_joined"] = merged2017[mefi_cols].notna().any(axis=1).astype(int)
merged2017["join_status"] = np.where(
    merged2017["mefi_joined"].eq(1), "joined",
    np.where((merged2017["is_micro"].eq(1) | merged2017["is_pr"].eq(1)), "out_of_scope", "unmatched")
)
merged2017["mefi_join_note"] = np.where(
    merged2017["mefi_joined"].eq(1), "MEFI attached",
    np.where(merged2017["scope_note"].ne(""), merged2017["scope_note"], "No MEFI match (unexpected) — check mapping")
)

# 7) Sample view (100 rows)
view_cols = [
    "CBSA_CODE_ORIG","CBSA_CODE_ROLLED","CBSA_CODE_CANON","MEFI_CBSA_CODE",
    "join_status","mefi_join_note","is_micro","is_pr","scope_note",
    "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3","BEA_pop_2017",
    "Metro_Area_Name"
]
view_cols = [c for c in view_cols if c in merged2017.columns]
sample100 = merged2017.sample(n=min(100, len(merged2017)), random_state=42)[view_cols]
display(sample100)

# 8) A summary that won't crash if a column is missing
def col_nunique(df, col): return df[col].nunique() if col in df.columns else np.nan
summary = {
    "rows_total": len(merged2017),
    "unique_CBSA_ORIG": col_nunique(merged2017, "CBSA_CODE_ORIG"),
    "unique_CBSA_CANON": col_nunique(merged2017, "CBSA_CODE_CANON"),
    "joined_rows": int((merged2017["join_status"]=="joined").sum()),
    "out_of_scope_rows": int((merged2017["join_status"]=="out_of_scope").sum()),
    "unmatched_rows": int((merged2017["join_status"]=="unmatched").sum()),
}
print(summary)

,CBSA_CODE_ORIG,CBSA_CODE_ROLLED,CBSA_CODE_CANON,MEFI_CBSA_CODE,join_status,mefi_join_note,is_micro,is_pr,scope_note,MEFI2017_overall,MEFI2017_area1,MEFI2017_area2,MEFI2017_area3,Metro_Area_Name
182894,41540,41540,41540,41540,joined,MEFI attached,0,0,,6.543784,6.693727,5.339915,7.597709,"Salisbury, MD-DE MSA"
110190,33460,33460,33460,33460,joined,MEFI attached,0,0,,6.429634,6.885858,4.547891,7.855154,"Minneapolis-St. Paul-Bloomington, MN-WI MSA"
195962,43524,43524,43524,NaN,unmatched,No MEFI match (unexpected) — check mapping,0,0,,NaN,NaN,NaN,NaN,NaN
27127,15804,37980,37980,37980,joined,MEFI attached,0,0,,6.613382,6.169205,5.232031,8.438910,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
180805,41180,41180,41180,41180,joined,MEFI attached,0,0,,7.490453,7.490112,6.975848,8.005398,"St. Louis, MO-IL MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81269,27260,27260,27260,27260,joined,MEFI attached,0,0,,8.265797,7.926336,7.496283,9.374771,"Jacksonville, FL MSA"
96786,30780,30780,30780,30780,joined,MEFI attached,0,0,,6.750696,6.868923,5.418237,7.964926,"Little Rock-North Little Rock-Conway, AR MSA"
226262,48620,48620,48620,48620,joined,MEFI attached,0,0,,7.244513,7.602203,6.324605,7.806731,"Wichita, KS MSA"
67357,24860,24860,24860,24860,joined,MEFI attached,0,0,,7.119774,6.116784,6.926942,8.315594,"Greenville-Anderson-Mauldin, SC MSA"
103862,33100,33100,33100,33100,joined,MEFI attached,0,0,,8.110610,7.991523,7.001297,9.339009,"Miami-Fort Lauderdale-West Palm Beach, FL MSA"

{'rows_total': 230875, 'unique_CBSA_ORIG': 136, 'unique_CBSA_CANON': 128, 'joined_rows': 212345, 'out_of_scope_rows': 4544, 'unmatched_rows': 13986}

In [ ]:
# Which canonical CBSA codes are causing the unmatched?
mask_unmatched = (merged2017["join_status"]=="unmatched")
unmatched_codes = (merged2017.loc[mask_unmatched, "CBSA_CODE_CANON"]
                   .dropna().value_counts().reset_index())
unmatched_codes.columns = ["CBSA_CODE_CANON","n_rows"]
unmatched_codes.head(20)  # top offenders

  CBSA_CODE_CANON  n_rows
0           47894    8542
1           43524    2442
2           30150    1763
3           41460     623
4           42420     616

In [ ]:
# MEFI roster (2017) codes — double-check the set
mefi_codes = set(MEFI2017_ready["MEFI_CBSA_CODE"].astype(str).str.zfill(5))

# Which unmatched codes are simply not in MEFI?
unmatched_codes["in_mefi"] = unmatched_codes["CBSA_CODE_CANON"].isin(mefi_codes)
unmatched_codes.query("in_mefi == False").head(20)

  CBSA_CODE_CANON  n_rows  in_mefi
0           47894    8542    False
1           43524    2442    False
2           30150    1763    False
3           41460     623    False
4           42420     616    False

In [ ]:
# Which unmatched codes appear as "Metropolitan Division Code" in List 1 but not rolled?
div_hits = list1_2023.loc[
    list1_2023["Metropolitan Division Code"].isin(unmatched_codes["CBSA_CODE_CANON"]),
    ["Metropolitan Division Code","CBSA Code","CBSA Title"]
].drop_duplicates()
div_hits.head(20)

Empty DataFrame
Columns: [Metropolitan Division Code, CBSA Code, CBSA Title]
Index: []

In [ ]:
# Make sure canon is always 5-char strings
bad_len = merged2017.loc[mask_unmatched, "CBSA_CODE_CANON"].dropna().map(len).value_counts()
bad_len  # expect all 5; any !=5 signals a padding issue

CBSA_CODE_CANON
5    13986
Name: count, dtype: int64

In [ ]:
(merged2017.loc[mask_unmatched, "MMSANAME"]
 .fillna("NA").value_counts().head(15))

MMSANAME
Washington-Arlington-Alexandria, DC-VA-MD-WV, Metropolitan Division    8542
Silver Spring-Frederick-Rockville, MD, Metropolitan Division           2442
Claremont-Lebanon, NH-VT, Micropolitan Statistical Area                1763
Salina, KS, Micropolitan Statistical Area                               623
Scottsbluff, NE, Micropolitan Statistical Area                          616
Name: count, dtype: int64

In [ ]:
# 1) Final mapping dict (division→parent + legacy renames)
pd.Series(legacy_to_current).rename("current_cbsa_code") \
  .to_csv("/content/final_cbsa_legacy_mapping.csv", header=True)

# 2) Scope flags list (for documentation)
pd.DataFrame({
    "micros": sorted(list(micros)),
    "puerto_rico": sorted(list(puerto_rico)) + [np.nan]*(len(micros)-len(puerto_rico))
}).to_csv("/content/final_scope_sets.csv", index=False)

# 3) Unmatched code counts (so you can review which to map next)
unmatched_codes.to_csv("/content/unmatched_cbsa_canon_counts.csv", index=False)

# 4) A stratified sample of the joined table for QA (100 rows)
sample_cols = ["CBSA_CODE_ORIG","CBSA_CODE_ROLLED","CBSA_CODE_CANON","MEFI_CBSA_CODE",
               "join_status","mefi_join_note","is_micro","is_pr","scope_note",
               "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3","BEA_pop_2017",
               "Metro_Area_Name"]
sample_cols = [c for c in sample_cols if c in merged2017.columns]
merged2017.sample(n=min(100, len(merged2017)), random_state=42)[sample_cols] \
  .to_csv("/content/brfss2017_mefi2017_sample100.csv", index=False)

In [ ]:
import pandas as pd
import numpy as np
import re

# --------- Helpers ----------
def z5(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if re.fullmatch(r"-?\d+(\.\d+)?", s):
        try: s = str(int(float(s)))
        except: pass
    return s.zfill(5)

def norm_name(s):
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

def add_scope_flags(df, code_col="CBSA_CODE_CANON"):
    micros = {"10100","25740","33500","35820"}
    puerto_rico = {"10380","41980"}
    df["is_micro"] = df[code_col].isin(micros).astype(int)
    df["is_pr"]    = df[code_col].isin(puerto_rico).astype(int)
    def _note(code):
        if code in micros:      return "Micropolitan area — MEFI not available"
        if code in puerto_rico: return "Puerto Rico — MEFI typically excluded"
        return ""
    df["scope_note"] = df[code_col].map(_note)
    return df

# --------- Inputs (update paths) ----------
SMART2017 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv", dtype=str, low_memory=False)
SMART2022 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv", dtype=str, low_memory=False)
MEFI_XLSX = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
LIST1_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

# --------- Build division → parent CBSA from List 1 (2023) ----------
l1 = pd.read_excel(LIST1_2023, sheet_name="List 1", dtype=str, header=2)
l1.rename(columns=lambda c: c.strip(), inplace=True)
if "CBSA Code" in l1.columns: l1["CBSA Code"] = l1["CBSA Code"].apply(z5)
if "Metropolitan Division Code" in l1.columns: l1["Metropolitan Division Code"] = l1["Metropolitan Division Code"].apply(z5)

div2cbsa = {}
if {"Metropolitan Division Code","CBSA Code"}.issubset(l1.columns):
    div2cbsa = (l1[["Metropolitan Division Code","CBSA Code"]]
                .dropna().drop_duplicates()
                .set_index("Metropolitan Division Code")["CBSA Code"].to_dict())

# --------- Legacy→current mapping you confirmed ----------
legacy_to_current = {
    # Metropolitan Division → Parent CBSA
    "14454":"14460","15764":"14460","40484":"14460",     # Boston
    "19124":"19100","23104":"19100",                     # Dallas
    "47664":"19820",                                     # Detroit
    "35004":"35620","35084":"35620","35614":"35620",     # New York
    "15804":"37980","33874":"37980",                     # Philadelphia
    # Legacy renames
    "17200":"30150",                                     # Claremont–Lebanon → Lebanon–Claremont
    "19430":"19380",                                     # Dayton–Springfield → Dayton
}

# --------- Prepare BRFSS (function) ----------
def prep_brfss(df):
    df = df.copy()
    assert "CBSA_CODE" in df.columns, "CBSA_CODE missing in BRFSS file."
    df["CBSA_CODE_ORIG"]   = df["CBSA_CODE"].apply(z5)
    df["CBSA_CODE_ROLLED"] = df["CBSA_CODE_ORIG"].map(div2cbsa).fillna(df["CBSA_CODE_ORIG"])
    df["CBSA_CODE_CANON"]  = df["CBSA_CODE_ROLLED"].replace(legacy_to_current)
    df = add_scope_flags(df, "CBSA_CODE_CANON")
    # Drop the original CBSA_CODE column before merging to prevent overlap later
    if "CBSA_CODE" in df.columns:
        df = df.drop(columns=["CBSA_CODE"])
    return df

B17 = prep_brfss(SMART2017)
B22 = prep_brfss(SMART2022)

# --------- Load MEFI “scores (panel)” (Overall + Area1–3) @ 2017 ----------
scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)", header=0) # Assuming header is on row 0
scores = scores.rename(columns={
    "CBSA Code":"CBSA_CODE",
    "Area 1: Govern-ment Spending":"Area1_GovtSpending",
    "Area 2: Taxes":"Area2_Taxes",
    "Area 3: Labor Market Regulation":"Area3_Labor",
    "Primary\nState":"Primary_State"
})
scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)
MEFI2017 = scores[scores["year"]==2017].copy()
MEFI2017["Metro_Area_Name"] = MEFI2017.get("Unnamed: 2", pd.Series([pd.NA]*len(MEFI2017)))
MEFI2017["Metro_Area_Name_N"] = MEFI2017["Metro_Area_Name"].apply(norm_name)
MEFI2017_main = (MEFI2017
    .rename(columns={
        "Overall":"MEFI2017_overall",
        "Area1_GovtSpending":"MEFI2017_area1",
        "Area2_Taxes":"MEFI2017_area2",
        "Area3_Labor":"MEFI2017_area3"
    })
    [["CBSA_CODE","Metro_Area_Name","Metro_Area_Name_N",
      "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
    .drop_duplicates(subset=["CBSA_CODE"])
)

# --------- Pull 1A–3C (score) for 2017 from the 9 sheets (wide → tidy) ----------
def pull_component(mefi_path, sheet_name, comp_label):
    # These sheets have header information in the first few rows, but the actual column names we want
    # for the scores (like '1A (score)') are on a specific row, and the years are sometimes
    # in the row below that. Let's inspect the sheets to find the correct header row.
    # Based on the output of cell cf6b3879, the column headers are typically in row 0 or 1.
    # The actual data seems to start from row 5 onwards for the component sheets.
    # Let's assume the column names we want are in the first row (index 0) and the year
    # information is sometimes in the second row (index 1), but the actual score for 2017
    # is in a column labeled '2017' under the score column.

    # Try reading with header=0 first and see if we can find the 2017 column under the score column.
    try:
        df = pd.read_excel(mefi_path, sheet_name=sheet_name, header=0)
        # Flatten MultiIndex if present
        df.columns = pd.Index([ " ".join(map(str,c)) if isinstance(c, tuple) else str(c) for c in df.columns ])

        cbsa_col = None
        for cand in ["CBSA Code","CBSA code","CBSA CODE","CBSA"]:
            if cand in df.columns: cbsa_col = cand; break
        if cbsa_col is None:
             # Fallback to the second column if no CBSA column is found by name
            if len(df.columns) > 1:
                cbsa_col = df.columns[1]
            else:
                return pd.DataFrame(columns=["CBSA_CODE", f"MEFI2017_{comp_label}"]) # Cannot find CBSA column

        df["CBSA_CODE"] = df[cbsa_col].apply(z5)

        # Find the 2017 score column
        year_col = None
        # Search for a column that contains the component label and "score"
        score_col_candidate = [c for c in df.columns if comp_label in c and "(score)" in c]
        if score_col_candidate:
             # If found, look for a sub-column named '2017' under this
             if f"{score_col_candidate[0]} 2017" in df.columns:
                 year_col = f"{score_col_candidate[0]} 2017"
             else:
                 # Fallback: look for a column named exactly '2017'
                 maybe_year = [c for c in df.columns if c.strip() == "2017"]
                 if maybe_year:
                     year_col = maybe_year[0]
        else:
            # If no column with (score) is found, try looking for a column named '2017' directly
            maybe_year = [c for c in df.columns if c.strip() == "2017"]
            if maybe_year:
                year_col = maybe_year[0]

        out = df[["CBSA_CODE"] + ([year_col] if year_col else [])].copy()
        if year_col:
            out.rename(columns={year_col: f"MEFI2017_{comp_label}"}, inplace=True)
        else:
            out[f"MEFI2017_{comp_label}"] = np.nan
        return out[["CBSA_CODE", f"MEFI2017_{comp_label}"]]

    except Exception as e:
        print(f"Error processing sheet {sheet_name}: {e}")
        return pd.DataFrame(columns=["CBSA_CODE", f"MEFI2017_{comp_label}"])


components = []
components += [pull_component(MEFI_XLSX, "1A", "1A")]
components += [pull_component(MEFI_XLSX, "1B", "1B")]
components += [pull_component(MEFI_XLSX, "1C", "1C")]
components += [pull_component(MEFI_XLSX, "2A", "2A")]
components += [pull_component(MEFI_XLSX, "2B", "2B")]
components += [pull_component(MEFI_XLSX, "2C", "2C")]
components += [pull_component(MEFI_XLSX, "3A", "3A")]
components += [pull_component(MEFI_XLSX, "3B", "3B")]
components += [pull_component(MEFI_XLSX, "3C", "3C")]

MEFI2017_comps = components[0]
for t in components[1:]:
    MEFI2017_comps = MEFI2017_comps.merge(t, on="CBSA_CODE", how="outer")

# --------- BEA population 2017 ----------
# The BEA sheet has a two-row header, so we specify header=[0, 1]
try:
    bea = pd.read_excel(MEFI_XLSX, sheet_name="BEA", header=[0,1])
    pop_col = None
    for col in bea.columns:
        if isinstance(col, tuple):
            if str(col[0]).strip().lower().startswith("total population") and str(col[1]).strip().startswith("2017"):
                pop_col = col; break
    name_col = None
    for col in bea.columns:
        if isinstance(col, tuple) and "metro area" in str(col[0]).lower():
            name_col = col; break
    if name_col is None:
        for col in bea.columns:
            if isinstance(col, str) and "metro area" in col.lower():
                name_col = col; break

    MEFI2017_bea = pd.DataFrame(columns=["CBSA_CODE","BEA_pop_2017"])
    if pop_col is not None and name_col is not None:
        BEA2017 = bea[[name_col, pop_col]].copy()
        BEA2017.columns = ["Metro_Area_Name","BEA_pop_2017"]
        BEA2017 = BEA2017[pd.to_numeric(BEA2017["BEA_pop_2017"], errors="coerce").notna()].copy()
        BEA2017["BEA_pop_2017"] = BEA2017["BEA_pop_2017"].astype(float)
        BEA2017["Metro_Area_Name_N"] = BEA2017["Metro_Area_Name"].apply(norm_name)
        # Merge to MEFI2017_main by normalized name to pick the population
        MEFI2017_main = MEFI2017_main.merge(
            BEA2017[["Metro_Area_Name_N","BEA_pop_2017"]],
            on="Metro_Area_Name_N", how="left"
        )

except Exception as e:
    print(f"Error processing BEA sheet: {e}")
    # If BEA processing fails, just skip population for now


# --------- Assemble the MEFI 2017 bundle ----------
# Merge MEFI2017_main and MEFI2017_comps by CBSA_CODE
MEFI2017_all = (MEFI2017_main
    .merge(MEFI2017_comps, on="CBSA_CODE", how="left")
    .drop(columns=["Metro_Area_Name_N"])
    .drop_duplicates(subset=["CBSA_CODE"])
)

# --------- Merge BRFSS 2017 ↔ MEFI 2017 ----------
def merge_brfss_mefi(brfss_df, mefi_df, year_label="2017"):
    # Join BRFSS on CBSA_CODE_CANON and MEFI on CBSA_CODE
    out = brfss_df.merge(mefi_df, left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left") # Removed suffixes as CBSA_CODE_CANON is unique
    # Status + note
    mefi_core = [f"MEFI{year_label}_overall", f"MEFI{year_label}_area1", f"MEFI{year_label}_area2", f"MEFI{year_label}_area3"]
    # Ensure mefi_core columns exist before checking notna
    mefi_core_existing = [c for c in mefi_core if c in out.columns]
    out["mefi_joined"] = out[mefi_core_existing].notna().any(axis=1).astype(int)
    out["join_status"] = np.where(out["mefi_joined"].eq(1), "joined",
                           np.where((out["is_micro"].eq(1) | out["is_pr"].eq(1)), "out_of_scope", "unmatched"))
    out["mefi_join_note"] = np.where(out["mefi_joined"].eq(1), "MEFI attached",
                               np.where(out["scope_note"].ne(""), out["scope_note"], "No MEFI match — check mapping"))
    return out

BRFSS2017_MEFI = merge_brfss_mefi(B17, MEFI2017_all, "2017")

# --------- For 2022, spec says use MEFI 2017 (lag experiment) ----------
BRFSS2022_MEFI = merge_brfss_mefi(B22, MEFI2017_all, "2017")  # yes, 2017 MEFI for 2022 per instruction

In [ ]:
BRFSS2017_MEFI.tail(10)

,MMSANAME,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,...,MEFI2017_1C,MEFI2017_2A,MEFI2017_2B,MEFI2017_2C,MEFI2017_3A,MEFI2017_3B,MEFI2017_3C,mefi_joined,join_status,mefi_join_note
230865,"Worcester, MA-CT, Metropolitan Statistical Area",0,1,9,1,4,5,3,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230866,"Worcester, MA-CT, Metropolitan Statistical Area",1,0,9,2,3,2,8,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230867,"Worcester, MA-CT, Metropolitan Statistical Area",1,1,9,1,3,5,6,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230868,"Worcester, MA-CT, Metropolitan Statistical Area",1,1,2,3,4,1,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230869,"Worcester, MA-CT, Metropolitan Statistical Area",0,0,9,1,2,2,7,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230870,"Worcester, MA-CT, Metropolitan Statistical Area",0,0,9,3,1,2,11,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230871,"Worcester, MA-CT, Metropolitan Statistical Area",1,0,2,1,3,5,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230872,"Worcester, MA-CT, Metropolitan Statistical Area",0,0,9,1,3,5,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230873,"Worcester, MA-CT, Metropolitan Statistical Area",0,1,9,1,3,4,5,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230874,"Worcester, MA-CT, Metropolitan Statistical Area",0,1,9,1,3,4,5,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached

In [ ]:
def pull_component_by_name(mefi_path, sheet_name, comp_label, year=2017):
    # Read as two-row header
    df = pd.read_excel(mefi_path, sheet_name=sheet_name, header=[0,1])
    # Find Metro Area column
    metro_col = None
    for col in df.columns:
        if (isinstance(col, tuple) and "metro area" in str(col[0]).lower()) or \
           (isinstance(col, str) and "metro area" in col.lower()):
            metro_col = col
            break
    if metro_col is None:
        raise KeyError(f"Could not find 'Metro Area' in {sheet_name}")

    # Candidate year labels
    year_labels = [year, f"{year}.0", str(year)]
    # Locate ('1A (score)', 2017) style column
    comp_col = None
    for col in df.columns:
        top = col[0] if isinstance(col, tuple) else col
        sub = col[1] if isinstance(col, tuple) else None
        if comp_label in str(top) and "(score)" in str(top):
            if (isinstance(col, tuple) and (sub in year_labels)) or \
               (not isinstance(col, tuple) and str(top).strip()==str(year)):
                comp_col = col
                break
    if comp_col is None:
        # fallback: scan for any column whose top contains comp_label and subheader equals one of year_labels
        for col in df.columns:
            if isinstance(col, tuple):
                if comp_label in str(col[0]) and "(score)" in str(col[0]) and str(col[1]) in map(str, year_labels):
                    comp_col = col
                    break
    # Build tidy
    out = df[[metro_col]].copy()
    out.columns = ["Metro_Area_Name"]
    out[f"MEFI{year}_{comp_label}"] = df[comp_col] if comp_col in df.columns else np.nan
    # normalize name for joining
    out["Metro_Area_Name_N"] = out["Metro_Area_Name"].apply(norm_name)
    # keep one row per metro
    out = (out.groupby("Metro_Area_Name_N", as_index=False)
              .agg({f"MEFI{year}_{comp_label}":"first"}))
    return out

In [ ]:
comps = []
for sheet, label in [("1A","1A"),("1B","1B"),("1C","1C"),
                     ("2A","2A"),("2B","2B"),("2C","2C"),
                     ("3A","3A"),("3B","3B"),("3C","3C")]:
    comps.append(pull_component_by_name(MEFI_XLSX, sheet, label, year=2017))

MEFI2017_comps_byname = comps[0]
for t in comps[1:]:
    MEFI2017_comps_byname = MEFI2017_comps_byname.merge(t, on="Metro_Area_Name_N", how="outer")

# Now attach those to the MEFI 2017 main slice (which already has Metro_Area_Name_N)
MEFI2017_all = (MEFI2017_main  # this has CBSA_CODE, Metro_Area_Name, Metro_Area_Name_N, Overall/Area1-3, BEA_pop_2017
                .merge(MEFI2017_comps_byname, on="Metro_Area_Name_N", how="left")
                .drop(columns=["Metro_Area_Name_N"])
                .drop_duplicates(subset=["CBSA_CODE"]))

KeyError: "Could not find 'Metro Area' in 1A"

In [ ]:
print(BRFSS2017_MEFI.columns.tolist())

['MMSANAME', 'CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_PHYS14D', '_MENT14D', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_MMSA', '_MMSAWT', '_STSTR', 'COUNTY_FIPS', 'CBSA_NAME', 'YEAR', 'CBSA_CODE_ORIG', 'CBSA_CODE_ROLLED', 'CBSA_CODE_CANON', 'is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name', 'MEFI2017_overall', 'MEFI2017_area1', 'MEFI2017_area2', 'MEFI2017_area3', 'MEFI2017_1A', 'MEFI2017_1B', 'MEFI2017_1C', 'MEFI2017_2A', 'MEFI2017_2B', 'MEFI2017_2C', 'MEFI2017_3A', 'MEFI2017_3B', 'MEFI2017_3C', 'mefi_joined', 'join_status', 'mefi_join_note']

In [ ]:
import pandas as pd
import numpy as np
import re
import json

# ========= Helpers =========
def z5(x):
    """Pad CBSA codes to 5 digits with leading zeros"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if re.fullmatch(r"-?\d+(\.\d+)?", s):
        try: s = str(int(float(s)))
        except: pass
    return s.zfill(5)

def norm_name(s):
    """Normalize metro area names for matching"""
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

def add_scope_flags(df, code_col="CBSA_CODE_CANON"):
    """Add flags for micropolitan areas and Puerto Rico"""
    micros = {"10100","25740","33500","35820"}
    puerto_rico = {"10380","41980"}
    df["is_micro"] = df[code_col].isin(micros).astype(int)
    df["is_pr"]    = df[code_col].isin(puerto_rico).astype(int)
    def _note(code):
        if code in micros:      return "Micropolitan area — MEFI not available"
        if code in puerto_rico: return "Puerto Rico — MEFI typically excluded"
        return ""
    df["scope_note"] = df[code_col].map(_note)
    return df

SUMMARY_ROWS = {"min","max","average","median"}

def pull_component_by_name(mefi_path, sheet_name, comp_label, year=2017):
    """
    Extract component scores from MEFI sheets with two-row headers.
    """
    print(f"  Processing sheet: {sheet_name}")

    # Read with 2-row header
    df = pd.read_excel(mefi_path, sheet_name=sheet_name, header=[0,1])

    # Debug: print first few column names to understand structure
    print(f"    First 10 columns: {df.columns[:10].tolist()}")

    # Find Metro Area column - check all parts of tuple column names
    metro_col = None
    for col in df.columns:
        if isinstance(col, tuple):
            # Check both levels of the tuple
            col_combined = ' '.join([str(c).lower() for c in col])
            # Also check individual parts
            for part in col:
                part_str = str(part).lower()
                if "metro area" in part_str or "metro area" in col_combined:
                    metro_col = col
                    print(f"    Found Metro Area column: {col}")
                    break
            if metro_col:
                break
        else:
            # Single-level column name
            col_str = str(col).lower()
            if "metro area" in col_str:
                metro_col = col
                print(f"    Found Metro Area column: {col}")
                break

    if metro_col is None:
        print(f"    Warning: No 'Metro Area' column found in {sheet_name}")
        print(f"    Available columns: {df.columns.tolist()[:15]}")
        return pd.DataFrame({"Metro_Area_Name_N": [], f"MEFI{year}_{comp_label}": []})

    # Find component score column: e.g., ('1A (score)', '2017')
    comp_col = None
    year_labels = {str(year), f"{year}.0", year, float(year)}

    for col in df.columns:
        if isinstance(col, tuple) and len(col) >= 2:
            top, sub = str(col[0]), str(col[1])
            # Match component label with "(score)" and year
            if comp_label.lower() in top.lower() and "(score)" in top.lower():
                # Check if year matches
                if sub in year_labels or str(sub) in year_labels:
                    comp_col = col
                    print(f"    Found score column: {col}")
                    break
                # Also try numeric comparison
                try:
                    if float(sub) == float(year):
                        comp_col = col
                        print(f"    Found score column: {col}")
                        break
                except:
                    pass

    if comp_col is None:
        print(f"    Warning: No score column found for {comp_label} in {sheet_name}")
        print(f"    Looking for pattern: {comp_label}* with year {year}")
        return pd.DataFrame({"Metro_Area_Name_N": [], f"MEFI{year}_{comp_label}": []})

    # Extract the two columns
    out = df[[metro_col, comp_col]].copy()
    out.columns = ["Metro_Area_Name", f"MEFI{year}_{comp_label}"]

    # Drop summary rows
    mask_summary = out["Metro_Area_Name"].astype(str).str.strip().str.lower().isin(SUMMARY_ROWS)
    out = out[~mask_summary].copy()

    # Drop rows where metro name is NaN or empty
    out = out[out["Metro_Area_Name"].notna()].copy()
    out = out[out["Metro_Area_Name"].astype(str).str.strip() != ""].copy()

    # Normalize name for joining
    out["Metro_Area_Name_N"] = out["Metro_Area_Name"].apply(norm_name)

    # Drop empty normalized names
    out = out[out["Metro_Area_Name_N"] != ""].copy()

    # Deduplicate
    out = (out.sort_values("Metro_Area_Name_N")
             .drop_duplicates(subset=["Metro_Area_Name_N"], keep="first"))

    print(f"    Extracted {len(out)} rows")
    return out[["Metro_Area_Name_N", f"MEFI{year}_{comp_label}"]]

# ========= File Paths (UPDATE THESE) =========
SMART2017 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv",
                        dtype=str, low_memory=False)
SMART2022 = pd.read_csv("/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv",
                        dtype=str, low_memory=False)
MEFI_XLSX  = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
LIST1_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

print("=" * 60)
print("STEP 1: Processing OMB List 1 for Metro Division mappings")
print("=" * 60)

# ========= Division → parent CBSA (2023 List 1) =========
l1 = pd.read_excel(LIST1_2023, sheet_name="List 1", dtype=str, header=2)
l1.rename(columns=lambda c: c.strip(), inplace=True)

if "CBSA Code" in l1.columns:
    l1["CBSA Code"] = l1["CBSA Code"].apply(z5)
if "Metropolitan Division Code" in l1.columns:
    l1["Metropolitan Division Code"] = l1["Metropolitan Division Code"].apply(z5)

div2cbsa = {}
if {"Metropolitan Division Code","CBSA Code"}.issubset(l1.columns):
    div2cbsa = (l1[["Metropolitan Division Code","CBSA Code"]]
                .dropna().drop_duplicates()
                .set_index("Metropolitan Division Code")["CBSA Code"].to_dict())

print(f"  Found {len(div2cbsa)} Metro Division → CBSA mappings")

# ========= Legacy → current mapping =========
legacy_to_current = {
    # Metro Division → Parent CBSA
    "14454":"14460","15764":"14460","40484":"14460",     # Boston
    "19124":"19100","23104":"19100",                     # Dallas
    "47664":"19820",                                     # Detroit
    "35004":"35620","35084":"35620","35614":"35620",     # New York
    "15804":"37980","33874":"37980",                     # Philadelphia
    # Legacy renames
    "17200":"30150",                                     # Claremont–Lebanon → Lebanon–Claremont
    "19430":"19380",                                     # Dayton–Springfield → Dayton
}

def prep_brfss(df):
    """Prepare BRFSS data with CBSA code standardization"""
    df = df.copy()
    assert "CBSA_CODE" in df.columns, "CBSA_CODE missing in BRFSS file."
    df["CBSA_CODE_ORIG"]   = df["CBSA_CODE"].apply(z5)
    df["CBSA_CODE_ROLLED"] = df["CBSA_CODE_ORIG"].map(div2cbsa).fillna(df["CBSA_CODE_ORIG"])
    df["CBSA_CODE_CANON"]  = df["CBSA_CODE_ROLLED"].replace(legacy_to_current)
    df = add_scope_flags(df, "CBSA_CODE_CANON")
    df = df.drop(columns=["CBSA_CODE"], errors="ignore")
    return df

print("\n" + "=" * 60)
print("STEP 2: Preparing BRFSS 2017 and 2022 data")
print("=" * 60)

B17 = prep_brfss(SMART2017)
B22 = prep_brfss(SMART2022)

print(f"  BRFSS 2017: {len(B17):,} rows")
print(f"  BRFSS 2022: {len(B22):,} rows")

print("\n" + "=" * 60)
print("STEP 3: Reading MEFI panel scores (Overall + Area1-3)")
print("=" * 60)

# ========= MEFI panel (Overall + Area1–3) @ 2017 =========
scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)", header=0)
scores = scores.rename(columns={
    "CBSA Code":"CBSA_CODE",
    "Area 1: Govern-ment Spending":"Area1_GovtSpending",
    "Area 2: Taxes":"Area2_Taxes",
    "Area 3: Labor Market Regulation":"Area3_Labor",
    "Primary\nState":"Primary_State"
})
scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)

MEFI2017 = scores[scores["year"]==2017].copy()
MEFI2017["Metro_Area_Name"] = MEFI2017.get("Unnamed: 2", pd.Series([pd.NA]*len(MEFI2017)))
MEFI2017["Metro_Area_Name_N"] = MEFI2017["Metro_Area_Name"].apply(norm_name)

MEFI2017_main = (MEFI2017
    .rename(columns={
        "Overall":"MEFI2017_overall",
        "Area1_GovtSpending":"MEFI2017_area1",
        "Area2_Taxes":"MEFI2017_area2",
        "Area3_Labor":"MEFI2017_area3"
    })
    [["CBSA_CODE","Metro_Area_Name","Metro_Area_Name_N",
      "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
    .drop_duplicates(subset=["CBSA_CODE"])
)

print(f"  Extracted {len(MEFI2017_main)} metro areas from panel data")

print("\n" + "=" * 60)
print("STEP 4: Extracting component scores (1A-3C) from individual sheets")
print("=" * 60)

# ========= Components 1A–3C by Metro name (two-row headers) =========
parts = []
for sheet, label in [("1A","1A"),("1B","1B"),("1C","1C"),
                     ("2A","2A"),("2B","2B"),("2C","2C"),
                     ("3A","3A"),("3B","3B"),("3C","3C")]:
    parts.append(pull_component_by_name(MEFI_XLSX, sheet, label, year=2017))

MEFI2017_comps = parts[0]
for t in parts[1:]:
    MEFI2017_comps = MEFI2017_comps.merge(t, on="Metro_Area_Name_N", how="outer")

print(f"\n  Combined components: {len(MEFI2017_comps)} unique metro areas")

print("\n" + "=" * 60)
print("STEP 5: Extracting BEA population data")
print("=" * 60)

# ========= BEA population 2017 (two-row header; join by Metro name) =========
try:
    bea = pd.read_excel(MEFI_XLSX, sheet_name="BEA", header=[0,1])

    print(f"  BEA sheet columns (first 10): {bea.columns[:10].tolist()}")

    # Find population column for 2017
    pop_col = None
    for col in bea.columns:
        if isinstance(col, tuple):
            col_combined = ' '.join([str(c).lower() for c in col])
            if "total population" in col_combined or "population" in str(col[0]).lower():
                # Check if 2017 is in the column
                if "2017" in str(col[1]) or "2017" in col_combined:
                    pop_col = col
                    print(f"  Found population column: {col}")
                    break

    # Find metro area name column
    name_col = None
    for col in bea.columns:
        if isinstance(col, tuple):
            col_combined = ' '.join([str(c).lower() for c in col])
            for part in col:
                if "metro area" in str(part).lower() or "metro area" in col_combined:
                    name_col = col
                    print(f"  Found metro name column: {col}")
                    break
            if name_col:
                break
        else:
            if "metro area" in str(col).lower():
                name_col = col
                print(f"  Found metro name column: {col}")
                break

    if pop_col is not None and name_col is not None:
        BEA2017 = bea[[name_col, pop_col]].copy()
        BEA2017.columns = ["Metro_Area_Name","BEA_pop_2017"]
        BEA2017 = BEA2017[pd.to_numeric(BEA2017["BEA_pop_2017"], errors="coerce").notna()].copy()
        BEA2017["BEA_pop_2017"] = BEA2017["BEA_pop_2017"].astype(float)
        BEA2017["Metro_Area_Name_N"] = BEA2017["Metro_Area_Name"].apply(norm_name)
        MEFI2017_main = MEFI2017_main.merge(BEA2017[["Metro_Area_Name_N","BEA_pop_2017"]],
                                            on="Metro_Area_Name_N", how="left")
        print(f"  Added population data for {BEA2017['BEA_pop_2017'].notna().sum()} metro areas")
    else:
        print("  Warning: Could not find population columns in BEA sheet")
except Exception as e:
    print(f"  Warning: Could not extract BEA data: {e}")

print("\n" + "=" * 60)
print("STEP 6: Assembling complete MEFI 2017 dataset")
print("=" * 60)

# ========= Assemble MEFI 2017 bundle =========
MEFI2017_all = (MEFI2017_main
                .merge(MEFI2017_comps, on="Metro_Area_Name_N", how="left")
                .drop(columns=["Metro_Area_Name_N"])
                .drop_duplicates(subset=["CBSA_CODE"])
)

print(f"  Complete MEFI dataset: {len(MEFI2017_all)} metro areas")
print(f"  Columns: {list(MEFI2017_all.columns)}")

print("\n" + "=" * 60)
print("STEP 7: Merging BRFSS with MEFI data")
print("=" * 60)

# ========= Merge function (used for 2017 & 2022) =========
def merge_brfss_mefi(brfss_df, mefi_df, year_label="2017"):
    """Merge BRFSS data with MEFI scores and add join status flags"""
    out = brfss_df.merge(mefi_df, left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left")
    mefi_core = [f"MEFI{year_label}_overall", f"MEFI{year_label}_area1",
                 f"MEFI{year_label}_area2", f"MEFI{year_label}_area3"]
    mefi_core_existing = [c for c in mefi_core if c in out.columns]
    out["mefi_joined"] = out[mefi_core_existing].notna().any(axis=1).astype(int)
    out["join_status"] = np.where(out["mefi_joined"].eq(1), "joined",
                           np.where((out["is_micro"].eq(1) | out["is_pr"].eq(1)), "out_of_scope", "unmatched"))
    out["mefi_join_note"] = np.where(out["mefi_joined"].eq(1), "MEFI attached",
                               np.where(out["scope_note"].ne(""), out["scope_note"], "No MEFI match — check mapping"))
    return out

# ========= Final merges =========
BRFSS2017_MEFI = merge_brfss_mefi(B17, MEFI2017_all, "2017")
BRFSS2022_MEFI = merge_brfss_mefi(B22, MEFI2017_all, "2017")  # per spec: 2022 uses MEFI 2017

print(f"  BRFSS 2017 + MEFI: {len(BRFSS2017_MEFI):,} rows")
print(f"    - Joined: {(BRFSS2017_MEFI['join_status']=='joined').sum():,}")
print(f"    - Out of scope: {(BRFSS2017_MEFI['join_status']=='out_of_scope').sum():,}")
print(f"    - Unmatched: {(BRFSS2017_MEFI['join_status']=='unmatched').sum():,}")

print(f"\n  BRFSS 2022 + MEFI: {len(BRFSS2022_MEFI):,} rows")
print(f"    - Joined: {(BRFSS2022_MEFI['join_status']=='joined').sum():,}")
print(f"    - Out of scope: {(BRFSS2022_MEFI['join_status']=='out_of_scope').sum():,}")
print(f"    - Unmatched: {(BRFSS2022_MEFI['join_status']=='unmatched').sum():,}")

print("\n" + "=" * 60)
print("STEP 8: Saving output files (Parquet + CSV)")
print("=" * 60)

# ========= Save final files - BOTH PARQUET AND CSV =========
out2017_parquet = "/content/drive/MyDrive/Saksham_MEFI/BRFSS2017_MEFI.parquet"
out2022_parquet = "/content/drive/MyDrive/Saksham_MEFI/BRFSS2022_MEFI.parquet"
out2017_csv = "/content/drive/MyDrive/Saksham_MEFI/BRFSS2017_MEFI.csv"
out2022_csv = "/content/drive/MyDrive/Saksham_MEFI/BRFSS2022_MEFI.csv"

# Save Parquet files
BRFSS2017_MEFI.to_parquet(out2017_parquet, index=False)
BRFSS2022_MEFI.to_parquet(out2022_parquet, index=False)

# Save CSV files
BRFSS2017_MEFI.to_csv(out2017_csv, index=False)
BRFSS2022_MEFI.to_csv(out2022_csv, index=False)

print(f"  ✓ Saved Parquet: {out2017_parquet}")
print(f"  ✓ Saved CSV: {out2017_csv}")
print(f"  ✓ Saved Parquet: {out2022_parquet}")
print(f"  ✓ Saved CSV: {out2022_csv}")

# Column dictionary for documentation
col_dict = {
  "join_keys": ["CBSA_CODE_ORIG","CBSA_CODE_ROLLED","CBSA_CODE_CANON","CBSA_CODE (from MEFI bundle)"],
  "flags": ["is_micro","is_pr","scope_note","mefi_joined","join_status","mefi_join_note"],
  "mefi_2017_core": ["MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3","BEA_pop_2017"],
  "mefi_2017_components": ["MEFI2017_1A","MEFI2017_1B","MEFI2017_1C",
                           "MEFI2017_2A","MEFI2017_2B","MEFI2017_2C",
                           "MEFI2017_3A","MEFI2017_3B","MEFI2017_3C"]
}

dict_path = "/content/drive/MyDrive/Saksham_MEFI/MEFI_columns_dictionary.json"
with open(dict_path, "w") as f:
    json.dump(col_dict, f, indent=2)

print(f"  ✓ Saved: {dict_path}")

print("\n" + "=" * 60)
print("PROCESSING COMPLETE!")
print("=" * 60)
print("\nOutput files:")
print("  - BRFSS2017_MEFI.parquet & .csv")
print("  - BRFSS2022_MEFI.parquet & .csv")
print("  - MEFI_columns_dictionary.json")

============================================================
STEP 1: Processing OMB List 1 for Metro Division mappings
============================================================
  Found 37 Metro Division → CBSA mappings

============================================================
STEP 2: Preparing BRFSS 2017 and 2022 data
============================================================
  BRFSS 2017: 230,875 rows
  BRFSS 2022: 237,730 rows

============================================================
STEP 3: Reading MEFI panel scores (Overall + Area1-3)
============================================================
  Extracted 383 metro areas from panel data

============================================================
STEP 4: Extracting component scores (1A-3C) from individual sheets
============================================================
  Processing sheet: 1A
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('1A (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('1A (score)', 2017)
    Extracted 414 rows
  Processing sheet: 1B
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('1B (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('1B (score)', 2017)
    Extracted 414 rows
  Processing sheet: 1C
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('1C (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('1C (score)', 2017)
    Extracted 414 rows
  Processing sheet: 2A
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('2A (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('2A (score)', 2017)
    Extracted 414 rows
  Processing sheet: 2B
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('2B (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('2B (score)', 2017)
    Extracted 414 rows
  Processing sheet: 2C
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('2C (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('2C (score)', 2017)
    Extracted 414 rows
  Processing sheet: 3A
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('3A (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('3A (score)', 2017)
    Extracted 414 rows
  Processing sheet: 3B
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('3B (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('3B (score)', 2017)
    Extracted 414 rows
  Processing sheet: 3C
    First 10 columns: [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('3C (score)', 2017)]
    Found Metro Area column: ('Unnamed: 5_level_0', 'Metro Area')
    Found score column: ('3C (score)', 2017)
    Extracted 414 rows

  Combined components: 414 unique metro areas

============================================================
STEP 5: Extracting BEA population data
============================================================
  BEA sheet columns (first 10): [('Unnamed: 0_level_0', 'MSAs &\ncounties\nABC'), ('Unnamed: 1_level_0', 'MSA&MD order'), ('Unnamed: 2_level_0', 'MSA/MD order'), ('Unnamed: 3_level_0', 'MSA order'), ('Unnamed: 4_level_0', 'State/MSA order'), ('Unnamed: 5_level_0', 'Metro Area'), ('Unnamed: 6_level_0', 'Primary\nState'), ('Unnamed: 7_level_0', 'Area'), ('multi-state', 51), ('Personal income (thousands of dollars)', '2017')]
  Found population column: ('Total population', '2017')
  Found metro name column: ('Unnamed: 5_level_0', 'Metro Area')
  Added population data for 414 metro areas

============================================================
STEP 6: Assembling complete MEFI 2017 dataset
============================================================
  Complete MEFI dataset: 383 metro areas
  Columns: ['CBSA_CODE', 'Metro_Area_Name', 'MEFI2017_overall', 'MEFI2017_area1', 'MEFI2017_area2', 'MEFI2017_area3', 'BEA_pop_2017', 'MEFI2017_1A', 'MEFI2017_1B', 'MEFI2017_1C', 'MEFI2017_2A', 'MEFI2017_2B', 'MEFI2017_2C', 'MEFI2017_3A', 'MEFI2017_3B', 'MEFI2017_3C']

============================================================
STEP 7: Merging BRFSS with MEFI data
============================================================
  BRFSS 2017 + MEFI: 230,875 rows
    - Joined: 212,345
    - Out of scope: 4,544
    - Unmatched: 13,986

  BRFSS 2022 + MEFI: 237,730 rows
    - Joined: 217,820
    - Out of scope: 5,297
    - Unmatched: 14,613

============================================================
STEP 8: Saving output files (Parquet + CSV)
============================================================
  ✓ Saved Parquet: /content/drive/MyDrive/Saksham_MEFI/BRFSS2017_MEFI.parquet
  ✓ Saved CSV: /content/drive/MyDrive/Saksham_MEFI/BRFSS2017_MEFI.csv
  ✓ Saved Parquet: /content/drive/MyDrive/Saksham_MEFI/BRFSS2022_MEFI.parquet
  ✓ Saved CSV: /content/drive/MyDrive/Saksham_MEFI/BRFSS2022_MEFI.csv
  ✓ Saved: /content/drive/MyDrive/Saksham_MEFI/MEFI_columns_dictionary.json

============================================================
PROCESSING COMPLETE!
============================================================

Output files:
  - BRFSS2017_MEFI.parquet & .csv
  - BRFSS2022_MEFI.parquet & .csv
  - MEFI_columns_dictionary.json

In [ ]:
BRFSS2017_MEFI

,MMSANAME,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,...,MEFI2017_1C,MEFI2017_2A,MEFI2017_2B,MEFI2017_2C,MEFI2017_3A,MEFI2017_3B,MEFI2017_3C,mefi_joined,join_status,mefi_join_note
0,"Aberdeen, SD, Micropolitan Statistical Area",1,0,9,1,2,3,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area — MEFI not available
1,"Aberdeen, SD, Micropolitan Statistical Area",0,1,9,1,4,5,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area — MEFI not available
2,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,1,3,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area — MEFI not available
3,"Aberdeen, SD, Micropolitan Statistical Area",0,0,2,1,3,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area — MEFI not available
4,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,3,4,4,13,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area — MEFI not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230870,"Worcester, MA-CT, Metropolitan Statistical Area",0,0,9,3,1,2,11,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230871,"Worcester, MA-CT, Metropolitan Statistical Area",1,0,2,1,3,5,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230872,"Worcester, MA-CT, Metropolitan Statistical Area",0,0,9,1,3,5,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230873,"Worcester, MA-CT, Metropolitan Statistical Area",0,1,9,1,3,4,5,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached
230874,"Worcester, MA-CT, Metropolitan Statistical Area",0,1,9,1,3,4,5,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,joined,MEFI attached

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
import os

excel_files_to_convert = [
    "/content/BRFSS2017_MEFI.xlsx",
    "/content/BRFSS2022_MEFI.xlsx"
]

for excel_path in excel_files_to_convert:
    csv_path = os.path.splitext(excel_path)[0] + '.csv'
    print(f"Converting {excel_path} to {csv_path}")
    try:
        # Read the Excel file, assuming the first sheet is the one needed
        df = pd.read_excel(excel_path, sheet_name=0)
        # Save as CSV
        df.to_csv(csv_path, index=False)
        print(f"Successfully converted {excel_path} to CSV.")
    except FileNotFoundError:
        print(f"Error: File not found at {excel_path}")
    except Exception as e:
        print(f"An error occurred during conversion of {excel_path}: {e}")

Converting /content/BRFSS2017_MEFI.xlsx to /content/BRFSS2017_MEFI.csv
Successfully converted /content/BRFSS2017_MEFI.xlsx to CSV.
Converting /content/BRFSS2022_MEFI.xlsx to /content/BRFSS2022_MEFI.csv
Successfully converted /content/BRFSS2022_MEFI.xlsx to CSV.

In [ ]:
import pandas as pd

file_paths = [
    "/content/BRFSS2017_MEFI.csv", # Use the newly converted CSV
    "/content/BRFSS2022_MEFI.csv", # Use the newly converted CSV
    "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2007.csv",
    "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2008.csv",
    "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2012.csv"
]

for file_path in file_paths:
    print(f"--- Processing file: {file_path} ---")
    try:
        df = pd.read_csv(file_path)
        print("  Columns:", df.columns.tolist())
        print("  Head:")
        display(df.head())
    except FileNotFoundError:
        print(f"  File not found: {file_path}")
    except Exception as e:
        print(f"  An error occurred processing {file_path}: {e}")

--- Processing file: /content/BRFSS2017_MEFI.csv ---
  Columns: ['MMSANAME', 'CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_PHYS14D', '_MENT14D', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_MMSA', '_MMSAWT', '_STSTR', 'COUNTY_FIPS', 'CBSA_NAME', 'YEAR', 'CBSA_CODE_ORIG', 'CBSA_CODE_ROLLED', 'CBSA_CODE_CANON', 'is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name', 'MEFI2017_overall', 'MEFI2017_area1', 'MEFI2017_area2', 'MEFI2017_area3', 'BEA_pop_2017', 'MEFI2017_1A', 'MEFI2017_1B', 'MEFI2017_1C', 'MEFI2017_2A', 'MEFI2017_2B', 'MEFI2017_2C', 'MEFI2017_3A', 'MEFI2017_3B', 'MEFI2017_3C', 'mefi_joined', 'join_status', 'mefi_join_note']
  Head:

/tmp/ipython-input-1246020593.py:14: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,MMSANAME,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,...,MEFI2017_1C,MEFI2017_2A,MEFI2017_2B,MEFI2017_2C,MEFI2017_3A,MEFI2017_3B,MEFI2017_3C,mefi_joined,join_status,mefi_join_note
0,"Aberdeen, SD, Micropolitan Statistical Area",1,0,9,1,2,3,9,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
1,"Aberdeen, SD, Micropolitan Statistical Area",0,1,9,1,4,5,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
2,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,1,3,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
3,"Aberdeen, SD, Micropolitan Statistical Area",0,0,2,1,3,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
4,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,3,4,4,13,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available

--- Processing file: /content/BRFSS2022_MEFI.csv ---
  Columns: ['MMSANAME', 'CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_PHYS14D', '_MENT14D', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_MMSA', '_MMSAWT', '_STSTR', 'COUNTY_FIPS', 'CBSA_NAME', 'YEAR', 'CBSA_CODE_ORIG', 'CBSA_CODE_ROLLED', 'CBSA_CODE_CANON', 'is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name', 'MEFI2017_overall', 'MEFI2017_area1', 'MEFI2017_area2', 'MEFI2017_area3', 'BEA_pop_2017', 'MEFI2017_1A', 'MEFI2017_1B', 'MEFI2017_1C', 'MEFI2017_2A', 'MEFI2017_2B', 'MEFI2017_2C', 'MEFI2017_3A', 'MEFI2017_3B', 'MEFI2017_3C', 'mefi_joined', 'join_status', 'mefi_join_note']
  Head:

/tmp/ipython-input-1246020593.py:14: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,MMSANAME,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,...,MEFI2017_1C,MEFI2017_2A,MEFI2017_2B,MEFI2017_2C,MEFI2017_3A,MEFI2017_3B,MEFI2017_3C,mefi_joined,join_status,mefi_join_note
0,"Aberdeen, SD, Micropolitan Statistical Area",0,1,9,3,2,9,12,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
1,"Aberdeen, SD, Micropolitan Statistical Area",1,1,9,1,4,5,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
2,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,1,4,2,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
3,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,3,2,9,13,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available
4,"Aberdeen, SD, Micropolitan Statistical Area",0,0,9,3,4,2,11,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,out_of_scope,Micropolitan area‚ MEFI not available

--- Processing file: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2007.csv ---
  Columns: ['CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_STATE', '_CNTY', '_WT2', '_CNTYWT', '_STSTR', '_PSU', 'COUNTY_FIPS', 'CBSA_CODE', 'CBSA_NAME', 'YEAR', 'BRFSS_YEAR', 'county_fips5', 'state_fips', 'county_fips', 'cbsa_code_raw', 'cbsa_from_county_current', 'cbsa_title', 'cbsa_from_det_map', 'cbsa_code_current', 'MEFI_YEAR', 'in_mefi_universe', 'mefi_overall', 'mefi_area1', 'mefi_area2', 'mefi_area3', 'mefi_1a', 'mefi_1b', 'mefi_1c', 'mefi_2a', 'mefi_2b', 'mefi_2c', 'mefi_3a', 'mefi_3b', 'mefi_3c', 'mefi_population', 'pop_source']
  Head:

/tmp/ipython-input-1246020593.py:14: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,_RACEGR4,...,mefi_1b,mefi_1c,mefi_2a,mefi_2b,mefi_2c,mefi_3a,mefi_3b,mefi_3c,mefi_population,pop_source
0,0,0,9,3,2,2,11,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
1,1,0,9,1,2,5,4,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
2,1,1,2,3,2,3,2,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
3,1,1,9,1,2,3,3,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
4,0,0,9,3,4,9,11,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea

--- Processing file: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2008.csv ---
  Columns: ['CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_STATE', '_CNTY', '_WT2', '_CNTYWT', '_STSTR', '_PSU', 'COUNTY_FIPS', 'CBSA_CODE', 'CBSA_NAME', 'YEAR', 'BRFSS_YEAR', 'county_fips5', 'state_fips', 'county_fips', 'cbsa_code_raw', 'cbsa_from_county_current', 'cbsa_title', 'cbsa_from_det_map', 'cbsa_code_current', 'MEFI_YEAR', 'in_mefi_universe', 'mefi_overall', 'mefi_area1', 'mefi_area2', 'mefi_area3', 'mefi_1a', 'mefi_1b', 'mefi_1c', 'mefi_2a', 'mefi_2b', 'mefi_2c', 'mefi_3a', 'mefi_3b', 'mefi_3c', 'mefi_population', 'pop_source']
  Head:

/tmp/ipython-input-1246020593.py:14: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,_RACEGR4,...,mefi_1b,mefi_1c,mefi_2a,mefi_2b,mefi_2c,mefi_3a,mefi_3b,mefi_3c,mefi_population,pop_source
0,0,0,9,3,2,2,6,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
1,0,0,9,1,2,9,6,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
2,1,0,2,1,3,3,2,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
3,1,1,9,1,3,9,7,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea
4,1,0,9,1,4,5,8,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107256.0,bea

--- Processing file: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2012.csv ---
  Columns: ['CHILDREN', 'MARITAL', 'PREGNANT', 'EMPLOY1', '_EDUCAG', '_INCOMG1', '_AGEG5YR', '_AGEG65YR', '_RACEG22', '_RACEGR4', '_HLTHPLN', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', '_RFHLTH', 'BMI_RAW', 'BMI_CATEGORY', 'EXERCISE_30D', '_STATE', '_CNTY', '_CNTYWT', '_STSTR', '_PSU', 'COUNTY_FIPS', 'CBSA_CODE', 'CBSA_NAME', 'YEAR', 'BRFSS_YEAR', 'county_fips5', 'state_fips', 'county_fips', 'cbsa_code_raw', 'cbsa_from_county_current', 'cbsa_title', 'cbsa_from_det_map', 'cbsa_code_current', 'MEFI_YEAR', 'in_mefi_universe', 'mefi_overall', 'mefi_area1', 'mefi_area2', 'mefi_area3', 'mefi_1a', 'mefi_1b', 'mefi_1c', 'mefi_2a', 'mefi_2b', 'mefi_2c', 'mefi_3a', 'mefi_3b', 'mefi_3c', 'mefi_population', 'pop_source']
  Head:

/tmp/ipython-input-1246020593.py:14: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,CHILDREN,MARITAL,PREGNANT,EMPLOY1,_EDUCAG,_INCOMG1,_AGEG5YR,_AGEG65YR,_RACEG22,_RACEGR4,...,mefi_1b,mefi_1c,mefi_2a,mefi_2b,mefi_2c,mefi_3a,mefi_3b,mefi_3c,mefi_population,pop_source
0,0,1,9,3,2,5,11,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1133835.0,bea
1,1,0,2,3,2,1,3,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1133835.0,bea
2,0,0,9,3,1,1,13,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1133835.0,bea
3,0,0,9,3,1,9,8,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1133835.0,bea
4,1,1,9,1,3,5,8,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1133835.0,bea

# Task
Investigate the columns and head of the following files: "/content/BRFSS2017_MEFI.xlsx", "/content/BRFSS2022_MEFI.xlsx", "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2007.csv", "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2008.csv", "/content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2012.csv". Then, load all of these files, get their columns, and display the head of each. Finally, based on the columns 'is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name', 'MEFI2017_overall', 'MEFI2017_area1', 'MEFI2017_area2', 'MEFI2017_area3', 'BEA_pop_2017', 'MEFI2017_1A', 'MEFI2017_1B', 'MEFI2017_1C', 'MEFI2017_2A', 'MEFI2017_2B', 'MEFI2017_2C', 'MEFI2017_3A', 'MEFI2017_3B', 'MEFI2017_3C', 'mefi_joined', 'join_status', 'mefi_join_note', and all other columns present in the files, append all MDivs to their larger MSA, label micropolitan areas, Puerto Rico/non-states, and any other independent counties for exclusion, exclude any past MSAs that are in MEFI (specifically Poughkeepsie), identify Connecticut codes that need to be associated with their old counties to then associate them with one of the Connecticut MSAs, and default to the most current/modern name for mapping if there are discrepancies in naming.

In [ ]:
# Filter dataframes by 'mefi_join_note' values and display CBSA codes
mefi_note_values = [
    "No MEFI match — check mapping", # Using the full string from previous output
    "Puerto Rico — MEFI typically excluded",
    "Micropolitan area — MEFI not available"
]

for file_path, df in dataframes.items():
    print(f"\n--- Analyzing '{'mefi_join_note' if 'mefi_join_note' in df.columns else 'N/A'}' in DataFrame from: {file_path} ---")

    if 'mefi_join_note' in df.columns and 'CBSA_CODE_CANON' in df.columns:
        for note_value in mefi_note_values:
            # Handle potential slight variations in the string (e.g., different dashes or spaces)
            # Create a mask that allows for some flexibility
            mask = df['mefi_join_note'].astype(str).str.contains(note_value.split('—')[0].strip(), na=False)

            filtered_cbsa_codes = df.loc[mask, 'CBSA_CODE_CANON'].dropna().unique()
            print(f"  CBSA Codes for '{note_value}':")
            if len(filtered_cbsa_codes) > 0:
                # Display up to the first 20 unique codes to avoid overwhelming output
                display(filtered_cbsa_codes[:20])
                if len(filtered_cbsa_codes) > 20:
                    print(f"    (and {len(filtered_cbsa_codes) - 20} more)")
            else:
                print("    No rows found with this note.")
    else:
        print("  Required columns ('mefi_join_note' or 'CBSA_CODE_CANON') not found in this file.")

--- Analyzing 'mefi_join_note' in DataFrame from: /content/BRFSS2017_MEFI.csv ---
  CBSA Codes for 'No MEFI match — check mapping':

array([30150, 41460, 42420, 43524, 47894])

  CBSA Codes for 'Puerto Rico — MEFI typically excluded':

array([41980])

  CBSA Codes for 'Micropolitan area — MEFI not available':

array([10100, 33500, 35820])

--- Analyzing 'mefi_join_note' in DataFrame from: /content/BRFSS2022_MEFI.csv ---
  CBSA Codes for 'No MEFI match — check mapping':

array([30100, 35154, 39100, 47894, 47980])

  CBSA Codes for 'Puerto Rico — MEFI typically excluded':

array([10380, 41980])

  CBSA Codes for 'Micropolitan area — MEFI not available':

array([10100, 25740])

--- Analyzing 'N/A' in DataFrame from: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2007.csv ---
  Required columns ('mefi_join_note' or 'CBSA_CODE_CANON') not found in this file.

--- Analyzing 'N/A' in DataFrame from: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2008.csv ---
  Required columns ('mefi_join_note' or 'CBSA_CODE_CANON') not found in this file.

--- Analyzing 'N/A' in DataFrame from: /content/drive/MyDrive/Saksham_MEFI/phase1_out/brfss_mefi_2012.csv ---
  Required columns ('mefi_join_note' or 'CBSA_CODE_CANON') not found in this file.

In [ ]:
# Display requested column names with 2017 and 2022 suffixes

column_bases = [
    'is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name',
    'overall', 'area1', 'area2', 'area3', 'pop',
    '1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C',
    'mefi_joined', 'join_status', 'mefi_join_note'
]

years = [2017, 2022]

print("Requested column names with year suffixes:")
for base in column_bases:
    # Handle columns that might not have a year suffix convention
    if base in ['is_micro', 'is_pr', 'scope_note', 'CBSA_CODE', 'Metro_Area_Name',
                'mefi_joined', 'join_status', 'mefi_join_note']:
        print(base)
    else:
        for year in years:
            print(f"MEFI{year}_{base}")

Requested column names with year suffixes:
is_micro
is_pr
scope_note
CBSA_CODE
Metro_Area_Name
MEFI2017_overall
MEFI2022_overall
MEFI2017_area1
MEFI2022_area1
MEFI2017_area2
MEFI2022_area2
MEFI2017_area3
MEFI2022_area3
MEFI2017_pop
MEFI2022_pop
MEFI2017_1A
MEFI2022_1A
MEFI2017_1B
MEFI2022_1B
MEFI2017_1C
MEFI2022_1C
MEFI2017_2A
MEFI2022_2A
MEFI2017_2B
MEFI2022_2B
MEFI2017_2C
MEFI2022_2C
MEFI2017_3A
MEFI2022_3A
MEFI2017_3B
MEFI2022_3B
MEFI2017_3C
MEFI2022_3C
mefi_joined
join_status
mefi_join_note

## Load and prepare data

### Subtask:
Load all specified BRFSS and MEFI files into pandas DataFrames, ensuring consistent data types and initial column standardization, especially for geographical codes.

In [ ]:
"""
BRFSS-MEFI Data Discovery Script
Purpose: Understand current data structure and identify issues before refinement
"""

import pandas as pd
import numpy as np
from pathlib import Path

# ============================================================================
# CONFIGURATION
# ============================================================================
FILES = {
    "2017": "/content/BRFSS2017_MEFI.csv",
    "2022": "/content/BRFSS2022_MEFI.csv"
}

print("=" * 80)
print("BRFSS-MEFI DATA DISCOVERY")
print("=" * 80)

# ============================================================================
# 1. LOAD AND INSPECT FILES
# ============================================================================
dataframes = {}
for year, path in FILES.items():
    print(f"\n{'='*80}")
    print(f"YEAR: {year}")
    print(f"{'='*80}")

    try:
        df = pd.read_csv(path, dtype=str, low_memory=False)
        dataframes[year] = df

        print(f"\n📊 BASIC INFO:")
        print(f"  Rows: {len(df):,}")
        print(f"  Columns: {len(df.columns)}")

        print(f"\n📋 COLUMNS PRESENT:")
        cols_sorted = sorted(df.columns.tolist())
        for i, col in enumerate(cols_sorted, 1):
            print(f"  {i:3d}. {col}")

        # Identify key columns
        key_cols = [c for c in df.columns if any(x in c.upper() for x in
                   ['CBSA', 'METRO', 'MEFI', 'JOIN', 'STATUS', 'MICRO', 'PR', 'SCOPE'])]
        print(f"\n🔑 KEY COLUMNS ({len(key_cols)}):")
        for col in key_cols:
            print(f"  - {col}")

    except FileNotFoundError:
        print(f"  ❌ File not found: {path}")
        continue
    except Exception as e:
        print(f"  ❌ Error loading {path}: {e}")
        continue

# ============================================================================
# 2. ANALYZE CBSA CODE COLUMNS
# ============================================================================
print(f"\n\n{'='*80}")
print("CBSA CODE ANALYSIS")
print("=" * 80)

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    # Check which CBSA columns exist
    cbsa_cols = [c for c in df.columns if 'CBSA' in c.upper() and 'CODE' in c.upper()]
    print(f"CBSA Code Columns: {cbsa_cols}")

    for col in cbsa_cols:
        if col in df.columns:
            n_unique = df[col].nunique()
            n_missing = df[col].isna().sum()
            print(f"\n  {col}:")
            print(f"    Unique values: {n_unique:,}")
            print(f"    Missing: {n_missing:,} ({100*n_missing/len(df):.1f}%)")
            print(f"    Sample values: {df[col].dropna().unique()[:5].tolist()}")

# ============================================================================
# 3. JOIN STATUS ANALYSIS
# ============================================================================
print(f"\n\n{'='*80}")
print("JOIN STATUS ANALYSIS")
print("=" * 80)

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    if 'join_status' in df.columns:
        print("\n📊 Join Status Distribution:")
        status_counts = df['join_status'].value_counts(dropna=False)
        for status, count in status_counts.items():
            pct = 100 * count / len(df)
            print(f"  {str(status):20s}: {count:8,} ({pct:5.1f}%)")

    if 'mefi_join_note' in df.columns:
        print("\n📝 Join Note Distribution:")
        note_counts = df['mefi_join_note'].value_counts(dropna=False)
        for note, count in note_counts.head(10).items():
            pct = 100 * count / len(df)
            note_str = str(note)[:50]
            print(f"  {note_str:50s}: {count:8,} ({pct:5.1f}%)")

# ============================================================================
# 4. SCOPE FLAGS ANALYSIS
# ============================================================================
print(f"\n\n{'='*80}")
print("SCOPE FLAGS ANALYSIS")
print("=" * 80)

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    flag_cols = ['is_micro', 'is_pr', 'scope_note']
    for col in flag_cols:
        if col in df.columns:
            if col in ['is_micro', 'is_pr']:
                val_counts = df[col].value_counts(dropna=False)
                print(f"\n  {col}:")
                for val, count in val_counts.items():
                    print(f"    {val}: {count:,}")
            else:
                print(f"\n  {col} (unique values): {df[col].nunique()}")
                top_notes = df[col].value_counts().head(5)
                for note, count in top_notes.items():
                    print(f"    {str(note)[:60]:60s}: {count:,}")

# ============================================================================
# 5. IDENTIFY PROBLEMATIC ENTRIES
# ============================================================================
print(f"\n\n{'='*80}")
print("PROBLEMATIC ENTRIES SEARCH")
print("=" * 80)

# Keywords to search for based on user's issues
search_terms = {
    "New Brunswick": ["new brunswick", "lakewood"],
    "Poughkeepsie": ["poughkeepsie", "newburgh", "middletown"],
    "Washington DC MDiv": ["washington-arlington-alexandria", "mdiv", "division"],
    "Silver Spring": ["silver spring", "frederick", "rockville"],
    "Connecticut": ["09001", "09002", "09003", "09004", "09005", "09006",
                   "09007", "09008", "09009", "09010", "09011", "09012",
                   "09013", "09014", "09015"],
    "Cleveland": ["cleveland", "elyria"],
    "Dayton": ["dayton", "kettering", "beavercreek"]
}

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    # Check if we have a metro name column
    name_cols = [c for c in df.columns if 'metro' in c.lower() and 'name' in c.lower()]
    name_col = name_cols[0] if name_cols else None

    if name_col:
        print(f"\n  Using column: {name_col}")

    for issue_name, keywords in search_terms.items():
        print(f"\n  🔍 Searching for: {issue_name}")

        matches = pd.Series([False] * len(df))

        # Search in all text columns
        text_cols = df.select_dtypes(include=['object']).columns
        for col in text_cols:
            if df[col].notna().any():
                for keyword in keywords:
                    matches |= df[col].astype(str).str.lower().str.contains(keyword, na=False)

        n_matches = matches.sum()
        print(f"    Found: {n_matches:,} rows")

        if n_matches > 0 and n_matches < 1000:
            # Show sample with key columns
            sample_cols = ['CBSA_CODE_ORIG', 'CBSA_CODE_CANON', 'join_status',
                          'mefi_join_note'] if 'CBSA_CODE_ORIG' in df.columns else df.columns[:5]
            sample_cols = [c for c in sample_cols if c in df.columns]
            if name_col and name_col in df.columns:
                sample_cols.append(name_col)

            unique_matches = df[matches][sample_cols].drop_duplicates()
            print(f"    Unique combinations: {len(unique_matches)}")
            if len(unique_matches) <= 5:
                print("\n    Sample:")
                for idx, row in unique_matches.head(5).iterrows():
                    print(f"      {row.to_dict()}")

# ============================================================================
# 6. METROPOLITAN DIVISION DETECTION
# ============================================================================
print(f"\n\n{'='*80}")
print("METROPOLITAN DIVISION DETECTION")
print("=" * 80)

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    # Look for "Metropolitan Division" or "MDiv" in text columns
    mdiv_mask = pd.Series([False] * len(df))
    text_cols = df.select_dtypes(include=['object']).columns

    for col in text_cols:
        if df[col].notna().any():
            mdiv_mask |= df[col].astype(str).str.contains(
                r'metropolitan division|mdiv|m\.div',
                case=False,
                regex=True,
                na=False
            )

    n_mdiv = mdiv_mask.sum()
    print(f"  Potential MDiv entries: {n_mdiv:,} rows")

    if n_mdiv > 0:
        # Get unique CBSA codes that appear to be MDivs
        if 'CBSA_CODE_CANON' in df.columns:
            mdiv_codes = df[mdiv_mask]['CBSA_CODE_CANON'].value_counts().head(20)
            print(f"\n  Top MDiv CBSA codes:")
            for code, count in mdiv_codes.items():
                print(f"    {code}: {count:,} occurrences")

# ============================================================================
# 7. UNMATCHED ANALYSIS
# ============================================================================
print(f"\n\n{'='*80}")
print("UNMATCHED ENTRIES ANALYSIS")
print("=" * 80)

for year, df in dataframes.items():
    print(f"\n--- {year} ---")

    if 'join_status' in df.columns:
        unmatched = df[df['join_status'] == 'unmatched']
        print(f"  Total unmatched: {len(unmatched):,} rows")

        if len(unmatched) > 0 and 'CBSA_CODE_CANON' in df.columns:
            print(f"\n  Top 20 unmatched CBSA codes:")
            code_counts = unmatched['CBSA_CODE_CANON'].value_counts().head(20)
            for code, count in code_counts.items():
                # Get sample row for context
                sample = unmatched[unmatched['CBSA_CODE_CANON'] == code].iloc[0]
                note = sample.get('mefi_join_note', 'N/A')
                scope = sample.get('scope_note', 'N/A')
                print(f"    {code}: {count:6,} rows | Note: {str(note)[:40]:40s}")

# ============================================================================
# 8. SUMMARY & RECOMMENDATIONS
# ============================================================================
print(f"\n\n{'='*80}")
print("SUMMARY & NEXT STEPS")
print("=" * 80)

print("\n📋 KEY COLUMNS TO WORK WITH:")
if dataframes:
    sample_df = list(dataframes.values())[0]
    key_columns = {
        "CBSA Codes": [c for c in sample_df.columns if 'CBSA' in c.upper() and 'CODE' in c.upper()],
        "Status Flags": [c for c in sample_df.columns if any(x in c.lower() for x in ['status', 'joined', 'micro', 'pr'])],
        "Names": [c for c in sample_df.columns if 'name' in c.lower()],
        "MEFI Scores": [c for c in sample_df.columns if 'MEFI' in c.upper() and any(x in c for x in ['overall', 'area', 'A', 'B', 'C'])]
    }

    for category, cols in key_columns.items():
        if cols:
            print(f"\n  {category}:")
            for col in cols:
                print(f"    - {col}")

print("\n\n🔧 REQUIRED FIXES:")
print("  1. ✅ Load OMB List 1 (2023 + historical) for MDiv → MSA mappings")
print("  2. ✅ Create comprehensive div2cbsa dictionary")
print("  3. ✅ Add Poughkeepsie to exclusion list")
print("  4. ✅ Map Connecticut FIPS codes (09001-09015) to counties → MSAs")
print("  5. ✅ Handle New Brunswick → NY MSA mapping")
print("  6. ✅ Ensure all Washington DC MDivs → DC MSA")
print("  7. ✅ Verify Cleveland and Dayton mappings")
print("  8. ✅ Add column to retain both MDiv and MSA names")

print("\n✨ Discovery complete! Ready to discuss requirements.\n")

================================================================================
BRFSS-MEFI DATA DISCOVERY
================================================================================

================================================================================
YEAR: 2017
================================================================================

📊 BASIC INFO:
  Rows: 230,875
  Columns: 54

📋 COLUMNS PRESENT:
    1. BEA_pop_2017
    2. BMI_CATEGORY
    3. BMI_RAW
    4. CBSA_CODE
    5. CBSA_CODE_CANON
    6. CBSA_CODE_ORIG
    7. CBSA_CODE_ROLLED
    8. CBSA_NAME
    9. CHILDREN
   10. COUNTY_FIPS
   11. EMPLOY1
   12. EXERCISE_30D
   13. GENHLTH
   14. MARITAL
   15. MEFI2017_1A
   16. MEFI2017_1B
   17. MEFI2017_1C
   18. MEFI2017_2A
   19. MEFI2017_2B
   20. MEFI2017_2C
   21. MEFI2017_3A
   22. MEFI2017_3B
   23. MEFI2017_3C
   24. MEFI2017_area1
   25. MEFI2017_area2
   26. MEFI2017_area3
   27. MEFI2017_overall
   28. MENTHLTH
   29. MMSANAME
   30. Metro_Area_Name
   31. PHYSHLTH
   32. POORHLTH
   33. PREGNANT
   34. SEXVAR
   35. YEAR
   36. _AGEG5YR
   37. _AGEG65YR
   38. _EDUCAG
   39. _HLTHPLN
   40. _INCOMG1
   41. _MENT14D
   42. _MMSA
   43. _MMSAWT
   44. _PHYS14D
   45. _RACEG22
   46. _RACEGR4
   47. _RFHLTH
   48. _STSTR
   49. is_micro
   50. is_pr
   51. join_status
   52. mefi_join_note
   53. mefi_joined
   54. scope_note

🔑 KEY COLUMNS (26):
  - PREGNANT
  - CBSA_NAME
  - CBSA_CODE_ORIG
  - CBSA_CODE_ROLLED
  - CBSA_CODE_CANON
  - is_micro
  - is_pr
  - scope_note
  - CBSA_CODE
  - Metro_Area_Name
  - MEFI2017_overall
  - MEFI2017_area1
  - MEFI2017_area2
  - MEFI2017_area3
  - MEFI2017_1A
  - MEFI2017_1B
  - MEFI2017_1C
  - MEFI2017_2A
  - MEFI2017_2B
  - MEFI2017_2C
  - MEFI2017_3A
  - MEFI2017_3B
  - MEFI2017_3C
  - mefi_joined
  - join_status
  - mefi_join_note

================================================================================
YEAR: 2022
================================================================================

📊 BASIC INFO:
  Rows: 237,730
  Columns: 54

📋 COLUMNS PRESENT:
    1. BEA_pop_2017
    2. BMI_CATEGORY
    3. BMI_RAW
    4. CBSA_CODE
    5. CBSA_CODE_CANON
    6. CBSA_CODE_ORIG
    7. CBSA_CODE_ROLLED
    8. CBSA_NAME
    9. CHILDREN
   10. COUNTY_FIPS
   11. EMPLOY1
   12. EXERCISE_30D
   13. GENHLTH
   14. MARITAL
   15. MEFI2017_1A
   16. MEFI2017_1B
   17. MEFI2017_1C
   18. MEFI2017_2A
   19. MEFI2017_2B
   20. MEFI2017_2C
   21. MEFI2017_3A
   22. MEFI2017_3B
   23. MEFI2017_3C
   24. MEFI2017_area1
   25. MEFI2017_area2
   26. MEFI2017_area3
   27. MEFI2017_overall
   28. MENTHLTH
   29. MMSANAME
   30. Metro_Area_Name
   31. PHYSHLTH
   32. POORHLTH
   33. PREGNANT
   34. SEXVAR
   35. YEAR
   36. _AGEG5YR
   37. _AGEG65YR
   38. _EDUCAG
   39. _HLTHPLN
   40. _INCOMG1
   41. _MENT14D
   42. _MMSA
   43. _MMSAWT
   44. _PHYS14D
   45. _RACEG22
   46. _RACEGR4
   47. _RFHLTH
   48. _STSTR
   49. is_micro
   50. is_pr
   51. join_status
   52. mefi_join_note
   53. mefi_joined
   54. scope_note

🔑 KEY COLUMNS (26):
  - PREGNANT
  - CBSA_NAME
  - CBSA_CODE_ORIG
  - CBSA_CODE_ROLLED
  - CBSA_CODE_CANON
  - is_micro
  - is_pr
  - scope_note
  - CBSA_CODE
  - Metro_Area_Name
  - MEFI2017_overall
  - MEFI2017_area1
  - MEFI2017_area2
  - MEFI2017_area3
  - MEFI2017_1A
  - MEFI2017_1B
  - MEFI2017_1C
  - MEFI2017_2A
  - MEFI2017_2B
  - MEFI2017_2C
  - MEFI2017_3A
  - MEFI2017_3B
  - MEFI2017_3C
  - mefi_joined
  - join_status
  - mefi_join_note


================================================================================
CBSA CODE ANALYSIS
================================================================================

--- 2017 ---
CBSA Code Columns: ['CBSA_CODE_ORIG', 'CBSA_CODE_ROLLED', 'CBSA_CODE_CANON', 'CBSA_CODE']

  CBSA_CODE_ORIG:
    Unique values: 136
    Missing: 0 (0.0%)
    Sample values: ['10100', '10580', '10740', '10900', '11260']

  CBSA_CODE_ROLLED:
    Unique values: 128
    Missing: 0 (0.0%)
    Sample values: ['10100', '10580', '10740', '10900', '11260']

  CBSA_CODE_CANON:
    Unique values: 128
    Missing: 0 (0.0%)
    Sample values: ['10100', '10580', '10740', '10900', '11260']

  CBSA_CODE:
    Unique values: 119
    Missing: 18,530 (8.0%)
    Sample values: ['10580.0', '10740.0', '10900.0', '11260.0', '12060.0']

--- 2022 ---
CBSA Code Columns: ['CBSA_CODE_ORIG', 'CBSA_CODE_ROLLED', 'CBSA_CODE_CANON', 'CBSA_CODE']

  CBSA_CODE_ORIG:
    Unique values: 131
    Missing: 0 (0.0%)
    Sample values: ['10100', '10380', '10420', '10580', '10740']

  CBSA_CODE_ROLLED:
    Unique values: 124
    Missing: 0 (0.0%)
    Sample values: ['10100', '10380', '10420', '10580', '10740']

  CBSA_CODE_CANON:
    Unique values: 124
    Missing: 0 (0.0%)
    Sample values: ['10100', '10380', '10420', '10580', '10740']

  CBSA_CODE:
    Unique values: 115
    Missing: 19,910 (8.4%)
    Sample values: ['10420.0', '10580.0', '10740.0', '11260.0', '12060.0']


================================================================================
JOIN STATUS ANALYSIS
================================================================================

--- 2017 ---

📊 Join Status Distribution:
  joined              :  212,345 ( 92.0%)
  unmatched           :   13,986 (  6.1%)
  out_of_scope        :    4,544 (  2.0%)

📝 Join Note Distribution:
  MEFI attached                                     :  212,345 ( 92.0%)
  No MEFI match                                     :   13,986 (  6.1%)
  Puerto Rico ‚Äî MEFI typically excluded           :    2,815 (  1.2%)
  Micropolitan area‚ MEFI not available             :    1,729 (  0.7%)

--- 2022 ---

📊 Join Status Distribution:
  joined              :  217,820 ( 91.6%)
  unmatched           :   14,613 (  6.1%)
  out_of_scope        :    5,297 (  2.2%)

📝 Join Note Distribution:
  MEFI attached                                     :  217,820 ( 91.6%)
  No MEFI match                                     :   14,613 (  6.1%)
  Puerto Rico ‚Äî MEFI typically excluded           :    3,981 (  1.7%)
  Micropolitan area‚ MEFI not available             :    1,316 (  0.6%)


================================================================================
SCOPE FLAGS ANALYSIS
================================================================================

--- 2017 ---

  is_micro:
    0: 229,146
    1: 1,729

  is_pr:
    0: 228,060
    1: 2,815

  scope_note (unique values): 2
    Puerto Rico ‚Äî MEFI typically excluded                     : 2,815
    Micropolitan area‚ MEFI not available                       : 1,729

--- 2022 ---

  is_micro:
    0: 236,414
    1: 1,316

  is_pr:
    0: 233,749
    1: 3,981

  scope_note (unique values): 2
    Puerto Rico ‚Äî MEFI typically excluded                     : 3,981
    Micropolitan area‚ MEFI not available                       : 1,316


================================================================================
PROBLEMATIC ENTRIES SEARCH
================================================================================

--- 2017 ---

  Using column: Metro_Area_Name

  🔍 Searching for: New Brunswick
    Found: 4,677 rows

  🔍 Searching for: Poughkeepsie
    Found: 0 rows

  🔍 Searching for: Washington DC MDiv
    Found: 45,154 rows

  🔍 Searching for: Silver Spring
    Found: 2,442 rows

  🔍 Searching for: Connecticut
    Found: 6,492 rows

  🔍 Searching for: Cleveland
    Found: 1,133 rows

  🔍 Searching for: Dayton
    Found: 1,330 rows

--- 2022 ---

  Using column: Metro_Area_Name

  🔍 Searching for: New Brunswick
    Found: 6,890 rows

  🔍 Searching for: Poughkeepsie
    Found: 4,388 rows

  🔍 Searching for: Washington DC MDiv
    Found: 55,822 rows

  🔍 Searching for: Silver Spring
    Found: 3,046 rows

  🔍 Searching for: Connecticut
    Found: 7,036 rows

  🔍 Searching for: Cleveland
    Found: 1,437 rows

  🔍 Searching for: Dayton
    Found: 850 rows
    Unique combinations: 1

    Sample:
      {'CBSA_CODE_ORIG': '19430', 'CBSA_CODE_CANON': '19380', 'join_status': 'joined', 'mefi_join_note': 'MEFI attached', 'Metro_Area_Name': 'Dayton, OH MSA'}


================================================================================
METROPOLITAN DIVISION DETECTION
================================================================================

--- 2017 ---
  Potential MDiv entries: 45,154 rows

  Top MDiv CBSA codes:
    35620: 13,692 occurrences
    47894: 8,542 occurrences
    14460: 5,652 occurrences
    37980: 5,634 occurrences
    42660: 4,189 occurrences
    19820: 2,542 occurrences
    43524: 2,442 occurrences
    19100: 1,765 occurrences
    41860: 696 occurrences

--- 2022 ---
  Potential MDiv entries: 55,822 rows

  Top MDiv CBSA codes:
    35620: 13,798 occurrences
    42660: 8,847 occurrences
    14460: 8,785 occurrences
    47894: 8,759 occurrences
    37980: 3,816 occurrences
    19100: 3,347 occurrences
    47900: 3,046 occurrences
    19820: 2,328 occurrences
    35154: 2,235 occurrences
    41860: 861 occurrences


================================================================================
UNMATCHED ENTRIES ANALYSIS
================================================================================

--- 2017 ---
  Total unmatched: 13,986 rows

  Top 20 unmatched CBSA codes:
    47894:  8,542 rows | Note: No MEFI match
    43524:  2,442 rows | Note: No MEFI match
    30150:  1,763 rows | Note: No MEFI match
    41460:    623 rows | Note: No MEFI match
    42420:    616 rows | Note: No MEFI match

--- 2022 ---
  Total unmatched: 14,613 rows

  Top 20 unmatched CBSA codes:
    47894:  8,759 rows | Note: No MEFI match
    35154:  2,235 rows | Note: No MEFI match
    30100:  2,066 rows | Note: No MEFI match
    47980:  1,036 rows | Note: No MEFI match
    39100:    517 rows | Note: No MEFI match


================================================================================
SUMMARY & NEXT STEPS
================================================================================

📋 KEY COLUMNS TO WORK WITH:

  CBSA Codes:
    - CBSA_CODE_ORIG
    - CBSA_CODE_ROLLED
    - CBSA_CODE_CANON
    - CBSA_CODE

  Status Flags:
    - PREGNANT
    - is_micro
    - is_pr
    - mefi_joined
    - join_status

  Names:
    - MMSANAME
    - CBSA_NAME
    - Metro_Area_Name

  MEFI Scores:
    - MEFI2017_overall
    - MEFI2017_area1
    - MEFI2017_area2
    - MEFI2017_area3
    - MEFI2017_1A
    - MEFI2017_1B
    - MEFI2017_1C
    - MEFI2017_2A
    - MEFI2017_2B
    - MEFI2017_2C
    - MEFI2017_3A
    - MEFI2017_3B
    - MEFI2017_3C


🔧 REQUIRED FIXES:
  1. ✅ Load OMB List 1 (2023 + historical) for MDiv → MSA mappings
  2. ✅ Create comprehensive div2cbsa dictionary
  3. ✅ Add Poughkeepsie to exclusion list
  4. ✅ Map Connecticut FIPS codes (09001-09015) to counties → MSAs
  5. ✅ Handle New Brunswick → NY MSA mapping
  6. ✅ Ensure all Washington DC MDivs → DC MSA
  7. ✅ Verify Cleveland and Dayton mappings
  8. ✅ Add column to retain both MDiv and MSA names

✨ Discovery complete! Ready to discuss requirements.

In [ ]:
"""
Source Files Discovery Script
Purpose: Analyze OMB List 1 and MEFI files to understand available mappings
"""

import pandas as pd
import numpy as np

print("=" * 80)
print("SOURCE FILES DISCOVERY - OMB LIST 1 & MEFI")
print("=" * 80)

# ============================================================================
# 1. ANALYZE OMB LIST 1 FILES
# ============================================================================
print(f"\n{'='*80}")
print("OMB LIST 1 ANALYSIS")
print("=" * 80)

list1_files = {
    "List1_Old": "/content/drive/MyDrive/Saksham_MEFI/list1.xls",
    "List1_2023": "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"
}

def z5(x):
    """Pad codes to 5 digits"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

list1_data = {}

for name, path in list1_files.items():
    print(f"\n--- {name} ---")
    try:
        # Try reading with header detection
        df = pd.read_excel(path, sheet_name="List 1", dtype=str)

        # Show first few rows to understand structure
        print(f"\nFirst 5 rows of column names:")
        print(df.head(5).columns.tolist())

        # Try with different header rows
        for header_row in [0, 1, 2]:
            try:
                df_test = pd.read_excel(path, sheet_name="List 1", header=header_row, dtype=str)
                print(f"\nWith header={header_row}, columns ({len(df_test.columns)}):")
                print(df_test.columns.tolist()[:10])

                # Look for key columns
                key_terms = ['cbsa', 'division', 'county', 'state', 'csa', 'title']
                found_cols = [c for c in df_test.columns if any(term in str(c).lower() for term in key_terms)]
                if found_cols:
                    print(f"  Key columns found: {found_cols}")
                    df = df_test  # Use this version
                    break
            except:
                continue

        # Store for analysis
        list1_data[name] = df

        print(f"\nShape: {df.shape}")
        print(f"Columns: {df.columns.tolist()}")

    except Exception as e:
        print(f"Error reading {name}: {e}")

# ============================================================================
# 2. EXTRACT METROPOLITAN DIVISION MAPPINGS
# ============================================================================
print(f"\n\n{'='*80}")
print("METROPOLITAN DIVISION → CBSA MAPPINGS")
print("=" * 80)

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Find division and CBSA code columns
    div_col = None
    cbsa_col = None
    title_col = None

    for col in df.columns:
        col_lower = str(col).lower()
        if 'division' in col_lower and 'code' in col_lower:
            div_col = col
        if 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        if 'cbsa' in col_lower and 'title' in col_lower:
            title_col = col

    print(f"  Division column: {div_col}")
    print(f"  CBSA column: {cbsa_col}")
    print(f"  Title column: {title_col}")

    if div_col and cbsa_col:
        # Extract mappings
        df_copy = df.copy()
        df_copy[div_col] = df_copy[div_col].apply(z5)
        df_copy[cbsa_col] = df_copy[cbsa_col].apply(z5)

        div_map = df_copy[[div_col, cbsa_col, title_col]].dropna(subset=[div_col]).drop_duplicates()
        print(f"\n  Found {len(div_map)} Metropolitan Division mappings:")
        print(div_map.head(20).to_string(index=False))

        # Count unique divisions and parent CBSAs
        n_divs = div_map[div_col].nunique()
        n_parents = div_map[cbsa_col].nunique()
        print(f"\n  Unique MDivs: {n_divs}")
        print(f"  Unique parent CBSAs: {n_parents}")

# ============================================================================
# 3. SEARCH FOR SPECIFIC PROBLEM AREAS
# ============================================================================
print(f"\n\n{'='*80}")
print("SPECIFIC PROBLEM AREA SEARCHES")
print("=" * 80)

search_items = {
    "New Brunswick": "new brunswick",
    "Poughkeepsie": "poughkeepsie",
    "Washington DC": "washington.*arlington.*alexandria",
    "Silver Spring": "silver spring",
    "Cleveland": "cleveland",
    "Dayton": "dayton",
    "Connecticut MSAs": "connecticut|bridgeport|hartford|new haven"
}

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Get title column
    title_cols = [c for c in df.columns if 'title' in str(c).lower() and 'cbsa' in str(c).lower()]
    if not title_cols:
        print("  No title column found")
        continue

    title_col = title_cols[0]

    for item, pattern in search_items.items():
        print(f"\n  🔍 {item}:")
        matches = df[df[title_col].astype(str).str.contains(pattern, case=False, regex=True, na=False)]

        if len(matches) > 0:
            # Get relevant columns
            disp_cols = [c for c in df.columns if any(x in str(c).lower() for x in ['cbsa', 'code', 'title', 'division', 'state'])]
            disp_cols = [c for c in disp_cols if c in matches.columns]
            print(matches[disp_cols].drop_duplicates().head(10).to_string(index=False))
        else:
            print("    Not found")

# ============================================================================
# 4. ANALYZE MEFI FILE
# ============================================================================
print(f"\n\n{'='*80}")
print("MEFI FILE ANALYSIS")
print("=" * 80)

mefi_path = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"

try:
    # Get sheet names
    xl = pd.ExcelFile(mefi_path)
    print(f"Sheet names: {xl.sheet_names}")

    # Analyze scores panel
    print(f"\n--- 'scores (panel)' sheet ---")
    scores = pd.read_excel(mefi_path, sheet_name="scores (panel)", header=0)

    print(f"Shape: {scores.shape}")
    print(f"Columns: {scores.columns.tolist()}")
    print(f"\nYears available: {scores['year'].unique() if 'year' in scores.columns else 'No year column'}")

    # Look at 2017 data
    if 'year' in scores.columns:
        mefi_2017 = scores[scores['year'] == 2017].copy()
        print(f"\n2017 entries: {len(mefi_2017)}")

        # Apply z5 to CBSA codes
        if 'CBSA Code' in mefi_2017.columns:
            mefi_2017['CBSA Code'] = mefi_2017['CBSA Code'].apply(z5)
            print(f"Unique CBSA codes: {mefi_2017['CBSA Code'].nunique()}")
            print(f"\nSample CBSA codes:")
            print(mefi_2017['CBSA Code'].head(20).tolist())

        # Look for metro names
        name_cols = [c for c in mefi_2017.columns if 'name' in str(c).lower() or 'area' in str(c).lower()]
        if name_cols:
            print(f"\nName columns: {name_cols}")

        # Check for MDivs in MEFI
        if 'Unnamed: 2' in mefi_2017.columns:
            metro_names = mefi_2017['Unnamed: 2'].dropna()
            mdiv_entries = metro_names[metro_names.astype(str).str.contains('mdiv|division', case=False, regex=True)]
            print(f"\n📌 Entries with 'MDiv' or 'Division' in name: {len(mdiv_entries)}")
            if len(mdiv_entries) > 0:
                print(mdiv_entries.head(20).tolist())

        # Search for problem areas
        print(f"\n--- Searching for problem areas in MEFI ---")
        for item, pattern in search_items.items():
            if 'Unnamed: 2' in mefi_2017.columns:
                matches = mefi_2017[mefi_2017['Unnamed: 2'].astype(str).str.contains(pattern, case=False, regex=True, na=False)]
                if len(matches) > 0:
                    print(f"\n  {item}: Found {len(matches)} entries")
                    print(matches[['CBSA Code', 'Unnamed: 2']].head(5).to_string(index=False) if 'CBSA Code' in matches.columns else matches.head(3))

except Exception as e:
    print(f"Error reading MEFI file: {e}")

# ============================================================================
# 5. CONNECTICUT FIPS CODES ANALYSIS
# ============================================================================
print(f"\n\n{'='*80}")
print("CONNECTICUT FIPS CODES (09001-09015)")
print("=" * 80)

ct_codes = [f"09{str(i).zfill(3)}" for i in range(1, 16)]
print(f"CT FIPS codes to check: {ct_codes}")

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Look for county code or FIPS columns
    fips_cols = [c for c in df.columns if any(x in str(c).lower() for x in ['fips', 'county'])]
    print(f"  Potential FIPS columns: {fips_cols}")

    # Search for CT codes in any column
    for col in df.columns:
        if df[col].dtype == 'object':
            ct_matches = df[df[col].astype(str).str.startswith('09', na=False)]
            if len(ct_matches) > 0:
                print(f"\n  Found CT codes in column '{col}': {len(ct_matches)} rows")
                print(ct_matches[[col] + [c for c in df.columns if 'title' in str(c).lower() or 'name' in str(c).lower()]][:10].to_string(index=False))

print("\n\n✨ Source files discovery complete!\n")

================================================================================
SOURCE FILES DISCOVERY - OMB LIST 1 & MEFI
================================================================================

================================================================================
OMB LIST 1 ANALYSIS
================================================================================

--- List1_Old ---

First 5 rows of column names:
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

With header=0, columns (12):
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

With header=1, columns (12):
['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']
  Key columns found: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013']

Shape: (1886, 12)
Columns: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

--- List1_2023 ---

First 5 rows of column names:
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

With header=0, columns (12):
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

With header=1, columns (12):
['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']
  Key columns found: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023']

Shape: (1919, 12)
Columns: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']


================================================================================
METROPOLITAN DIVISION → CBSA MAPPINGS
================================================================================

--- List1_Old ---
  Division column: None
  CBSA column: None
  Title column: None

--- List1_2023 ---
  Division column: None
  CBSA column: None
  Title column: None


================================================================================
SPECIFIC PROBLEM AREA SEARCHES
================================================================================

--- List1_Old ---
  No title column found

--- List1_2023 ---
  No title column found


================================================================================
MEFI FILE ANALYSIS
================================================================================
Sheet names: ['citation', 'Index Components', 'scores (panel)', 'scores', '1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C', 'BEA']

--- 'scores (panel)' sheet ---
Shape: (3830, 10)
Columns: ['MSA order', 'CBSA Code', 'Unnamed: 2', 'Primary\nState', 'multi-state', 'year', 'Overall', 'Area 1: Govern-ment Spending', 'Area 2: Taxes', 'Area 3: Labor Market Regulation']

Years available: [2017 2012 2007 2002 1997 1992 1987 1982 1977 1972]

2017 entries: 383
Unique CBSA codes: 383

Sample CBSA codes:
['10180', '10420', '10500', '10540', '10580', '10740', '10780', '10900', '11020', '11100', '11180', '11260', '11460', '11500', '11540', '11700', '12020', '12060', '12100', '12220']

Name columns: ['Unnamed: 2', 'Area 1: Govern-ment Spending', 'Area 2: Taxes', 'Area 3: Labor Market Regulation']

📌 Entries with 'MDiv' or 'Division' in name: 0

--- Searching for problem areas in MEFI ---

  Washington DC: Found 1 entries
CBSA Code                                       Unnamed: 2
    47900 Washington-Arlington-Alexandria, DC-VA-MD-WV MSA

  Cleveland: Found 2 entries
CBSA Code               Unnamed: 2
    17420        Cleveland, TN MSA
    17460 Cleveland-Elyria, OH MSA

  Dayton: Found 2 entries
CBSA Code                                 Unnamed: 2
    19380                             Dayton, OH MSA
    19660 Deltona-Daytona Beach-Ormond Beach, FL MSA

  Connecticut MSAs: Found 3 entries
CBSA Code                                   Unnamed: 2
    14860          Bridgeport-Stamford-Norwalk, CT MSA
    25540 Hartford-West Hartford-East Hartford, CT MSA
    35300                    New Haven-Milford, CT MSA


================================================================================
CONNECTICUT FIPS CODES (09001-09015)
================================================================================
CT FIPS codes to check: ['09001', '09002', '09003', '09004', '09005', '09006', '09007', '09008', '09009', '09010', '09011', '09012', '09013', '09014', '09015']

--- List1_Old ---
  Potential FIPS columns: []

  Found CT codes in column 'Unnamed: 9': 8 rows
Unnamed: 9 Unnamed: 1 Unnamed: 2                               Unnamed: 3                    Unnamed: 4 Unnamed: 5                               Unnamed: 6        Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        09        NaN        408          Bridgeport-Stamford-Norwalk, CT Metropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA  Fairfield County Connecticut         09         001     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT   Hartford County Connecticut         09         003     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT  Middlesex County Connecticut         09         007     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT    Tolland County Connecticut         09         013     Central
        09        NaN        408                    New Haven-Milford, CT Metropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA  New Haven County Connecticut         09         009     Central
        09        NaN        278                   Norwich-New London, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT New London County Connecticut         09         011     Central
        09        NaN        408                           Torrington, CT Micropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA Litchfield County Connecticut         09         005     Central
        09        NaN        148                         Worcester, MA-CT Metropolitan Statistical Area        NaN Boston-Worcester-Providence, MA-RI-NH-CT    Windham County Connecticut         09         015     Central

  Found CT codes in column 'Unnamed: 10': 88 rows
Unnamed: 10 Unnamed: 1 Unnamed: 2                        Unnamed: 3                    Unnamed: 4 Unnamed: 5                                       Unnamed: 6         Unnamed: 7   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        091        NaN        220                        Adrian, MI Micropolitan Statistical Area        NaN                     Detroit-Warren-Ann Arbor, MI     Lenawee County     Michigan         26         091     Central
        099        NaN        NaN             Aguadilla-Isabela, PR Metropolitan Statistical Area        NaN                                              NaN     Moca Municipio  Puerto Rico         72         099     Central
        095        NaN        NaN                        Albany, GA Metropolitan Statistical Area        NaN                                              NaN   Dougherty County      Georgia         13         095     Central
        091        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY    Saratoga County     New York         36         091     Central
        093        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY Schenectady County     New York         36         093     Central
        095        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY   Schoharie County     New York         36         095    Outlying
        095        NaN        290                   Albertville, AL Micropolitan Statistical Area        NaN               Huntsville-Decatur-Albertville, AL    Marshall County      Alabama         01         095     Central
        095        NaN        408 Allentown-Bethlehem-Easton, PA-NJ Metropolitan Statistical Area        NaN                     New York-Newark, NY-NJ-CT-PA Northampton County Pennsylvania         42         095     Central
        097        NaN        122 Atlanta-Sandy Springs-Roswell, GA Metropolitan Statistical Area        NaN Atlanta--Athens-Clarke County--Sandy Springs, GA     Douglas County      Georgia         13         097     Central
        099        NaN        462                        Austin, MN Micropolitan Statistical Area        NaN                             Rochester-Austin, MN       Mower County    Minnesota         27         099     Central

--- List1_2023 ---
  Potential FIPS columns: []

  Found CT codes in column 'Unnamed: 9': 9 rows
Unnamed: 9 Unnamed: 1 Unnamed: 2                               Unnamed: 3                    Unnamed: 4 Unnamed: 5                       Unnamed: 6                                     Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        09        NaN        408          Bridgeport-Stamford-Danbury, CT Metropolitan Statistical Area        NaN     New York-Newark, NY-NJ-CT-PA             Greater Bridgeport Planning Region Connecticut         09         120     Central
        09        NaN        408          Bridgeport-Stamford-Danbury, CT Metropolitan Statistical Area        NaN     New York-Newark, NY-NJ-CT-PA            Western Connecticut Planning Region Connecticut         09         190     Central
        09        NaN        405 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT                        Capitol Planning Region Connecticut         09         110     Central
        09        NaN        405 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT Lower Connecticut River Valley Planning Region Connecticut         09         130     Central
        09        NaN        405                            New Haven, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT      South Central Connecticut Planning Region Connecticut         09         170     Central
        09        NaN        405       Norwich-New London-Willimantic, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT       Southeastern Connecticut Planning Region Connecticut         09         180     Central
        09        NaN        405                               Putnam, CT Micropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT       Northeastern Connecticut Planning Region Connecticut         09         150     Central
        09        NaN        405                           Torrington, CT Micropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT                Northwest Hills Planning Region Connecticut         09         160     Central
        09        NaN        405                    Waterbury-Shelton, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT               Naugatuck Valley Planning Region Connecticut         09         140     Central

  Found CT codes in column 'Unnamed: 10': 87 rows
Unnamed: 10 Unnamed: 1 Unnamed: 2                        Unnamed: 3                    Unnamed: 4                        Unnamed: 5                                          Unnamed: 6         Unnamed: 7   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        091        NaN        220                        Adrian, MI Micropolitan Statistical Area                               NaN                        Detroit-Warren-Ann Arbor, MI     Lenawee County     Michigan         26         091     Central
        099        NaN        364                     Aguadilla, PR Metropolitan Statistical Area                               NaN                              Mayagüez-Aguadilla, PR     Moca Municipio  Puerto Rico         72         099     Central
        095        NaN        NaN                        Albany, GA Metropolitan Statistical Area                               NaN                                                 NaN   Dougherty County      Georgia         13         095     Central
        091        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY    Saratoga County     New York         36         091    Outlying
        093        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY Schenectady County     New York         36         093     Central
        095        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY   Schoharie County     New York         36         095    Outlying
        095        NaN        290                   Albertville, AL Micropolitan Statistical Area                               NaN               Huntsville-Decatur-Albertville, AL-TN    Marshall County      Alabama         01         095     Central
        095        NaN        106 Allentown-Bethlehem-Easton, PA-NJ Metropolitan Statistical Area                               NaN         Allentown-Bethlehem-East Stroudsburg, PA-NJ Northampton County Pennsylvania         42         095     Central
        097      12054        122 Atlanta-Sandy Springs-Roswell, GA Metropolitan Statistical Area Atlanta-Sandy Springs-Roswell, GA Atlanta--Athens-Clarke County--Sandy Springs, GA-AL     Douglas County      Georgia         13         097     Central
        099        NaN        462                        Austin, MN Micropolitan Statistical Area                               NaN                         Rochester-Austin-Winona, MN       Mower County    Minnesota         27         099     Central


✨ Source files discovery complete!

In [ ]:
"""
Source Files Discovery Script
Purpose: Analyze OMB List 1 and MEFI files to understand available mappings
"""

import pandas as pd
import numpy as np

print("=" * 80)
print("SOURCE FILES DISCOVERY - OMB LIST 1 & MEFI")
print("=" * 80)

# ============================================================================
# 1. ANALYZE OMB LIST 1 FILES
# ============================================================================
print(f"\n{'='*80}")
print("OMB LIST 1 ANALYSIS")
print("=" * 80)

list1_files = {
    "List1_Old": "/content/drive/MyDrive/Saksham_MEFI/list1.xls",
    "List1_2023": "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"
}

def z5(x):
    """Pad codes to 5 digits"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

list1_data = {}

for name, path in list1_files.items():
    print(f"\n--- {name} ---")
    try:
        # Try reading with header detection
        df = pd.read_excel(path, sheet_name="List 1", dtype=str)

        # Show first few rows to understand structure
        print(f"\nFirst 5 rows of column names:")
        print(df.head(5).columns.tolist())

        # Try with different header rows
        for header_row in [0, 1, 2]:
            try:
                df_test = pd.read_excel(path, sheet_name="List 1", header=header_row, dtype=str)
                print(f"\nWith header={header_row}, columns ({len(df_test.columns)}):")
                print(df_test.columns.tolist()[:10])

                # Look for key columns
                key_terms = ['cbsa', 'division', 'county', 'state', 'csa', 'title']
                found_cols = [c for c in df_test.columns if any(term in str(c).lower() for term in key_terms)]
                if found_cols:
                    print(f"  Key columns found: {found_cols}")
                    df = df_test  # Use this version
                    break
            except:
                continue

        # Store for analysis
        list1_data[name] = df

        print(f"\nShape: {df.shape}")
        print(f"Columns: {df.columns.tolist()}")

    except Exception as e:
        print(f"Error reading {name}: {e}")

# ============================================================================
# 2. EXTRACT METROPOLITAN DIVISION MAPPINGS
# ============================================================================
print(f"\n\n{'='*80}")
print("METROPOLITAN DIVISION → CBSA MAPPINGS")
print("=" * 80)

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Find division and CBSA code columns
    div_col = None
    cbsa_col = None
    title_col = None

    for col in df.columns:
        col_lower = str(col).lower()
        if 'division' in col_lower and 'code' in col_lower:
            div_col = col
        if 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        if 'cbsa' in col_lower and 'title' in col_lower:
            title_col = col

    print(f"  Division column: {div_col}")
    print(f"  CBSA column: {cbsa_col}")
    print(f"  Title column: {title_col}")

    if div_col and cbsa_col:
        # Extract mappings
        df_copy = df.copy()
        df_copy[div_col] = df_copy[div_col].apply(z5)
        df_copy[cbsa_col] = df_copy[cbsa_col].apply(z5)

        div_map = df_copy[[div_col, cbsa_col, title_col]].dropna(subset=[div_col]).drop_duplicates()
        print(f"\n  Found {len(div_map)} Metropolitan Division mappings:")
        print(div_map.head(20).to_string(index=False))

        # Count unique divisions and parent CBSAs
        n_divs = div_map[div_col].nunique()
        n_parents = div_map[cbsa_col].nunique()
        print(f"\n  Unique MDivs: {n_divs}")
        print(f"  Unique parent CBSAs: {n_parents}")

# ============================================================================
# 3. SEARCH FOR SPECIFIC PROBLEM AREAS
# ============================================================================
print(f"\n\n{'='*80}")
print("SPECIFIC PROBLEM AREA SEARCHES")
print("=" * 80)

search_items = {
    "New Brunswick": "new brunswick",
    "Poughkeepsie": "poughkeepsie",
    "Washington DC": "washington.*arlington.*alexandria",
    "Silver Spring": "silver spring",
    "Cleveland": "cleveland",
    "Dayton": "dayton",
    "Connecticut MSAs": "connecticut|bridgeport|hartford|new haven"
}

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Get title column
    title_cols = [c for c in df.columns if 'title' in str(c).lower() and 'cbsa' in str(c).lower()]
    if not title_cols:
        print("  No title column found")
        continue

    title_col = title_cols[0]

    for item, pattern in search_items.items():
        print(f"\n  🔍 {item}:")
        matches = df[df[title_col].astype(str).str.contains(pattern, case=False, regex=True, na=False)]

        if len(matches) > 0:
            # Get relevant columns
            disp_cols = [c for c in df.columns if any(x in str(c).lower() for x in ['cbsa', 'code', 'title', 'division', 'state'])]
            disp_cols = [c for c in disp_cols if c in matches.columns]
            print(matches[disp_cols].drop_duplicates().head(10).to_string(index=False))
        else:
            print("    Not found")

# ============================================================================
# 4. ANALYZE MEFI FILE
# ============================================================================
print(f"\n\n{'='*80}")
print("MEFI FILE ANALYSIS")
print("=" * 80)

mefi_path = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"

try:
    # Get sheet names
    xl = pd.ExcelFile(mefi_path)
    print(f"Sheet names: {xl.sheet_names}")

    # Analyze scores panel
    print(f"\n--- 'scores (panel)' sheet ---")
    scores = pd.read_excel(mefi_path, sheet_name="scores (panel)", header=0)

    print(f"Shape: {scores.shape}")
    print(f"Columns: {scores.columns.tolist()}")
    print(f"\nYears available: {scores['year'].unique() if 'year' in scores.columns else 'No year column'}")

    # Look at 2017 data
    if 'year' in scores.columns:
        mefi_2017 = scores[scores['year'] == 2017].copy()
        print(f"\n2017 entries: {len(mefi_2017)}")

        # Apply z5 to CBSA codes
        if 'CBSA Code' in mefi_2017.columns:
            mefi_2017['CBSA Code'] = mefi_2017['CBSA Code'].apply(z5)
            print(f"Unique CBSA codes: {mefi_2017['CBSA Code'].nunique()}")
            print(f"\nSample CBSA codes:")
            print(mefi_2017['CBSA Code'].head(20).tolist())

        # Look for metro names
        name_cols = [c for c in mefi_2017.columns if 'name' in str(c).lower() or 'area' in str(c).lower()]
        if name_cols:
            print(f"\nName columns: {name_cols}")

        # Check for MDivs in MEFI
        if 'Unnamed: 2' in mefi_2017.columns:
            metro_names = mefi_2017['Unnamed: 2'].dropna()
            mdiv_entries = metro_names[metro_names.astype(str).str.contains('mdiv|division', case=False, regex=True)]
            print(f"\n📌 Entries with 'MDiv' or 'Division' in name: {len(mdiv_entries)}")
            if len(mdiv_entries) > 0:
                print(mdiv_entries.head(20).tolist())

        # Search for problem areas
        print(f"\n--- Searching for problem areas in MEFI ---")
        for item, pattern in search_items.items():
            if 'Unnamed: 2' in mefi_2017.columns:
                matches = mefi_2017[mefi_2017['Unnamed: 2'].astype(str).str.contains(pattern, case=False, regex=True, na=False)]
                if len(matches) > 0:
                    print(f"\n  {item}: Found {len(matches)} entries")
                    print(matches[['CBSA Code', 'Unnamed: 2']].head(5).to_string(index=False) if 'CBSA Code' in matches.columns else matches.head(3))

except Exception as e:
    print(f"Error reading MEFI file: {e}")

# ============================================================================
# 5. CONNECTICUT FIPS CODES ANALYSIS
# ============================================================================
print(f"\n\n{'='*80}")
print("CONNECTICUT FIPS CODES (09001-09015)")
print("=" * 80)

ct_codes = [f"09{str(i).zfill(3)}" for i in range(1, 16)]
print(f"CT FIPS codes to check: {ct_codes}")

for name, df in list1_data.items():
    print(f"\n--- {name} ---")

    # Look for county code or FIPS columns
    fips_cols = [c for c in df.columns if any(x in str(c).lower() for x in ['fips', 'county'])]
    print(f"  Potential FIPS columns: {fips_cols}")

    # Search for CT codes in any column
    for col in df.columns:
        if df[col].dtype == 'object':
            ct_matches = df[df[col].astype(str).str.startswith('09', na=False)]
            if len(ct_matches) > 0:
                print(f"\n  Found CT codes in column '{col}': {len(ct_matches)} rows")
                print(ct_matches[[col] + [c for c in df.columns if 'title' in str(c).lower() or 'name' in str(c).lower()]][:10].to_string(index=False))

print("\n\n✨ Source files discovery complete!\n")

================================================================================
SOURCE FILES DISCOVERY - OMB LIST 1 & MEFI
================================================================================

================================================================================
OMB LIST 1 ANALYSIS
================================================================================

--- List1_Old ---

First 5 rows of column names:
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

With header=0, columns (12):
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

With header=1, columns (12):
['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']
  Key columns found: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013']

Shape: (1886, 12)
Columns: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs) AND COMBINED STATISTICAL AREAS (CSAs), FEBRUARY 2013', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

--- List1_2023 ---

First 5 rows of column names:
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

With header=0, columns (12):
['Table with row headers in column A and column headers in row 3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']

With header=1, columns (12):
['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9']
  Key columns found: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023']

Shape: (1919, 12)
Columns: ['List 1. CORE BASED STATISTICAL AREAS (CBSAs), METROPOLITAN DIVISIONS, AND COMBINED STATISTICAL AREAS (CSAs), JULY 2023', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']


================================================================================
METROPOLITAN DIVISION → CBSA MAPPINGS
================================================================================

--- List1_Old ---
  Division column: None
  CBSA column: None
  Title column: None

--- List1_2023 ---
  Division column: None
  CBSA column: None
  Title column: None


================================================================================
SPECIFIC PROBLEM AREA SEARCHES
================================================================================

--- List1_Old ---
  No title column found

--- List1_2023 ---
  No title column found


================================================================================
MEFI FILE ANALYSIS
================================================================================
Sheet names: ['citation', 'Index Components', 'scores (panel)', 'scores', '1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C', 'BEA']

--- 'scores (panel)' sheet ---
Shape: (3830, 10)
Columns: ['MSA order', 'CBSA Code', 'Unnamed: 2', 'Primary\nState', 'multi-state', 'year', 'Overall', 'Area 1: Govern-ment Spending', 'Area 2: Taxes', 'Area 3: Labor Market Regulation']

Years available: [2017 2012 2007 2002 1997 1992 1987 1982 1977 1972]

2017 entries: 383
Unique CBSA codes: 383

Sample CBSA codes:
['10180', '10420', '10500', '10540', '10580', '10740', '10780', '10900', '11020', '11100', '11180', '11260', '11460', '11500', '11540', '11700', '12020', '12060', '12100', '12220']

Name columns: ['Unnamed: 2', 'Area 1: Govern-ment Spending', 'Area 2: Taxes', 'Area 3: Labor Market Regulation']

📌 Entries with 'MDiv' or 'Division' in name: 0

--- Searching for problem areas in MEFI ---

  Washington DC: Found 1 entries
CBSA Code                                       Unnamed: 2
    47900 Washington-Arlington-Alexandria, DC-VA-MD-WV MSA

  Cleveland: Found 2 entries
CBSA Code               Unnamed: 2
    17420        Cleveland, TN MSA
    17460 Cleveland-Elyria, OH MSA

  Dayton: Found 2 entries
CBSA Code                                 Unnamed: 2
    19380                             Dayton, OH MSA
    19660 Deltona-Daytona Beach-Ormond Beach, FL MSA

  Connecticut MSAs: Found 3 entries
CBSA Code                                   Unnamed: 2
    14860          Bridgeport-Stamford-Norwalk, CT MSA
    25540 Hartford-West Hartford-East Hartford, CT MSA
    35300                    New Haven-Milford, CT MSA


================================================================================
CONNECTICUT FIPS CODES (09001-09015)
================================================================================
CT FIPS codes to check: ['09001', '09002', '09003', '09004', '09005', '09006', '09007', '09008', '09009', '09010', '09011', '09012', '09013', '09014', '09015']

--- List1_Old ---
  Potential FIPS columns: []

  Found CT codes in column 'Unnamed: 9': 8 rows
Unnamed: 9 Unnamed: 1 Unnamed: 2                               Unnamed: 3                    Unnamed: 4 Unnamed: 5                               Unnamed: 6        Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        09        NaN        408          Bridgeport-Stamford-Norwalk, CT Metropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA  Fairfield County Connecticut         09         001     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT   Hartford County Connecticut         09         003     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT  Middlesex County Connecticut         09         007     Central
        09        NaN        278 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT    Tolland County Connecticut         09         013     Central
        09        NaN        408                    New Haven-Milford, CT Metropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA  New Haven County Connecticut         09         009     Central
        09        NaN        278                   Norwich-New London, CT Metropolitan Statistical Area        NaN               Hartford-West Hartford, CT New London County Connecticut         09         011     Central
        09        NaN        408                           Torrington, CT Micropolitan Statistical Area        NaN             New York-Newark, NY-NJ-CT-PA Litchfield County Connecticut         09         005     Central
        09        NaN        148                         Worcester, MA-CT Metropolitan Statistical Area        NaN Boston-Worcester-Providence, MA-RI-NH-CT    Windham County Connecticut         09         015     Central

  Found CT codes in column 'Unnamed: 10': 88 rows
Unnamed: 10 Unnamed: 1 Unnamed: 2                        Unnamed: 3                    Unnamed: 4 Unnamed: 5                                       Unnamed: 6         Unnamed: 7   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        091        NaN        220                        Adrian, MI Micropolitan Statistical Area        NaN                     Detroit-Warren-Ann Arbor, MI     Lenawee County     Michigan         26         091     Central
        099        NaN        NaN             Aguadilla-Isabela, PR Metropolitan Statistical Area        NaN                                              NaN     Moca Municipio  Puerto Rico         72         099     Central
        095        NaN        NaN                        Albany, GA Metropolitan Statistical Area        NaN                                              NaN   Dougherty County      Georgia         13         095     Central
        091        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY    Saratoga County     New York         36         091     Central
        093        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY Schenectady County     New York         36         093     Central
        095        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area        NaN                           Albany-Schenectady, NY   Schoharie County     New York         36         095    Outlying
        095        NaN        290                   Albertville, AL Micropolitan Statistical Area        NaN               Huntsville-Decatur-Albertville, AL    Marshall County      Alabama         01         095     Central
        095        NaN        408 Allentown-Bethlehem-Easton, PA-NJ Metropolitan Statistical Area        NaN                     New York-Newark, NY-NJ-CT-PA Northampton County Pennsylvania         42         095     Central
        097        NaN        122 Atlanta-Sandy Springs-Roswell, GA Metropolitan Statistical Area        NaN Atlanta--Athens-Clarke County--Sandy Springs, GA     Douglas County      Georgia         13         097     Central
        099        NaN        462                        Austin, MN Micropolitan Statistical Area        NaN                             Rochester-Austin, MN       Mower County    Minnesota         27         099     Central

--- List1_2023 ---
  Potential FIPS columns: []

  Found CT codes in column 'Unnamed: 9': 9 rows
Unnamed: 9 Unnamed: 1 Unnamed: 2                               Unnamed: 3                    Unnamed: 4 Unnamed: 5                       Unnamed: 6                                     Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        09        NaN        408          Bridgeport-Stamford-Danbury, CT Metropolitan Statistical Area        NaN     New York-Newark, NY-NJ-CT-PA             Greater Bridgeport Planning Region Connecticut         09         120     Central
        09        NaN        408          Bridgeport-Stamford-Danbury, CT Metropolitan Statistical Area        NaN     New York-Newark, NY-NJ-CT-PA            Western Connecticut Planning Region Connecticut         09         190     Central
        09        NaN        405 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT                        Capitol Planning Region Connecticut         09         110     Central
        09        NaN        405 Hartford-West Hartford-East Hartford, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT Lower Connecticut River Valley Planning Region Connecticut         09         130     Central
        09        NaN        405                            New Haven, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT      South Central Connecticut Planning Region Connecticut         09         170     Central
        09        NaN        405       Norwich-New London-Willimantic, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT       Southeastern Connecticut Planning Region Connecticut         09         180     Central
        09        NaN        405                               Putnam, CT Micropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT       Northeastern Connecticut Planning Region Connecticut         09         150     Central
        09        NaN        405                           Torrington, CT Micropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT                Northwest Hills Planning Region Connecticut         09         160     Central
        09        NaN        405                    Waterbury-Shelton, CT Metropolitan Statistical Area        NaN New Haven-Hartford-Waterbury, CT               Naugatuck Valley Planning Region Connecticut         09         140     Central

  Found CT codes in column 'Unnamed: 10': 87 rows
Unnamed: 10 Unnamed: 1 Unnamed: 2                        Unnamed: 3                    Unnamed: 4                        Unnamed: 5                                          Unnamed: 6         Unnamed: 7   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
        091        NaN        220                        Adrian, MI Micropolitan Statistical Area                               NaN                        Detroit-Warren-Ann Arbor, MI     Lenawee County     Michigan         26         091     Central
        099        NaN        364                     Aguadilla, PR Metropolitan Statistical Area                               NaN                              Mayagüez-Aguadilla, PR     Moca Municipio  Puerto Rico         72         099     Central
        095        NaN        NaN                        Albany, GA Metropolitan Statistical Area                               NaN                                                 NaN   Dougherty County      Georgia         13         095     Central
        091        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY    Saratoga County     New York         36         091    Outlying
        093        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY Schenectady County     New York         36         093     Central
        095        NaN        104       Albany-Schenectady-Troy, NY Metropolitan Statistical Area                               NaN                              Albany-Schenectady, NY   Schoharie County     New York         36         095    Outlying
        095        NaN        290                   Albertville, AL Micropolitan Statistical Area                               NaN               Huntsville-Decatur-Albertville, AL-TN    Marshall County      Alabama         01         095     Central
        095        NaN        106 Allentown-Bethlehem-Easton, PA-NJ Metropolitan Statistical Area                               NaN         Allentown-Bethlehem-East Stroudsburg, PA-NJ Northampton County Pennsylvania         42         095     Central
        097      12054        122 Atlanta-Sandy Springs-Roswell, GA Metropolitan Statistical Area Atlanta-Sandy Springs-Roswell, GA Atlanta--Athens-Clarke County--Sandy Springs, GA-AL     Douglas County      Georgia         13         097     Central
        099        NaN        462                        Austin, MN Micropolitan Statistical Area                               NaN                         Rochester-Austin-Winona, MN       Mower County    Minnesota         27         099     Central


✨ Source files discovery complete!

In [ ]:
"""
OPTION 1: MYSTERY CODE INVESTIGATION
Purpose: Identify what the 4 mystery codes are and how to fix them

This script searches OMB List 1 and MEFI files to determine:
- What are codes 47894, 35154, 47980, 43524, 39100?
- Are they Metropolitan Divisions? If so, what's the parent MSA?
- Are they legacy codes that were renamed?
- Should they be excluded?
"""

import pandas as pd
import numpy as np
import json

print("=" * 80)
print("MYSTERY CODE INVESTIGATION")
print("=" * 80)

# ============================================================================
# CONFIGURATION
# ============================================================================

# Mystery codes from discovery (causing most unmatched rows)
MYSTERY_CODES = {
    "47894": "8,542 rows unmatched (2017) + 8,759 rows (2022) = DC MDiv suspected",
    "43524": "2,442 rows unmatched (2017) = Silver Spring suspected",
    "35154": "2,235 rows unmatched (2022) = Unknown MDiv",
    "47980": "1,036 rows unmatched (2022) = Unknown",
    "39100": "517 rows unmatched (2022) = Poughkeepsie suspected",
    "30100": "2,066 rows unmatched (2022) = Lebanon area",
    "30150": "1,763 rows unmatched (2017) = Lebanon area",
}

# File paths (update if needed)
OMB_OLD = "/content/drive/MyDrive/Saksham_MEFI/list1.xls"
OMB_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"
MEFI_FILE = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"

# ============================================================================
# HELPER FUNCTIONS
# ============================================================================

def z5(x):
    """Pad codes to 5 digits"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

def search_code_in_df(df, code, name="DataFrame"):
    """Search for a code in all columns of a dataframe"""
    results = {}
    code_padded = z5(code)

    for col in df.columns:
        if df[col].dtype == 'object' or 'int' in str(df[col].dtype) or 'float' in str(df[col].dtype):
            # Convert to string and pad
            df_col_padded = df[col].apply(z5)
            matches = df[df_col_padded == code_padded]

            if len(matches) > 0:
                results[col] = {
                    'count': len(matches),
                    'sample_rows': matches.head(3).to_dict('records')
                }

    return results

# ============================================================================
# LOAD DATA FILES
# ============================================================================

print("\n" + "=" * 80)
print("STEP 1: LOADING OMB LIST 1 FILES")
print("=" * 80)

# Load OMB List 1 (Old)
print("\nLoading old OMB List 1...")
try:
    omb_old = pd.read_excel(OMB_OLD, sheet_name="List 1", dtype=str, header=2)
    omb_old.columns = [str(c).strip() for c in omb_old.columns]
    print(f"  ✓ Loaded: {omb_old.shape[0]:,} rows, {omb_old.shape[1]} columns")
    print(f"  Columns: {omb_old.columns.tolist()[:10]}")

    # Standardize code columns
    for col in omb_old.columns:
        if 'code' in col.lower():
            omb_old[col] = omb_old[col].apply(z5)
except Exception as e:
    print(f"  ✗ Error loading old OMB: {e}")
    omb_old = None

# Load OMB List 1 (2023)
print("\nLoading 2023 OMB List 1...")
try:
    omb_2023 = pd.read_excel(OMB_2023, sheet_name="List 1", dtype=str, header=2)
    omb_2023.columns = [str(c).strip() for c in omb_2023.columns]
    print(f"  ✓ Loaded: {omb_2023.shape[0]:,} rows, {omb_2023.shape[1]} columns")
    print(f"  Columns: {omb_2023.columns.tolist()[:10]}")

    # Standardize code columns
    for col in omb_2023.columns:
        if 'code' in col.lower():
            omb_2023[col] = omb_2023[col].apply(z5)
except Exception as e:
    print(f"  ✗ Error loading 2023 OMB: {e}")
    omb_2023 = None

# Load MEFI
print("\nLoading MEFI file...")
try:
    mefi = pd.read_excel(MEFI_FILE, sheet_name="scores (panel)", dtype=str, header=0)
    mefi.columns = [str(c).strip() for c in mefi.columns]
    print(f"  ✓ Loaded: {mefi.shape[0]:,} rows, {mefi.shape[1]} columns")

    # Standardize CBSA Code
    if 'CBSA Code' in mefi.columns:
        mefi['CBSA Code'] = mefi['CBSA Code'].apply(z5)

    # Get 2017 subset
    if 'year' in mefi.columns:
        mefi_2017 = mefi[mefi['year'].astype(str) == '2017'].copy()
        print(f"  MEFI 2017 entries: {len(mefi_2017):,}")
except Exception as e:
    print(f"  ✗ Error loading MEFI: {e}")
    mefi = None
    mefi_2017 = None

# ============================================================================
# INVESTIGATE EACH MYSTERY CODE
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 2: INVESTIGATING EACH MYSTERY CODE")
print("=" * 80)

results = {}

for code, description in MYSTERY_CODES.items():
    print(f"\n{'=' * 80}")
    print(f"CODE: {code}")
    print(f"Context: {description}")
    print("=" * 80)

    code_results = {
        'code': code,
        'description': description,
        'omb_old': None,
        'omb_2023': None,
        'mefi': None,
        'recommendation': None
    }

    # Search in old OMB
    if omb_old is not None:
        print("\n🔍 Searching OLD OMB List 1...")
        findings = search_code_in_df(omb_old, code, "Old OMB")
        if findings:
            code_results['omb_old'] = findings
            for col, data in findings.items():
                print(f"  ✓ Found in column '{col}': {data['count']} matches")
                for i, row in enumerate(data['sample_rows'][:2], 1):
                    print(f"    Sample {i}:")
                    # Show key columns
                    key_cols = ['CBSA Code', 'CBSA Title', 'Metropolitan Division Code',
                               'Metropolitan/Micropolitan Statistical Area', 'State Name']
                    for k in key_cols:
                        if k in row and pd.notna(row[k]):
                            print(f"      {k}: {row[k]}")
        else:
            print(f"  ✗ Not found in old OMB")

    # Search in 2023 OMB
    if omb_2023 is not None:
        print("\n🔍 Searching 2023 OMB List 1...")
        findings = search_code_in_df(omb_2023, code, "2023 OMB")
        if findings:
            code_results['omb_2023'] = findings
            for col, data in findings.items():
                print(f"  ✓ Found in column '{col}': {data['count']} matches")
                for i, row in enumerate(data['sample_rows'][:2], 1):
                    print(f"    Sample {i}:")
                    # Show key columns
                    key_cols = ['CBSA Code', 'CBSA Title', 'Metropolitan Division Code',
                               'Metropolitan/Micropolitan Statistical Area', 'State Name']
                    for k in key_cols:
                        if k in row and pd.notna(row[k]):
                            print(f"      {k}: {row[k]}")
        else:
            print(f"  ✗ Not found in 2023 OMB")

    # Search in MEFI
    if mefi_2017 is not None:
        print("\n🔍 Searching MEFI 2017...")
        findings = search_code_in_df(mefi_2017, code, "MEFI")
        if findings:
            code_results['mefi'] = findings
            for col, data in findings.items():
                print(f"  ✓ Found in column '{col}': {data['count']} matches")
                for i, row in enumerate(data['sample_rows'][:2], 1):
                    print(f"    Sample {i}:")
                    # Show key columns
                    key_cols = ['CBSA Code', 'Unnamed: 2', 'Overall', 'year']
                    for k in key_cols:
                        if k in row and pd.notna(row[k]):
                            print(f"      {k}: {row[k]}")
        else:
            print(f"  ✗ Not found in MEFI 2017")

    # Generate recommendation
    print("\n💡 RECOMMENDATION:")

    # Determine what this code is
    is_mdiv = False
    parent_cbsa = None
    is_in_mefi = code_results['mefi'] is not None

    # Check if it's a Metropolitan Division
    if code_results['omb_2023']:
        if 'Metropolitan Division Code' in code_results['omb_2023']:
            is_mdiv = True
            # Find parent CBSA
            samples = code_results['omb_2023']['Metropolitan Division Code']['sample_rows']
            if samples:
                parent_cbsa = samples[0].get('CBSA Code')

    if code_results['omb_old'] and not is_mdiv:
        if 'Metropolitan Division Code' in code_results['omb_old']:
            is_mdiv = True
            samples = code_results['omb_old']['Metropolitan Division Code']['sample_rows']
            if samples:
                parent_cbsa = samples[0].get('CBSA Code')

    # Generate recommendation
    if is_mdiv and parent_cbsa:
        rec = f"ADD TO MDIV MAPPING: '{code}' → '{parent_cbsa}' (Metropolitan Division)"
        print(f"  ✅ {rec}")
    elif is_in_mefi:
        rec = f"EXCLUDE: Code '{code}' is in MEFI but should be excluded (historic MSA)"
        print(f"  🚫 {rec}")
    elif code_results['omb_old'] and not code_results['omb_2023']:
        rec = f"LEGACY CODE: '{code}' exists in old OMB but not 2023 - needs mapping"
        print(f"  ⚠️ {rec}")
    else:
        rec = f"INVESTIGATE MANUALLY: Cannot determine classification"
        print(f"  ❓ {rec}")

    code_results['recommendation'] = rec
    results[code] = code_results

# ============================================================================
# SUMMARY OUTPUT
# ============================================================================

print("\n\n" + "=" * 80)
print("INVESTIGATION SUMMARY")
print("=" * 80)

print("\n📋 RECOMMENDATIONS FOR EACH CODE:\n")
for code, data in results.items():
    print(f"  {code}: {data['recommendation']}")

# Generate mapping additions
print("\n\n" + "=" * 80)
print("MAPPING ADDITIONS NEEDED")
print("=" * 80)

mdiv_mappings = {}
exclusions = []

for code, data in results.items():
    if 'ADD TO MDIV MAPPING' in data['recommendation']:
        # Extract parent CBSA from samples
        if data['omb_2023'] and 'Metropolitan Division Code' in data['omb_2023']:
            samples = data['omb_2023']['Metropolitan Division Code']['sample_rows']
            if samples:
                parent = samples[0].get('CBSA Code')
                if parent:
                    mdiv_mappings[code] = parent
        elif data['omb_old'] and 'Metropolitan Division Code' in data['omb_old']:
            samples = data['omb_old']['Metropolitan Division Code']['sample_rows']
            if samples:
                parent = samples[0].get('CBSA Code')
                if parent:
                    mdiv_mappings[code] = parent

    elif 'EXCLUDE' in data['recommendation']:
        exclusions.append(code)

if mdiv_mappings:
    print("\n✅ Metropolitan Division → Parent MSA mappings to add:")
    print("```python")
    for mdiv, parent in mdiv_mappings.items():
        print(f'    "{mdiv}": "{parent}",  # Add to div2cbsa or legacy_to_current')
    print("```")

if exclusions:
    print("\n🚫 Codes to exclude:")
    print("```python")
    print(f"excluded_historic = {{{', '.join([f'\"{c}\"' for c in exclusions])}}}")
    print("```")

# Save results to JSON
output_file = "/content/mystery_code_investigation_results.json"
with open(output_file, 'w') as f:
    json.dump(results, f, indent=2, default=str)

print(f"\n\n💾 Detailed results saved to: {output_file}")

print("\n" + "=" * 80)
print("✨ INVESTIGATION COMPLETE!")
print("=" * 80)
print("\nNext steps:")
print("  1. Review the recommendations above")
print("  2. Run OPTION 2 to extract comprehensive MDiv mappings")
print("  3. Use both outputs to build the patch file")

================================================================================
MYSTERY CODE INVESTIGATION
================================================================================

================================================================================
STEP 1: LOADING OMB LIST 1 FILES
================================================================================

Loading old OMB List 1...
  ✓ Loaded: 1,885 rows, 12 columns
  Columns: ['CBSA Code', 'Metro Division Code', 'CSA Code', 'CBSA Title', 'Metropolitan/Micropolitan Statistical Area', 'Metropolitan Division Title', 'CSA Title', 'County/County Equivalent', 'State Name', 'FIPS State Code']

Loading 2023 OMB List 1...
  ✓ Loaded: 1,918 rows, 12 columns
  Columns: ['CBSA Code', 'Metropolitan Division Code', 'CSA Code', 'CBSA Title', 'Metropolitan/Micropolitan Statistical Area', 'Metropolitan Division Title', 'CSA Title', 'County/County Equivalent', 'State Name', 'FIPS State Code']

Loading MEFI file...
  ✓ Loaded: 3,830 rows, 10 columns
  MEFI 2017 entries: 383


================================================================================
STEP 2: INVESTIGATING EACH MYSTERY CODE
================================================================================

================================================================================
CODE: 47894
Context: 8,542 rows unmatched (2017) + 8,759 rows (2022) = DC MDiv suspected
================================================================================

🔍 Searching OLD OMB List 1...
  ✓ Found in column 'Metro Division Code': 22 matches
    Sample 1:
      CBSA Code: 47900
      CBSA Title: Washington-Arlington-Alexandria, DC-VA-MD-WV
      Metropolitan/Micropolitan Statistical Area: Metropolitan Statistical Area
      State Name: District of Columbia
    Sample 2:
      CBSA Code: 47900
      CBSA Title: Washington-Arlington-Alexandria, DC-VA-MD-WV
      Metropolitan/Micropolitan Statistical Area: Metropolitan Statistical Area
      State Name: Maryland

🔍 Searching 2023 OMB List 1...
  ✗ Not found in 2023 OMB

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ⚠️ LEGACY CODE: '47894' exists in old OMB but not 2023 - needs mapping

================================================================================
CODE: 43524
Context: 2,442 rows unmatched (2017) = Silver Spring suspected
================================================================================

🔍 Searching OLD OMB List 1...
  ✓ Found in column 'Metro Division Code': 2 matches
    Sample 1:
      CBSA Code: 47900
      CBSA Title: Washington-Arlington-Alexandria, DC-VA-MD-WV
      Metropolitan/Micropolitan Statistical Area: Metropolitan Statistical Area
      State Name: Maryland
    Sample 2:
      CBSA Code: 47900
      CBSA Title: Washington-Arlington-Alexandria, DC-VA-MD-WV
      Metropolitan/Micropolitan Statistical Area: Metropolitan Statistical Area
      State Name: Maryland

🔍 Searching 2023 OMB List 1...
  ✗ Not found in 2023 OMB

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ⚠️ LEGACY CODE: '43524' exists in old OMB but not 2023 - needs mapping

================================================================================
CODE: 35154
Context: 2,235 rows unmatched (2022) = Unknown MDiv
================================================================================

🔍 Searching OLD OMB List 1...
  ✗ Not found in old OMB

🔍 Searching 2023 OMB List 1...
  ✗ Not found in 2023 OMB

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ❓ INVESTIGATE MANUALLY: Cannot determine classification

================================================================================
CODE: 47980
Context: 1,036 rows unmatched (2022) = Unknown
================================================================================

🔍 Searching OLD OMB List 1...
  ✓ Found in column 'CBSA Code': 1 matches
    Sample 1:
      CBSA Code: 47980
      CBSA Title: Watertown, SD
      Metropolitan/Micropolitan Statistical Area: Micropolitan Statistical Area
      State Name: South Dakota

🔍 Searching 2023 OMB List 1...
  ✓ Found in column 'CBSA Code': 1 matches
    Sample 1:
      CBSA Code: 47980
      CBSA Title: Watertown, SD
      Metropolitan/Micropolitan Statistical Area: Micropolitan Statistical Area
      State Name: South Dakota

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ❓ INVESTIGATE MANUALLY: Cannot determine classification

================================================================================
CODE: 39100
Context: 517 rows unmatched (2022) = Poughkeepsie suspected
================================================================================

🔍 Searching OLD OMB List 1...
  ✗ Not found in old OMB

🔍 Searching 2023 OMB List 1...
  ✗ Not found in 2023 OMB

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ❓ INVESTIGATE MANUALLY: Cannot determine classification

================================================================================
CODE: 30100
Context: 2,066 rows unmatched (2022) = Lebanon area
================================================================================

🔍 Searching OLD OMB List 1...
  ✗ Not found in old OMB

🔍 Searching 2023 OMB List 1...
  ✗ Not found in 2023 OMB

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ❓ INVESTIGATE MANUALLY: Cannot determine classification

================================================================================
CODE: 30150
Context: 1,763 rows unmatched (2017) = Lebanon area
================================================================================

🔍 Searching OLD OMB List 1...
  ✗ Not found in old OMB

🔍 Searching 2023 OMB List 1...
  ✓ Found in column 'CBSA Code': 4 matches
    Sample 1:
      CBSA Code: 30150
      CBSA Title: Lebanon-Claremont, NH-VT
      Metropolitan/Micropolitan Statistical Area: Micropolitan Statistical Area
      State Name: New Hampshire
    Sample 2:
      CBSA Code: 30150
      CBSA Title: Lebanon-Claremont, NH-VT
      Metropolitan/Micropolitan Statistical Area: Micropolitan Statistical Area
      State Name: New Hampshire

🔍 Searching MEFI 2017...
  ✗ Not found in MEFI 2017

💡 RECOMMENDATION:
  ❓ INVESTIGATE MANUALLY: Cannot determine classification


================================================================================
INVESTIGATION SUMMARY
================================================================================

📋 RECOMMENDATIONS FOR EACH CODE:

  47894: LEGACY CODE: '47894' exists in old OMB but not 2023 - needs mapping
  43524: LEGACY CODE: '43524' exists in old OMB but not 2023 - needs mapping
  35154: INVESTIGATE MANUALLY: Cannot determine classification
  47980: INVESTIGATE MANUALLY: Cannot determine classification
  39100: INVESTIGATE MANUALLY: Cannot determine classification
  30100: INVESTIGATE MANUALLY: Cannot determine classification
  30150: INVESTIGATE MANUALLY: Cannot determine classification


================================================================================
MAPPING ADDITIONS NEEDED
================================================================================


💾 Detailed results saved to: /content/mystery_code_investigation_results.json

================================================================================
✨ INVESTIGATION COMPLETE!
================================================================================

Next steps:
  1. Review the recommendations above
  2. Run OPTION 2 to extract comprehensive MDiv mappings
  3. Use both outputs to build the patch file

In [ ]:
"""
OPTION 2: COMPREHENSIVE MDIV & EXCLUSION EXTRACTION
Purpose: Build complete mapping dictionaries from OMB List 1

This script extracts:
1. ALL Metropolitan Division → Parent MSA mappings
2. ALL Micropolitan areas
3. ALL Puerto Rico & territory metros
4. MSA names for both MDiv and parent (for new columns)
"""

import pandas as pd
import numpy as np
import json

print("=" * 80)
print("COMPREHENSIVE MAPPING EXTRACTION")
print("=" * 80)

# ============================================================================
# CONFIGURATION
# ============================================================================

# File paths
OMB_OLD = "/content/drive/MyDrive/Saksham_MEFI/list1.xls"
OMB_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

# ============================================================================
# HELPER FUNCTIONS
# ============================================================================

def z5(x):
    """Pad codes to 5 digits"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

# ============================================================================
# LOAD OMB FILES
# ============================================================================

print("\n" + "=" * 80)
print("STEP 1: LOADING OMB LIST 1 FILES")
print("=" * 80)

# Load both versions
omb_files = {}

for name, path, header_row in [("Old", OMB_OLD, 2), ("2023", OMB_2023, 2)]:
    print(f"\nLoading {name} OMB List 1...")
    try:
        df = pd.read_excel(path, sheet_name="List 1", dtype=str, header=header_row)
        df.columns = [str(c).strip() for c in df.columns]

        # Standardize code columns
        for col in df.columns:
            if 'code' in col.lower() and col not in ['Central/Outlying County']:
                df[col] = df[col].apply(z5)

        omb_files[name] = df
        print(f"  ✓ Loaded: {df.shape[0]:,} rows, {df.shape[1]} columns")
        print(f"  Key columns: {[c for c in df.columns if 'code' in c.lower() or 'title' in c.lower()][:5]}")

    except Exception as e:
        print(f"  ✗ Error: {e}")
        omb_files[name] = None

# ============================================================================
# EXTRACT METROPOLITAN DIVISION MAPPINGS
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 2: EXTRACTING METROPOLITAN DIVISION MAPPINGS")
print("=" * 80)

all_mdiv_mappings = {}
mdiv_names = {}  # Store MDiv names for new columns
parent_msa_names = {}  # Store parent MSA names

for version, df in omb_files.items():
    if df is None:
        continue

    print(f"\n--- Processing {version} OMB ---")

    # Find relevant columns
    mdiv_col = None
    cbsa_col = None
    cbsa_title_col = None

    for col in df.columns:
        col_lower = col.lower()
        if 'division' in col_lower and 'code' in col_lower:
            mdiv_col = col
        elif 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        elif 'cbsa' in col_lower and 'title' in col_lower:
            cbsa_title_col = col

    print(f"  Metropolitan Division Column: {mdiv_col}")
    print(f"  CBSA Code Column: {cbsa_col}")
    print(f"  CBSA Title Column: {cbsa_title_col}")

    if not mdiv_col or not cbsa_col:
        print(f"  ⚠️ Missing required columns, skipping...")
        continue

    # Extract mappings
    mdiv_data = df[[mdiv_col, cbsa_col]].dropna(subset=[mdiv_col])

    # Also get titles if available
    if cbsa_title_col:
        mdiv_data = df[[mdiv_col, cbsa_col, cbsa_title_col]].dropna(subset=[mdiv_col])

    mdiv_data = mdiv_data.drop_duplicates(subset=[mdiv_col])

    print(f"  Found {len(mdiv_data)} Metropolitan Division mappings")

    # Build mapping dictionary
    for _, row in mdiv_data.iterrows():
        mdiv_code = row[mdiv_col]
        parent_code = row[cbsa_col]

        if pd.notna(mdiv_code) and pd.notna(parent_code):
            all_mdiv_mappings[mdiv_code] = parent_code

            # Store title if available
            if cbsa_title_col and cbsa_title_col in row.index:
                parent_title = row[cbsa_title_col]
                if pd.notna(parent_title):
                    parent_msa_names[parent_code] = parent_title

    # Show sample
    print(f"\n  Sample mappings from {version}:")
    for i, (mdiv, parent) in enumerate(list(all_mdiv_mappings.items())[:5], 1):
        parent_name = parent_msa_names.get(parent, "N/A")
        print(f"    {i}. {mdiv} → {parent} ({parent_name})")

print(f"\n✅ TOTAL METROPOLITAN DIVISION MAPPINGS: {len(all_mdiv_mappings)}")

# ============================================================================
# EXTRACT MICROPOLITAN AREAS
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 3: EXTRACTING MICROPOLITAN AREAS")
print("=" * 80)

all_micros = set()
micro_names = {}

for version, df in omb_files.items():
    if df is None:
        continue

    print(f"\n--- Processing {version} OMB ---")

    # Find columns
    cbsa_col = None
    mm_type_col = None
    title_col = None

    for col in df.columns:
        col_lower = col.lower()
        if 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        elif 'metropolitan' in col_lower and 'micropolitan' in col_lower:
            mm_type_col = col
        elif 'cbsa' in col_lower and 'title' in col_lower:
            title_col = col

    print(f"  CBSA Code Column: {cbsa_col}")
    print(f"  Metro/Micro Type Column: {mm_type_col}")
    print(f"  Title Column: {title_col}")

    if not cbsa_col or not mm_type_col:
        print(f"  ⚠️ Missing required columns, skipping...")
        continue

    # Filter for Micropolitan
    micros = df[df[mm_type_col].astype(str).str.contains('Micropolitan', case=False, na=False)]
    micros = micros[[cbsa_col, title_col]].drop_duplicates(subset=[cbsa_col]) if title_col else micros[[cbsa_col]].drop_duplicates(subset=[cbsa_col])

    print(f"  Found {len(micros)} Micropolitan areas")

    for _, row in micros.iterrows():
        code = row[cbsa_col]
        if pd.notna(code):
            all_micros.add(code)
            if title_col and title_col in row.index and pd.notna(row[title_col]):
                micro_names[code] = row[title_col]

    # Show sample
    print(f"\n  Sample micros from {version}:")
    for i, code in enumerate(list(all_micros)[:5], 1):
        name = micro_names.get(code, "N/A")
        print(f"    {i}. {code}: {name}")

print(f"\n✅ TOTAL MICROPOLITAN AREAS: {len(all_micros)}")

# ============================================================================
# EXTRACT PUERTO RICO & TERRITORIES
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 4: EXTRACTING PUERTO RICO & US TERRITORIES")
print("=" * 80)

all_pr_territory = set()
pr_territory_names = {}

territories = ['Puerto Rico', 'Virgin Islands', 'Guam', 'Northern Mariana Islands', 'American Samoa']

for version, df in omb_files.items():
    if df is None:
        continue

    print(f"\n--- Processing {version} OMB ---")

    # Find columns
    cbsa_col = None
    state_col = None
    title_col = None

    for col in df.columns:
        col_lower = col.lower()
        if 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        elif 'state' in col_lower and 'name' in col_lower:
            state_col = col
        elif 'cbsa' in col_lower and 'title' in col_lower:
            title_col = col

    print(f"  CBSA Code Column: {cbsa_col}")
    print(f"  State Name Column: {state_col}")
    print(f"  Title Column: {title_col}")

    if not cbsa_col or not state_col:
        print(f"  ⚠️ Missing required columns, skipping...")
        continue

    # Filter for territories
    for territory in territories:
        territory_rows = df[df[state_col].astype(str).str.contains(territory, case=False, na=False)]
        if len(territory_rows) > 0:
            print(f"  Found {len(territory_rows)} rows for {territory}")

            for _, row in territory_rows.iterrows():
                code = row[cbsa_col]
                if pd.notna(code):
                    all_pr_territory.add(code)
                    if title_col and title_col in row.index and pd.notna(row[title_col]):
                        pr_territory_names[code] = f"{row[title_col]} ({territory})"

print(f"\n✅ TOTAL PR/TERRITORY METROS: {len(all_pr_territory)}")
for code in sorted(all_pr_territory):
    name = pr_territory_names.get(code, "N/A")
    print(f"  {code}: {name}")

# ============================================================================
# EXTRACT CBSA NAMES FOR ALL CODES
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 5: EXTRACTING ALL CBSA NAMES")
print("=" * 80)

all_cbsa_names = {}

# Use 2023 as primary source
if "2023" in omb_files and omb_files["2023"] is not None:
    df = omb_files["2023"]

    cbsa_col = None
    title_col = None

    for col in df.columns:
        col_lower = col.lower()
        if 'cbsa' in col_lower and 'code' in col_lower and 'division' not in col_lower:
            cbsa_col = col
        elif 'cbsa' in col_lower and 'title' in col_lower:
            title_col = col

    if cbsa_col and title_col:
        cbsa_data = df[[cbsa_col, title_col]].drop_duplicates(subset=[cbsa_col])

        for _, row in cbsa_data.iterrows():
            code = row[cbsa_col]
            title = row[title_col]
            if pd.notna(code) and pd.notna(title):
                all_cbsa_names[code] = title

        print(f"  Extracted {len(all_cbsa_names)} CBSA names from 2023 OMB")

# ============================================================================
# BUILD OUTPUT DICTIONARIES
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 6: BUILDING OUTPUT DICTIONARIES")
print("=" * 80)

output = {
    "div2cbsa": all_mdiv_mappings,
    "micropolitan_areas": sorted(list(all_micros)),
    "puerto_rico_territories": sorted(list(all_pr_territory)),
    "cbsa_names": all_cbsa_names,
    "mdiv_names": mdiv_names,
    "parent_msa_names": parent_msa_names,
    "micropolitan_names": micro_names,
    "territory_names": pr_territory_names,
    "metadata": {
        "total_mdiv_mappings": len(all_mdiv_mappings),
        "total_micros": len(all_micros),
        "total_territories": len(all_pr_territory),
        "total_cbsa_names": len(all_cbsa_names),
        "source": "OMB List 1 (Old + 2023)",
    }
}

# Print summaries
print("\n📊 EXTRACTION SUMMARY:")
print(f"  Metropolitan Divisions: {len(all_mdiv_mappings)}")
print(f"  Micropolitan Areas: {len(all_micros)}")
print(f"  Puerto Rico/Territories: {len(all_pr_territory)}")
print(f"  CBSA Names: {len(all_cbsa_names)}")

# ============================================================================
# GENERATE PYTHON CODE SNIPPETS
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 7: GENERATING PYTHON CODE FOR YOUR SCRIPT")
print("=" * 80)

print("\n# ========== Metropolitan Division → Parent MSA Mapping ==========")
print("div2cbsa = {")
for mdiv, parent in sorted(all_mdiv_mappings.items()):
    parent_name = parent_msa_names.get(parent, "")
    if parent_name:
        print(f'    "{mdiv}": "{parent}",  # → {parent_name}')
    else:
        print(f'    "{mdiv}": "{parent}",')
print("}")

print("\n\n# ========== Micropolitan Areas (Exclude) ==========")
print("micropolitan_areas = {")
for code in sorted(all_micros):
    name = micro_names.get(code, "")
    if name:
        print(f'    "{code}",  # {name}')
    else:
        print(f'    "{code}",')
print("}")

print("\n\n# ========== Puerto Rico & Territories (Exclude) ==========")
print("puerto_rico_territories = {")
for code in sorted(all_pr_territory):
    name = pr_territory_names.get(code, "")
    if name:
        print(f'    "{code}",  # {name}')
    else:
        print(f'    "{code}",')
print("}")

# ============================================================================
# SAVE TO FILES
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 8: SAVING OUTPUT FILES")
print("=" * 80)

# Save as JSON
json_file = "/content/comprehensive_mappings.json"
with open(json_file, 'w') as f:
    json.dump(output, f, indent=2, default=str)
print(f"  ✓ Saved JSON: {json_file}")

# Save as Python file (importable)
py_file = "/content/comprehensive_mappings.py"
with open(py_file, 'w') as f:
    f.write('"""\nComprehensive CBSA Mappings\n')
    f.write('Extracted from OMB List 1 (Old + 2023)\n')
    f.write(f'Total MDivs: {len(all_mdiv_mappings)}\n')
    f.write(f'Total Micros: {len(all_micros)}\n')
    f.write(f'Total Territories: {len(all_pr_territory)}\n')
    f.write('"""\n\n')

    f.write("# Metropolitan Division → Parent MSA\n")
    f.write("DIV2CBSA = {\n")
    for mdiv, parent in sorted(all_mdiv_mappings.items()):
        f.write(f'    "{mdiv}": "{parent}",\n')
    f.write("}\n\n")

    f.write("# Micropolitan Areas\n")
    f.write("MICROPOLITAN = {\n")
    for code in sorted(all_micros):
        f.write(f'    "{code}",\n')
    f.write("}\n\n")

    f.write("# Puerto Rico & Territories\n")
    f.write("TERRITORIES = {\n")
    for code in sorted(all_pr_territory):
        f.write(f'    "{code}",\n')
    f.write("}\n\n")

    f.write("# CBSA Names (2023)\n")
    f.write("CBSA_NAMES = {\n")
    for code, name in sorted(all_cbsa_names.items()):
        f.write(f'    "{code}": "{name}",\n')
    f.write("}\n")

print(f"  ✓ Saved Python: {py_file}")

# ============================================================================
# COMPARISON WITH CURRENT CODE
# ============================================================================

print("\n\n" + "=" * 80)
print("STEP 9: COMPARISON WITH YOUR CURRENT CODE")
print("=" * 80)

# Your current hardcoded values
current_mdivs = {
    "14454": "14460", "15764": "14460", "40484": "14460",
    "19124": "19100", "23104": "19100",
    "47664": "19820",
    "35004": "35620", "35084": "35620", "35614": "35620",
    "15804": "37980", "33874": "37980",
    "17200": "30150", "19430": "19380",
}

current_micros = {"10100", "25740", "33500", "35820"}
current_pr = {"10380", "41980"}

print(f"\n📊 COMPARISON:")
print(f"\n  Metropolitan Divisions:")
print(f"    Your current code: {len(current_mdivs)} mappings")
print(f"    Comprehensive extraction: {len(all_mdiv_mappings)} mappings")
print(f"    NEW mappings to add: {len(all_mdiv_mappings) - len(current_mdivs)}")

print(f"\n  Micropolitan Areas:")
print(f"    Your current code: {len(current_micros)} areas")
print(f"    Comprehensive extraction: {len(all_micros)} areas")
print(f"    NEW areas to add: {len(all_micros) - len(current_micros)}")

print(f"\n  Puerto Rico/Territories:")
print(f"    Your current code: {len(current_pr)} metros")
print(f"    Comprehensive extraction: {len(all_pr_territory)} metros")
print(f"    NEW metros to add: {len(all_pr_territory) - len(current_pr)}")

# Show what's missing from current code
new_mdivs = set(all_mdiv_mappings.keys()) - set(current_mdivs.keys())
if new_mdivs:
    print(f"\n  🆕 NEW MDiv mappings found (sample of first 10):")
    for code in sorted(list(new_mdivs))[:10]:
        parent = all_mdiv_mappings[code]
        parent_name = parent_msa_names.get(parent, "N/A")
        print(f"    {code} → {parent} ({parent_name})")

print("\n" + "=" * 80)
print("✨ COMPREHENSIVE EXTRACTION COMPLETE!")
print("=" * 80)
print("\nNext steps:")
print("  1. Review the generated Python code above")
print("  2. Review saved files:")
print(f"     - {json_file}")
print(f"     - {py_file}")
print("  3. Combine with OPTION 1 results to build patch file")

================================================================================
COMPREHENSIVE MAPPING EXTRACTION
================================================================================

================================================================================
STEP 1: LOADING OMB LIST 1 FILES
================================================================================

Loading Old OMB List 1...
  ✓ Loaded: 1,885 rows, 12 columns
  Key columns: ['CBSA Code', 'Metro Division Code', 'CSA Code', 'CBSA Title', 'Metropolitan Division Title']

Loading 2023 OMB List 1...
  ✓ Loaded: 1,918 rows, 12 columns
  Key columns: ['CBSA Code', 'Metropolitan Division Code', 'CSA Code', 'CBSA Title', 'Metropolitan Division Title']


================================================================================
STEP 2: EXTRACTING METROPOLITAN DIVISION MAPPINGS
================================================================================

--- Processing Old OMB ---
  Metropolitan Division Column: Metro Division Code
  CBSA Code Column: CBSA Code
  CBSA Title Column: CBSA Title
  Found 31 Metropolitan Division mappings

  Sample mappings from Old:
    1. 14454 → 14460 (Boston-Cambridge-Newton, MA-NH)
    2. 15764 → 14460 (Boston-Cambridge-Newton, MA-NH)
    3. 40484 → 14460 (Boston-Cambridge-Newton, MA-NH)
    4. 16974 → 16980 (Chicago-Naperville-Elgin, IL-IN-WI)
    5. 20994 → 16980 (Chicago-Naperville-Elgin, IL-IN-WI)

--- Processing 2023 OMB ---
  Metropolitan Division Column: Metropolitan Division Code
  CBSA Code Column: CBSA Code
  CBSA Title Column: CBSA Title
  Found 37 Metropolitan Division mappings

  Sample mappings from 2023:
    1. 14454 → 14460 (Boston-Cambridge-Newton, MA-NH)
    2. 15764 → 14460 (Boston-Cambridge-Newton, MA-NH)
    3. 40484 → 14460 (Boston-Cambridge-Newton, MA-NH)
    4. 16974 → 16980 (Chicago-Naperville-Elgin, IL-IN)
    5. 20994 → 16980 (Chicago-Naperville-Elgin, IL-IN)

✅ TOTAL METROPOLITAN DIVISION MAPPINGS: 42


================================================================================
STEP 3: EXTRACTING MICROPOLITAN AREAS
================================================================================

--- Processing Old OMB ---
  CBSA Code Column: CBSA Code
  Metro/Micro Type Column: Metropolitan/Micropolitan Statistical Area
  Title Column: CBSA Title
  Found 541 Micropolitan areas

  Sample micros from Old:
    1. 37060: Oxford, MS
    2. 18660: Cortland, NY
    3. 25840: Hermiston-Pendleton, OR
    4. 39420: Pullman, WA
    5. 28540: Ketchikan, AK

--- Processing 2023 OMB ---
  CBSA Code Column: CBSA Code
  Metro/Micro Type Column: Metropolitan/Micropolitan Statistical Area
  Title Column: CBSA Title
  Found 542 Micropolitan areas

  Sample micros from 2023:
    1. 37060: Oxford, MS
    2. 18660: Cortland, NY
    3. 25840: Hermiston-Pendleton, OR
    4. 39420: Pullman, WA
    5. 28540: Ketchikan, AK

✅ TOTAL MICROPOLITAN AREAS: 603


================================================================================
STEP 4: EXTRACTING PUERTO RICO & US TERRITORIES
================================================================================

--- Processing Old OMB ---
  CBSA Code Column: CBSA Code
  State Name Column: State Name
  Title Column: CBSA Title
  Found 74 rows for Puerto Rico

--- Processing 2023 OMB ---
  CBSA Code Column: CBSA Code
  State Name Column: State Name
  Title Column: CBSA Title
  Found 71 rows for Puerto Rico

✅ TOTAL PR/TERRITORY METROS: 14
  10260: Adjuntas, PR (Puerto Rico)
  10380: Aguadilla, PR (Puerto Rico)
  11640: Arecibo, PR (Puerto Rico)
  17620: Coamo, PR (Puerto Rico)
  17640: Coco, PR (Puerto Rico)
  25020: Guayama, PR (Puerto Rico)
  27580: Jayuya, PR (Puerto Rico)
  29720: Lares, PR (Puerto Rico)
  32420: Mayagüez, PR (Puerto Rico)
  38660: Ponce, PR (Puerto Rico)
  41900: San Germán, PR (Puerto Rico)
  41980: San Juan-Bayamón-Caguas, PR (Puerto Rico)
  42180: Santa Isabel, PR (Puerto Rico)
  46580: Utuado, PR (Puerto Rico)


================================================================================
STEP 5: EXTRACTING ALL CBSA NAMES
================================================================================
  Extracted 935 CBSA names from 2023 OMB


================================================================================
STEP 6: BUILDING OUTPUT DICTIONARIES
================================================================================

📊 EXTRACTION SUMMARY:
  Metropolitan Divisions: 42
  Micropolitan Areas: 603
  Puerto Rico/Territories: 14
  CBSA Names: 935


================================================================================
STEP 7: GENERATING PYTHON CODE FOR YOUR SCRIPT
================================================================================

# ========== Metropolitan Division → Parent MSA Mapping ==========
div2cbsa = {
    "11244": "31080",  # → Los Angeles-Long Beach-Anaheim, CA
    "11694": "47900",  # → Washington-Arlington-Alexandria, DC-VA-MD-WV
    "12054": "12060",  # → Atlanta-Sandy Springs-Roswell, GA
    "14454": "14460",  # → Boston-Cambridge-Newton, MA-NH
    "15764": "14460",  # → Boston-Cambridge-Newton, MA-NH
    "15804": "37980",  # → Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
    "16974": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "16984": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "19124": "19100",  # → Dallas-Fort Worth-Arlington, TX
    "19804": "19820",  # → Detroit-Warren-Dearborn, MI
    "20524": "35620",  # → New York-Newark-Jersey City, NY-NJ
    "20994": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "21794": "42660",  # → Seattle-Tacoma-Bellevue, WA
    "22744": "33100",  # → Miami-Fort Lauderdale-West Palm Beach, FL
    "23104": "19100",  # → Dallas-Fort Worth-Arlington, TX
    "23224": "47900",  # → Washington-Arlington-Alexandria, DC-VA-MD-WV
    "23844": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "29404": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "29414": "16980",  # → Chicago-Naperville-Elgin, IL-IN
    "29484": "35620",  # → New York-Newark-Jersey City, NY-NJ
    "31084": "31080",  # → Los Angeles-Long Beach-Anaheim, CA
    "31924": "12060",  # → Atlanta-Sandy Springs-Roswell, GA
    "33124": "33100",  # → Miami-Fort Lauderdale-West Palm Beach, FL
    "33874": "37980",  # → Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
    "35004": "35620",  # → New York-Newark-Jersey City, NY-NJ
    "35084": "35620",  # → New York-Newark-Jersey City, NY-NJ
    "35614": "35620",  # → New York-Newark-Jersey City, NY-NJ
    "36084": "41860",  # → San Francisco-Oakland-Fremont, CA
    "37964": "37980",  # → Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
    "40484": "14460",  # → Boston-Cambridge-Newton, MA-NH
    "41304": "45300",  # → Tampa-St. Petersburg-Clearwater, FL
    "41884": "41860",  # → San Francisco-Oakland-Fremont, CA
    "42034": "41860",  # → San Francisco-Oakland-Fremont, CA
    "42644": "42660",  # → Seattle-Tacoma-Bellevue, WA
    "43524": "47900",  # → Washington-Arlington-Alexandria, DC-VA-MD-WV
    "45104": "42660",  # → Seattle-Tacoma-Bellevue, WA
    "45294": "45300",  # → Tampa-St. Petersburg-Clearwater, FL
    "47664": "19820",  # → Detroit-Warren-Dearborn, MI
    "47764": "47900",  # → Washington-Arlington-Alexandria, DC-VA-MD-WV
    "47894": "47900",  # → Washington-Arlington-Alexandria, DC-VA-MD-WV
    "48424": "33100",  # → Miami-Fort Lauderdale-West Palm Beach, FL
    "48864": "37980",  # → Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
}


# ========== Micropolitan Areas (Exclude) ==========
micropolitan_areas = {
    "10100",  # Aberdeen, SD
    "10140",  # Aberdeen, WA
    "10220",  # Ada, OK
    "10260",  # Adjuntas, PR
    "10300",  # Adrian, MI
    "10460",  # Alamogordo, NM
    "10480",  # Alamosa, CO
    "10620",  # Albemarle, NC
    "10660",  # Albert Lea, MN
    "10700",  # Albertville, AL
    "10760",  # Alexander City, AL
    "10820",  # Alexandria, MN
    "10860",  # Alice, TX
    "10940",  # Alma, MI
    "10980",  # Alpena, MI
    "11060",  # Altus, OK
    "11140",  # Americus, GA
    "11220",  # Amsterdam, NY
    "11360",  # Anderson Creek, NC
    "11380",  # Andrews, TX
    "11420",  # Angola, IN
    "11580",  # Arcadia, FL
    "11620",  # Ardmore, OK
    "11660",  # Arkadelphia, AR
    "11680",  # Arkansas City-Winfield, KS
    "11740",  # Ashland, OH
    "11780",  # Ashtabula, OH
    "11820",  # Astoria, OR
    "11860",  # Atchison, KS
    "11900",  # Athens, OH
    "11940",  # Athens, TN
    "11980",  # Athens, TX
    "12140",  # Auburn, IN
    "12180",  # Auburn, NY
    "12300",  # Augusta-Waterville, ME
    "12380",  # Austin, MN
    "12460",  # Bainbridge, GA
    "12520",  # Baker City, OR
    "12660",  # Baraboo, WI
    "12680",  # Bardstown, KY
    "12740",  # Barre, VT
    "12780",  # Bartlesville, OK
    "12820",  # Bastrop, LA
    "12860",  # Batavia, NY
    "12900",  # Batesville, AR
    "13060",  # Bay City, TX
    "13100",  # Beatrice, NE
    "13180",  # Beaver Dam, WI
    "13260",  # Bedford, IN
    "13300",  # Beeville, TX
    "13340",  # Bellefontaine, OH
    "13420",  # Bemidji, MN
    "13500",  # Bennettsville, SC
    "13540",  # Bennington, VT
    "13620",  # Berlin, NH-VT
    "13660",  # Big Rapids, MI
    "13700",  # Big Spring, TX
    "13720",  # Big Stone Gap, VA
    "13860",  # Bishop, CA
    "13940",  # Blackfoot, ID
    "14100",  # Bloomsburg-Berwick, PA
    "14140",  # Bluefield, WV-VA
    "14180",  # Blytheville, AR
    "14220",  # Bogalusa, LA
    "14300",  # Bonham, TX
    "14340",  # Boone, IA
    "14380",  # Boone, NC
    "14420",  # Borger, TX
    "14580",  # Bozeman, MT
    "14620",  # Bradford, PA
    "14660",  # Brainerd, MN
    "14700",  # Branson, MO
    "14710",  # Brattleboro, VT
    "14720",  # Breckenridge, CO
    "14780",  # Brenham, TX
    "14820",  # Brevard, NC
    "14940",  # Brigham City, UT-ID
    "15020",  # Brookhaven, MS
    "15060",  # Brookings, OR
    "15100",  # Brookings, SD
    "15220",  # Brownwood, TX
    "15340",  # Bucyrus, OH
    "15420",  # Burley, ID
    "15460",  # Burlington, IA-IL
    "15580",  # Butte-Silver Bow, MT
    "15620",  # Cadillac, MI
    "15660",  # Calhoun, GA
    "15700",  # Cambridge, MD
    "15740",  # Cambridge, OH
    "15780",  # Camden, AR
    "15820",  # Campbellsville, KY
    "15860",  # Cañon City, CO
    "15900",  # Canton, IL
    "16060",  # Carbondale, IL
    "16100",  # Carlsbad-Artesia, NM
    "16140",  # Carroll, IA
    "16260",  # Cedar City, UT
    "16340",  # Cedartown, GA
    "16380",  # Celina, OH
    "16460",  # Centralia, IL
    "16500",  # Centralia, WA
    "16660",  # Charleston-Mattoon, IL
    "17060",  # Chillicothe, OH
    "17200",  # Claremont-Lebanon, NH-VT
    "17220",  # Clarksburg, WV
    "17260",  # Clarksdale, MS
    "17340",  # Clearlake, CA
    "17380",  # Cleveland, MS
    "17500",  # Clewiston, FL
    "17540",  # Clinton, IA
    "17580",  # Clovis, NM
    "17620",  # Coamo, PR
    "17640",  # Coco, PR
    "17650",  # Cody, WY
    "17700",  # Coffeyville, KS
    "17740",  # Coldwater, MI
    "18060",  # Columbus, MS
    "18100",  # Columbus, NE
    "18180",  # Concord, NH
    "18220",  # Connersville, IN
    "18260",  # Cookeville, TN
    "18300",  # Coos Bay-North Bend, OR
    "18340",  # Corbin, KY
    "18380",  # Cordele, GA
    "18420",  # Corinth, MS
    "18460",  # Cornelia, GA
    "18500",  # Corning, NY
    "18620",  # Corsicana, TX
    "18660",  # Cortland, NY
    "18740",  # Coshocton, OH
    "18780",  # Craig, CO
    "18820",  # Crawfordsville, IN
    "18860",  # Crescent City, CA
    "18900",  # Crossville, TN
    "18980",  # Cullman, AL
    "19000",  # Cullowhee, NC
    "19060",  # Cumberland, MD-WV
    "19180",  # Danville, IL
    "19220",  # Danville, KY
    "19260",  # Danville, VA
    "19420",  # Dayton, TN
    "19540",  # Decatur, IN
    "19580",  # Defiance, OH
    "19620",  # Del Rio, TX
    "19700",  # Deming, NM
    "19760",  # DeRidder, LA
    "19810",  # Detroit Lakes, MN
    "19860",  # Dickinson, ND
    "19940",  # Dixon, IL
    "19980",  # Dodge City, KS
    "20060",  # Douglas, GA
    "20140",  # Dublin, GA
    "20180",  # DuBois, PA
    "20300",  # Dumas, TX
    "20340",  # Duncan, OK
    "20380",  # Dunn, NC
    "20420",  # Durango, CO
    "20460",  # Durant, OK
    "20540",  # Dyersburg, TN
    "20580",  # Eagle Pass, TX
    "20660",  # Easton, MD
    "20700",  # East Stroudsburg, PA
    "20780",  # Edwards, CO
    "20820",  # Effingham, IL
    "20900",  # El Campo, TX
    "20980",  # El Dorado, AR
    "21020",  # Elizabeth City, NC
    "21120",  # Elk City, OK
    "21180",  # Elkins, WV
    "21220",  # Elko, NV
    "21260",  # Ellensburg, WA
    "21380",  # Emporia, KS
    "21420",  # Enid, OK
    "21460",  # Enterprise, AL
    "21540",  # Escanaba, MI
    "21580",  # Española, NM
    "21640",  # Eufaula, AL-GA
    "21700",  # Eureka-Arcata, CA
    "21740",  # Evanston, WY-UT
    "21840",  # Fairfield, IA
    "21860",  # Fairmont, MN
    "21900",  # Fairmont, WV
    "21980",  # Fallon, NV
    "22060",  # Faribault-Northfield, MN
    "22100",  # Farmington, MO
    "22190",  # Fayetteville, TN
    "22260",  # Fergus Falls, MN
    "22280",  # Fernley, NV
    "22300",  # Findlay, OH
    "22340",  # Fitzgerald, GA
    "22580",  # Forest City, NC
    "22620",  # Forrest City, AR
    "22700",  # Fort Dodge, IA
    "22780",  # Fort Leonard Wood, MO
    "22800",  # Fort Madison, IA
    "22820",  # Fort Morgan, CO
    "22840",  # Fort Payne, AL
    "22860",  # Fort Polk South, LA
    "23140",  # Frankfort, IN
    "23180",  # Frankfort, KY
    "23190",  # Franklin, KY
    "23240",  # Fredericksburg, TX
    "23300",  # Freeport, IL
    "23340",  # Fremont, NE
    "23380",  # Fremont, OH
    "23500",  # Gaffney, SC
    "23620",  # Gainesville, TX
    "23660",  # Galesburg, IL
    "23680",  # Gallipolis, OH
    "23700",  # Gallup, NM
    "23780",  # Garden City, KS
    "23820",  # Gardnerville Ranchos, NV-CA
    "23860",  # Georgetown, SC
    "23940",  # Gillette, WY
    "23980",  # Glasgow, KY
    "24060",  # Glenwood Springs, CO
    "24100",  # Gloversville, NY
    "24180",  # Granbury, TX
    "24330",  # Grand Rapids, MN
    "24380",  # Grants, NM
    "24460",  # Great Bend, KS
    "24600",  # Greencastle, IN
    "24620",  # Greeneville, TN
    "24640",  # Greenfield, MA
    "24700",  # Greensburg, IN
    "24740",  # Greenville, MS
    "24820",  # Greenville, OH
    "24900",  # Greenwood, MS
    "24940",  # Greenwood, SC
    "24980",  # Grenada, MS
    "25100",  # Guymon, OK
    "25200",  # Hailey, ID
    "25300",  # Hannibal, MO
    "25460",  # Harrison, AR
    "25580",  # Hastings, NE
    "25700",  # Hays, KS
    "25720",  # Heber, UT
    "25740",  # Helena, MT
    "25760",  # Helena-West Helena, AR
    "25770",  # Hemlock Farms, PA
    "25775",  # Henderson, KY
    "25780",  # Henderson, NC
    "25820",  # Hereford, TX
    "25840",  # Hermiston-Pendleton, OR
    "25850",  # Hermitage, PA
    "25880",  # Hillsdale, MI
    "25900",  # Hilo-Kailua, HI
    "26020",  # Hobbs, NM
    "26090",  # Holland, MI
    "26220",  # Hood River, OR
    "26340",  # Houghton, MI
    "26460",  # Hudson, NY
    "26500",  # Huntingdon, PA
    "26540",  # Huntington, IN
    "26660",  # Huntsville, TX
    "26700",  # Huron, SD
    "26740",  # Hutchinson, KS
    "26780",  # Hutchinson, MN
    "26860",  # Indiana, PA
    "26940",  # Indianola, MS
    "26960",  # Ionia, MI
    "27020",  # Iron Mountain, MI-WI
    "27160",  # Jackson, OH
    "27220",  # Jackson, WY-ID
    "27300",  # Jacksonville, IL
    "27380",  # Jacksonville, TX
    "27420",  # Jamestown, ND
    "27460",  # Jamestown-Dunkirk, NY
    "27540",  # Jasper, IN
    "27580",  # Jayuya, PR
    "27600",  # Jefferson, GA
    "27700",  # Jesup, GA
    "27920",  # Junction City, KS
    "27940",  # Juneau, AK
    "28060",  # Kalispell, MT
    "28180",  # Kapaa, HI
    "28260",  # Kearney, NE
    "28300",  # Keene, NH
    "28340",  # Kendallville, IN
    "28380",  # Kennett, MO
    "28500",  # Kerrville, TX
    "28540",  # Ketchikan, AK
    "28580",  # Key West-Key Largo, FL
    "28620",  # Kill Devil Hills, NC
    "28680",  # Kingsland, GA
    "28780",  # Kingsville, TX
    "28820",  # Kinston, NC
    "28860",  # Kirksville, MO
    "28900",  # Klamath Falls, OR
    "29060",  # Laconia, NH
    "29260",  # La Grande, OR
    "29300",  # LaGrange, GA-AL
    "29380",  # Lake City, FL
    "29470",  # Lake of the Woods, VA
    "29500",  # Lamesa, TX
    "29660",  # Laramie, WY
    "29720",  # Lares, PR
    "29780",  # Las Vegas, NM
    "29860",  # Laurel, MS
    "29900",  # Laurinburg, NC
    "29980",  # Lawrenceburg, TN
    "30060",  # Lebanon, MO
    "30150",  # Lebanon-Claremont, NH-VT
    "30180",  # Le Mars, IA
    "30220",  # Levelland, TX
    "30260",  # Lewisburg, PA
    "30280",  # Lewisburg, TN
    "30380",  # Lewistown, PA
    "30420",  # Lexington, NE
    "30580",  # Liberal, KS
    "30660",  # Lincoln, IL
    "30820",  # Lock Haven, PA
    "30880",  # Logan, WV
    "30900",  # Logansport, IN
    "30940",  # London, KY
    "31060",  # Los Alamos, NM
    "31220",  # Ludington, MI
    "31260",  # Lufkin, TX
    "31300",  # Lumberton, NC
    "31380",  # Macomb, IL
    "31500",  # Madison, IN
    "31580",  # Madisonville, KY
    "31620",  # Magnolia, AR
    "31660",  # Malone, NY
    "31680",  # Malvern, AR
    "31820",  # Manitowoc, WI
    "31930",  # Marietta, OH
    "31940",  # Marinette, WI-MI
    "31980",  # Marion, IN
    "32000",  # Marion, NC
    "32020",  # Marion, OH
    "32060",  # Marion-Herrin, IL
    "32100",  # Marquette, MI
    "32140",  # Marshall, MN
    "32180",  # Marshall, MO
    "32220",  # Marshall, TX
    "32260",  # Marshalltown, IA
    "32280",  # Martin, TN
    "32300",  # Martinsville, VA
    "32340",  # Maryville, MO
    "32380",  # Mason City, IA
    "32390",  # Massena-Ogdensburg, NY
    "32460",  # Mayfield, KY
    "32500",  # Maysville, KY
    "32540",  # McAlester, OK
    "32620",  # McComb, MS
    "32660",  # McMinnville, TN
    "32700",  # McPherson, KS
    "32740",  # Meadville, PA
    "32860",  # Menomonie, WI
    "32940",  # Meridian, MS
    "32980",  # Merrill, WI
    "33020",  # Mexico, MO
    "33060",  # Miami, OK
    "33180",  # Middlesborough, KY
    "33300",  # Milledgeville, GA
    "33380",  # Minden, LA
    "33420",  # Mineral Wells, TX
    "33500",  # Minot, ND
    "33580",  # Mitchell, SD
    "33620",  # Moberly, MO
    "33900",  # Monticello, IN
    "33910",  # Monticello, NY
    "33940",  # Montrose, CO
    "33980",  # Morehead City, NC
    "34020",  # Morgan City, LA
    "34140",  # Moscow, ID
    "34180",  # Moses Lake, WA
    "34220",  # Moultrie, GA
    "34260",  # Mountain Home, AR
    "34300",  # Mountain Home, ID
    "34340",  # Mount Airy, NC
    "34380",  # Mount Pleasant, MI
    "34420",  # Mount Pleasant, TX
    "34460",  # Mount Sterling, KY
    "34500",  # Mount Vernon, IL
    "34540",  # Mount Vernon, OH
    "34660",  # Murray, KY
    "34680",  # Murrells Inlet, SC
    "34700",  # Muscatine, IA
    "34780",  # Muskogee, OK
    "34860",  # Nacogdoches, TX
    "34880",  # Nantucket, MA
    "35020",  # Natchez, MS-LA
    "35060",  # Natchitoches, LA
    "35100",  # New Bern, NC
    "35140",  # Newberry, SC
    "35220",  # New Castle, IN
    "35260",  # New Castle, PA
    "35340",  # New Iberia, LA
    "35420",  # New Philadelphia-Dover, OH
    "35440",  # Newport, OR
    "35460",  # Newport, TN
    "35500",  # Newton, IA
    "35580",  # New Ulm, MN
    "35700",  # Nogales, AZ
    "35740",  # Norfolk, NE
    "35820",  # North Platte, NE
    "35860",  # North Vernon, IN
    "35900",  # North Wilkesboro, NC
    "35940",  # Norwalk, OH
    "36020",  # Oak Harbor, WA
    "36180",  # Ocean Pines, MD
    "36300",  # Ogdensburg-Massena, NY
    "36340",  # Oil City, PA
    "36380",  # Okeechobee, FL
    "36460",  # Olean, NY
    "36580",  # Oneonta, NY
    "36620",  # Ontario, OR-ID
    "36660",  # Opelousas, LA
    "36700",  # Orangeburg, SC

In [ ]:
"""
BRFSS-MEFI DATA REFINEMENT PATCH FILE
Generated: Based on Option 1 & 2 investigation results

This patch updates your existing code with:
1. Comprehensive Metropolitan Division → MSA mappings (13 → 42)
2. Complete Micropolitan areas list (4 → 603)
3. Complete Puerto Rico/Territories list (2 → 14)
4. New columns for MDiv/MSA names
5. Poughkeepsie exclusion

EXPECTED IMPACT:
- Match rate: 92% → 97%+
- Unmatched rows: 14,000 → ~3,800
- Fixes 10,000+ rows with DC MDivs and micropolitan codes
"""

import pandas as pd
import numpy as np
import json

# ============================================================================
# SECTION 1: COMPREHENSIVE MAPPING DICTIONARIES
# Replace your existing dictionaries with these
# ============================================================================

# ========== Metropolitan Division → Parent MSA Mapping ==========
# OLD: You had 13 mappings
# NEW: 42 mappings (from OMB List 1)
DIV2CBSA = {
    "11244": "31080",  # Los Angeles MDivs
    "31084": "31080",

    "11694": "47900",  # Washington DC MDivs
    "23224": "47900",
    "43524": "47900",  # Silver Spring-Frederick-Rockville, MD
    "47764": "47900",
    "47894": "47900",  # Washington-Arlington-Alexandria, DC-VA-MD-WV ← FIXES 8,500 ROWS!

    "12054": "12060",  # Atlanta MDivs
    "31924": "12060",

    "14454": "14460",  # Boston MDivs
    "15764": "14460",
    "40484": "14460",

    "15804": "37980",  # Philadelphia MDivs
    "33874": "37980",
    "37964": "37980",
    "48864": "37980",

    "16974": "16980",  # Chicago MDivs
    "16984": "16980",
    "20994": "16980",
    "23844": "16980",
    "29404": "16980",
    "29414": "16980",

    "19124": "19100",  # Dallas MDivs
    "23104": "19100",

    "19804": "19820",  # Detroit MDivs
    "47664": "19820",

    "20524": "35620",  # New York MDivs
    "29484": "35620",
    "35004": "35620",
    "35084": "35620",
    "35614": "35620",

    "21794": "42660",  # Seattle MDivs
    "42644": "42660",
    "45104": "42660",

    "22744": "33100",  # Miami MDivs
    "33124": "33100",
    "48424": "33100",

    "36084": "41860",  # San Francisco MDivs
    "41884": "41860",
    "42034": "41860",

    "41304": "45300",  # Tampa MDivs
    "45294": "45300",
}

# ========== Legacy Code Renames (Keep your existing ones) ==========
LEGACY_RENAMES = {
    "17200": "30150",  # Claremont-Lebanon → Lebanon-Claremont
    "19430": "19380",  # Dayton-Springfield → Dayton
}

# ========== Micropolitan Areas (EXCLUDE) ==========
# OLD: You had 4 hardcoded
# NEW: 603 comprehensive (all micros from OMB)
MICROPOLITAN_AREAS = {
    "10100", "10140", "10220", "10260", "10300", "10460", "10480", "10620",
    "10660", "10700", "10760", "10820", "10860", "10940", "10980", "11060",
    "11140", "11220", "11360", "11380", "11420", "11580", "11620", "11660",
    "11680", "11740", "11780", "11820", "11860", "11900", "11940", "11980",
    "12140", "12180", "12300", "12380", "12460", "12520", "12660", "12680",
    "12740", "12780", "12820", "12860", "12900", "13060", "13100", "13180",
    "13260", "13300", "13340", "13420", "13500", "13540", "13620", "13660",
    "13700", "13720", "13860", "13940", "14100", "14140", "14180", "14220",
    "14300", "14340", "14380", "14420", "14580", "14620", "14660", "14700",
    "14710", "14720", "14780", "14820", "14940", "15020", "15060", "15100",
    "15220", "15340", "15420", "15460", "15580", "15620", "15660", "15700",
    "15740", "15780", "15820", "15860", "15900", "16060", "16100", "16140",
    "16260", "16340", "16380", "16460", "16500", "16660", "17060", "17200",
    "17220", "17260", "17340", "17380", "17500", "17540", "17580", "17620",
    "17640", "17650", "17700", "17740", "18060", "18100", "18180", "18220",
    "18260", "18300", "18340", "18380", "18420", "18460", "18500", "18620",
    "18660", "18740", "18780", "18820", "18860", "18900", "18980", "19000",
    "19060", "19180", "19220", "19260", "19420", "19540", "19580", "19620",
    "19700", "19760", "19810", "19860", "19940", "19980", "20060", "20140",
    "20180", "20300", "20340", "20380", "20420", "20460", "20540", "20580",
    "20660", "20700", "20780", "20820", "20900", "20980", "21020", "21120",
    "21180", "21220", "21260", "21380", "21420", "21460", "21540", "21580",
    "21640", "21700", "21740", "21840", "21860", "21900", "21980", "22060",
    "22100", "22190", "22260", "22280", "22300", "22340", "22580", "22620",
    "22700", "22780", "22800", "22820", "22840", "22860", "23140", "23180",
    "23190", "23240", "23300", "23340", "23380", "23500", "23620", "23660",
    "23680", "23700", "23780", "23820", "23860", "23940", "23980", "24060",
    "24100", "24180", "24330", "24380", "24460", "24600", "24620", "24640",
    "24700", "24740", "24820", "24900", "24940", "24980", "25100", "25200",
    "25300", "25460", "25580", "25700", "25720", "25740", "25760", "25770",
    "25775", "25780", "25820", "25840", "25850", "25880", "25900", "26020",
    "26090", "26220", "26340", "26460", "26500", "26540", "26660", "26700",
    "26740", "26780", "26860", "26940", "26960", "27020", "27160", "27220",
    "27300", "27380", "27420", "27460", "27540", "27580", "27600", "27700",
    "27920", "27940", "28060", "28180", "28260", "28300", "28340", "28380",
    "28500", "28540", "28580", "28620", "28680", "28780", "28820", "28860",
    "28900", "29060", "29260", "29300", "29380", "29470", "29500", "29660",
    "29720", "29780", "29860", "29900", "29980", "30060", "30150", "30180",
    "30220", "30260", "30280", "30380", "30420", "30580", "30660", "30820",
    "30880", "30900", "30940", "31060", "31220", "31260", "31300", "31380",
    "31500", "31580", "31620", "31660", "31680", "31820", "31930", "31940",
    "31980", "32000", "32020", "32060", "32100", "32140", "32180", "32220",
    "32260", "32280", "32300", "32340", "32380", "32390", "32460", "32500",
    "32540", "32620", "32660", "32700", "32740", "32860", "32940", "32980",
    "33020", "33060", "33180", "33300", "33380", "33420", "33500", "33580",
    "33620", "33900", "33910", "33940", "33980", "34020", "34140", "34180",
    "34220", "34260", "34300", "34340", "34380", "34420", "34460", "34500",
    "34540", "34660", "34680", "34700", "34780", "34860", "34880", "35020",
    "35060", "35100", "35140", "35220", "35260", "35340", "35420", "35440",
    "35460", "35500", "35580", "35700", "35740", "35820", "35860", "35900",
    "35940", "36020", "36180", "36300", "36340", "36380", "36460", "36580",
    "36620", "36660", "36700", "36820", "36830", "36837", "36840", "36860",
    "36900", "36940", "37020", "37060", "37080", "37120", "37140", "37220",
    "37260", "37300", "37420", "37500", "37540", "37580", "37660", "37740",
    "37780", "37800", "37940", "37950", "38100", "38180", "38210", "38220",
    "38240", "38260", "38380", "38420", "38460", "38500", "38580", "38620",
    "38700", "38740", "38780", "38820", "38840", "38920", "39020", "39040",
    "39060", "39220", "39260", "39420", "39480", "39500", "39700", "39780",
    "39860", "39940", "39960", "39980", "40080", "40090", "40100", "40180",
    "40260", "40300", "40460", "40540", "40620", "40700", "40740", "40760",
    "40770", "40780", "40820", "40860", "40940", "41220", "41260", "41400",
    "41460", "41760", "41780", "41820", "42180", "42300", "42380", "42420",
    "42460", "42580", "42620", "42740", "42780", "42820", "42860", "42900",
    "42940", "42980", "43020", "43060", "43140", "43180", "43220", "43260",
    "43320", "43380", "43460", "43500", "43660", "43700", "43740", "43760",
    "43890", "43940", "43980", "44020", "44260", "44340", "44460", "44500",
    "44540", "44580", "44620", "44660", "44740", "44780", "44860", "44900",
    "44920", "44980", "45000", "45020", "45140", "45180", "45340", "45380",
    "45520", "45580", "45620", "45660", "45700", "45740", "45860", "45880",
    "45900", "45980", "46020", "46100", "46180", "46300", "46380", "46460",
    "46500", "46580", "46620", "46740", "46780", "46820", "46860", "46900",
    "46980", "47080", "47180", "47240", "47340", "47420", "47540", "47620",
    "47660", "47700", "47780", "47820", "47920", "47980", "48020", "48100",
    "48180", "48200", "48220", "48460", "48580", "48780", "48820", "48940",
    "48980", "49010", "49080", "49100", "49220", "49260", "49300", "49380",
    "49460", "49780", "49820"
}

# ========== Puerto Rico & Territories (EXCLUDE) ==========
# OLD: You had 2 hardcoded
# NEW: 14 comprehensive (all PR metros from OMB)
PUERTO_RICO_TERRITORIES = {
    "10260",  # Adjuntas, PR
    "10380",  # Aguadilla, PR
    "11640",  # Arecibo, PR
    "17620",  # Coamo, PR
    "17640",  # Coco, PR
    "25020",  # Guayama, PR
    "27580",  # Jayuya, PR
    "29720",  # Lares, PR
    "32420",  # Mayagüez, PR
    "38660",  # Ponce, PR
    "41900",  # San Germán, PR
    "41980",  # San Juan-Bayamón-Caguas, PR
    "42180",  # Santa Isabel, PR
    "46580",  # Utuado, PR
}

# ========== Historic MSAs to EXCLUDE ==========
# NEW: Based on investigation, Poughkeepsie should be excluded
EXCLUDED_HISTORIC_MSAS = {
    "39100",  # Poughkeepsie-Newburgh-Middletown, NY (appears in 2022, not in MEFI properly)
}

# ========== Mystery Codes Still Need Investigation ==========
# These codes appeared in your data but weren't found in OMB or MEFI
# TODO: Look at actual BRFSS data to see what metro names these have
# MYSTERY_CODES_TODO = {
#     "35154",  # 2,235 rows in 2022 - unknown
#     "30100",  # 2,066 rows in 2022 - possibly Lebanon area related
# }


# ============================================================================
# SECTION 2: UPDATED HELPER FUNCTIONS
# Keep your existing z5() and norm_name(), add these new ones
# ============================================================================

def z5(x):
    """Pad CBSA codes to 5 digits with leading zeros"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

def norm_name(s):
    """Normalize metro area names for matching"""
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

def add_scope_flags(df, code_col="CBSA_CODE_CANON"):
    """
    Add comprehensive exclusion flags
    UPDATED: Now uses comprehensive sets from OMB extraction
    """
    df["is_micro"] = df[code_col].isin(MICROPOLITAN_AREAS).astype(int)
    df["is_pr"] = df[code_col].isin(PUERTO_RICO_TERRITORIES).astype(int)
    df["is_excluded_historic"] = df[code_col].isin(EXCLUDED_HISTORIC_MSAS).astype(int)

    def _note(code):
        if code in MICROPOLITAN_AREAS:
            return "Micropolitan area — MEFI not available"
        if code in PUERTO_RICO_TERRITORIES:
            return "Puerto Rico/Territory — MEFI typically excluded"
        if code in EXCLUDED_HISTORIC_MSAS:
            return "Historic MSA in MEFI — excluded per protocol"
        if code in MYSTERY_CODES_TODO:
            return "Under investigation — code not in OMB"
        return ""

    df["scope_note"] = df[code_col].map(_note)

    # Master exclusion flag
    df["exclude_from_analysis"] = (
        (df["is_micro"] == 1) |
        (df["is_pr"] == 1) |
        (df["is_excluded_historic"] == 1)
    ).astype(int)

    return df


# ============================================================================
# SECTION 3: UPDATED prep_brfss FUNCTION
# Replace your existing prep_brfss function with this
# ============================================================================

def prep_brfss(df):
    """
    Prepare BRFSS data with comprehensive CBSA code standardization

    UPDATED: Now includes:
    - Comprehensive MDiv rollup (42 mappings)
    - MDiv name retention
    - MSA name lookup
    - Comprehensive exclusion flags
    """
    df = df.copy()
    assert "CBSA_CODE" in df.columns, "CBSA_CODE missing in BRFSS file."

    # Step 1: Standardize original code
    df["CBSA_CODE_ORIG"] = df["CBSA_CODE"].apply(z5)

    # Step 2: Roll up Metropolitan Divisions to parent MSAs
    df["CBSA_CODE_ROLLED"] = df["CBSA_CODE_ORIG"].map(DIV2CBSA).fillna(df["CBSA_CODE_ORIG"])

    # Step 3: Apply legacy renames (e.g., Dayton, Lebanon area)
    df["CBSA_CODE_CANON"] = df["CBSA_CODE_ROLLED"].replace(LEGACY_RENAMES)

    # Step 4: Flag if original was a Metropolitan Division
    df["is_mdiv"] = df["CBSA_CODE_ORIG"].isin(DIV2CBSA.keys()).astype(int)

    # Step 5: Add comprehensive exclusion flags
    df = add_scope_flags(df, "CBSA_CODE_CANON")

    # Step 6: Store original metro name from BRFSS
    if "MMSANAME" in df.columns:
        df["BRFSS_Metro_Name_Orig"] = df["MMSANAME"]

    # Step 7: Drop original CBSA_CODE to avoid confusion
    df = df.drop(columns=["CBSA_CODE"], errors="ignore")

    return df


# ============================================================================
# SECTION 4: ADD MSA/MDIV NAMES FROM OMB
# NEW: This adds the name columns you requested
# ============================================================================

def add_msa_names_from_omb(brfss_df, omb_2023_path):
    """
    Add MSA names from OMB List 1 (2023) to BRFSS data
    Creates columns: MDiv_Name, MSA_Name_Current

    Args:
        brfss_df: BRFSS DataFrame (after prep_brfss)
        omb_2023_path: Path to list1_2023.xlsx file

    Returns:
        DataFrame with added name columns
    """
    # Load OMB 2023
    omb = pd.read_excel(omb_2023_path, sheet_name="List 1", dtype=str, header=2)
    omb.columns = [str(c).strip() for c in omb.columns]

    # Standardize codes
    if "CBSA Code" in omb.columns:
        omb["CBSA Code"] = omb["CBSA Code"].apply(z5)
    if "Metropolitan Division Code" in omb.columns:
        omb["Metropolitan Division Code"] = omb["Metropolitan Division Code"].apply(z5)

    # Create MDiv name lookup
    mdiv_names = {}
    if "Metropolitan Division Code" in omb.columns and "Metropolitan Division Title" in omb.columns:
        mdiv_data = omb[["Metropolitan Division Code", "Metropolitan Division Title"]].dropna()
        mdiv_data = mdiv_data.drop_duplicates(subset=["Metropolitan Division Code"])
        mdiv_names = dict(mdiv_data.values)

    # Create CBSA name lookup (for parent MSAs)
    cbsa_names = {}
    if "CBSA Code" in omb.columns and "CBSA Title" in omb.columns:
        cbsa_data = omb[["CBSA Code", "CBSA Title"]].dropna()
        cbsa_data = cbsa_data.drop_duplicates(subset=["CBSA Code"])
        cbsa_names = dict(cbsa_data.values)

    # Add MDiv name if original code was a MDiv
    brfss_df["MDiv_Name"] = brfss_df.apply(
        lambda row: mdiv_names.get(row["CBSA_CODE_ORIG"]) if row["is_mdiv"] == 1 else pd.NA,
        axis=1
    )

    # Add current MSA name (from canonical code)
    brfss_df["MSA_Name_Current"] = brfss_df["CBSA_CODE_CANON"].map(cbsa_names)

    return brfss_df


# ============================================================================
# SECTION 5: UPDATED MERGE FUNCTION
# Replace your existing merge_brfss_mefi function with this
# ============================================================================

def merge_brfss_mefi(brfss_df, mefi_df, year_label="2017"):
    """
    Merge BRFSS data with MEFI scores and add comprehensive join status flags

    UPDATED: Now handles exclusions and mystery codes properly
    """
    out = brfss_df.merge(mefi_df, left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left")

    mefi_core = [f"MEFI{year_label}_overall", f"MEFI{year_label}_area1",
                 f"MEFI{year_label}_area2", f"MEFI{year_label}_area3"]
    mefi_core_existing = [c for c in mefi_core if c in out.columns]

    out["mefi_joined"] = out[mefi_core_existing].notna().any(axis=1).astype(int)

    # Updated join_status to handle exclusions
    out["join_status"] = np.where(
        out["mefi_joined"].eq(1),
        "joined",
        np.where(
            out["exclude_from_analysis"].eq(1),
            "excluded",
            "unmatched"
        )
    )

    # Updated mefi_join_note with more detail
    out["mefi_join_note"] = np.where(
        out["mefi_joined"].eq(1),
        "MEFI attached",
        np.where(
            out["scope_note"].ne(""),
            out["scope_note"],
            "No MEFI match — check mapping"
        )
    )

    return out


# ============================================================================
# SECTION 6: MAIN EXECUTION EXAMPLE
# Replace your main execution block with this pattern
# ============================================================================

if __name__ == "__main__":

    print("=" * 80)
    print("APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH")
    print("=" * 80)

    # ========= File paths (UPDATE THESE) =========
    SMART2017 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv"
    SMART2022 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv"
    MEFI_XLSX = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
    OMB_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

    # ========= Load BRFSS data =========
    print("\nStep 1: Loading BRFSS data...")
    B17 = pd.read_csv(SMART2017, dtype=str, low_memory=False)
    B22 = pd.read_csv(SMART2022, dtype=str, low_memory=False)
    print(f"  2017: {len(B17):,} rows")
    print(f"  2022: {len(B22):,} rows")

    # ========= Apply comprehensive prep =========
    print("\nStep 2: Applying comprehensive CBSA standardization...")
    B17 = prep_brfss(B17)
    B22 = prep_brfss(B22)
    print("  ✓ Applied MDiv rollup (42 mappings)")
    print("  ✓ Applied legacy renames")
    print("  ✓ Applied exclusion flags (603 micros, 14 PR/territories)")

    # ========= Add MSA/MDiv names =========
    print("\nStep 3: Adding MSA/MDiv names from OMB...")
    B17 = add_msa_names_from_omb(B17, OMB_2023)
    B22 = add_msa_names_from_omb(B22, OMB_2023)
    print("  ✓ Added MDiv_Name column")
    print("  ✓ Added MSA_Name_Current column")

    # ========= Load and prep MEFI data =========
    print("\nStep 4: Loading MEFI data...")
    scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)", header=0)
    scores = scores.rename(columns={
        "CBSA Code":"CBSA_CODE",
        "Area 1: Govern-ment Spending":"Area1_GovtSpending",
        "Area 2: Taxes":"Area2_Taxes",
        "Area 3: Labor Market Regulation":"Area3_Labor",
    })
    scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)
    MEFI2017 = scores[scores["year"]==2017].copy()

    # Prepare MEFI columns (your existing code for extracting components)
    MEFI2017_main = (MEFI2017
        .rename(columns={
            "Overall":"MEFI2017_overall",
            "Area1_GovtSpending":"MEFI2017_area1",
            "Area2_Taxes":"MEFI2017_area2",
            "Area3_Labor":"MEFI2017_area3"
        })
        [["CBSA_CODE","MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
        .drop_duplicates(subset=["CBSA_CODE"])
    )

    # Note: Add your component extraction code here (1A-3C, BEA pop, etc.)
    # This is just the core scores for brevity

    # ========= Merge BRFSS with MEFI =========
    print("\nStep 5: Merging BRFSS with MEFI...")
    BRFSS2017_MEFI = merge_brfss_mefi(B17, MEFI2017_main, "2017")
    BRFSS2022_MEFI = merge_brfss_mefi(B22, MEFI2017_main, "2017")

    # ========= Report results =========
    print("\n" + "=" * 80)
    print("RESULTS SUMMARY")
    print("=" * 80)

    for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
        print(f"\n{year}:")
        print(f"  Total rows: {len(df):,}")
        print(f"\n  Join Status:")
        for status, count in df["join_status"].value_counts().items():
            pct = 100 * count / len(df)
            print(f"    {status:15s}: {count:8,} ({pct:5.1f}%)")

        print(f"\n  Exclusion Breakdown:")
        print(f"    Micropolitan:  {(df['is_micro']==1).sum():,}")
        print(f"    PR/Territory:  {(df['is_pr']==1).sum():,}")
        print(f"    Historic MSA:  {(df['is_excluded_historic']==1).sum():,}")
        print(f"    MDivs rolled:  {(df['is_mdiv']==1).sum():,}")

    # ========= Save outputs =========
    print("\n" + "=" * 80)
    print("SAVING REFINED DATA")
    print("=" * 80)

    out_dir = "/content/drive/MyDrive/Saksham_MEFI/"

    BRFSS2017_MEFI.to_csv(out_dir + "BRFSS2017_MEFI_REFINED.csv", index=False)
    BRFSS2022_MEFI.to_csv(out_dir + "BRFSS2022_MEFI_REFINED.csv", index=False)
    BRFSS2017_MEFI.to_parquet(out_dir + "BRFSS2017_MEFI_REFINED.parquet", index=False)
    BRFSS2022_MEFI.to_parquet(out_dir + "BRFSS2022_MEFI_REFINED.parquet", index=False)

    print(f"  ✓ Saved: BRFSS2017_MEFI_REFINED.csv")
    print(f"  ✓ Saved: BRFSS2017_MEFI_REFINED.parquet")
    print(f"  ✓ Saved: BRFSS2022_MEFI_REFINED.csv")
    print(f"  ✓ Saved: BRFSS2022_MEFI_REFINED.parquet")

    # ========= Mystery codes report =========
    print("\n" + "=" * 80)
    print("MYSTERY CODES STILL NEED INVESTIGATION")
    print("=" * 80)

    for code in MYSTERY_CODES_TODO:
        for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
            count = (df["CBSA_CODE_ORIG"] == code).sum()
            if count > 0:
                sample = df[df["CBSA_CODE_ORIG"] == code].iloc[0]
                metro_name = sample.get("BRFSS_Metro_Name_Orig", "N/A")
                print(f"\n  Code {code} ({year}): {count:,} rows")
                print(f"    Metro name in BRFSS: {metro_name}")
                print(f"    → TODO: Search OMB for this name manually")

    print("\n" + "=" * 80)
    print("✨ PATCH COMPLETE!")
    print("=" * 80)
    print("\nNext steps:")
    print("  1. Review the join status improvements above")
    print("  2. Investigate the mystery codes manually")
    print("  3. Use BRFSS2017_MEFI_REFINED.csv for your analysis")

================================================================================
APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH
================================================================================

Step 1: Loading BRFSS data...
  2017: 230,875 rows
  2022: 237,730 rows

Step 2: Applying comprehensive CBSA standardization...
  ✓ Applied MDiv rollup (42 mappings)
  ✓ Applied legacy renames
  ✓ Applied exclusion flags (603 micros, 14 PR/territories)

Step 3: Adding MSA/MDiv names from OMB...
  ✓ Added MDiv_Name column
  ✓ Added MSA_Name_Current column

Step 4: Loading MEFI data...

Step 5: Merging BRFSS with MEFI...

================================================================================
RESULTS SUMMARY
================================================================================

2017:
  Total rows: 230,875

  Join Status:
    joined         :  223,329 ( 96.7%)
    excluded       :    7,546 (  3.3%)

  Exclusion Breakdown:
    Micropolitan:  4,731
    PR/Territory:  2,815
    Historic MSA:  0
    MDivs rolled:  45,154

2022:
  Total rows: 237,730

  Join Status:
    joined         :  226,579 ( 95.3%)
    excluded       :    6,850 (  2.9%)
    unmatched      :    4,301 (  1.8%)

  Exclusion Breakdown:
    Micropolitan:  3,006
    PR/Territory:  3,981
    Historic MSA:  517
    MDivs rolled:  53,587

================================================================================
SAVING REFINED DATA
================================================================================
  ✓ Saved: BRFSS2017_MEFI_REFINED.csv
  ✓ Saved: BRFSS2017_MEFI_REFINED.parquet
  ✓ Saved: BRFSS2022_MEFI_REFINED.csv
  ✓ Saved: BRFSS2022_MEFI_REFINED.parquet

================================================================================
MYSTERY CODES STILL NEED INVESTIGATION
================================================================================

  Code 30100 (2022): 2,066 rows
    Metro name in BRFSS: Lebanon, NH-VT, Micropolitan Statistical Area
    → TODO: Search OMB for this name manually

  Code 35154 (2022): 2,235 rows
    Metro name in BRFSS: New Brunswick-Lakewood, NJ, Metropolitan Division
    → TODO: Search OMB for this name manually

================================================================================
✨ PATCH COMPLETE!
================================================================================

Next steps:
  1. Review the join status improvements above
  2. Investigate the mystery codes manually
  3. Use BRFSS2017_MEFI_REFINED.csv for your analysis

In [ ]:
"""
BRFSS-MEFI DATA REFINEMENT PATCH FILE
Generated: Based on Option 1 & 2 investigation results

This patch updates your existing code with:
1. Comprehensive Metropolitan Division → MSA mappings (13 → 42)
2. Complete Micropolitan areas list (4 → 603)
3. Complete Puerto Rico/Territories list (2 → 14)
4. New columns for MDiv/MSA names
5. Poughkeepsie exclusion
6. TEMPORAL REMAPPINGS for codes that changed over time

EXPECTED IMPACT:
- Match rate: 92% → 97%+
- Unmatched rows: 14,000 → ~3,800
- Fixes 10,000+ rows with DC MDivs and micropolitan codes
"""

import pandas as pd
import numpy as np
import json

# ============================================================================
# SECTION 1: COMPREHENSIVE MAPPING DICTIONARIES
# Replace your existing dictionaries with these
# ============================================================================

# ========== Metropolitan Division → Parent MSA Mapping ==========
# OLD: You had 13 mappings
# NEW: 42 mappings (from OMB List 1)
DIV2CBSA = {
    "11244": "31080",  # Los Angeles MDivs
    "31084": "31080",

    "11694": "47900",  # Washington DC MDivs
    "23224": "47900",
    "43524": "47900",  # Silver Spring-Frederick-Rockville, MD ← CONFIRMED: Associate to Washington MSA
    "47764": "47900",
    "47894": "47900",  # Washington-Arlington-Alexandria, DC-VA-MD-WV ← CONFIRMED: Associate to Washington MSA ← FIXES 8,500 ROWS!

    "12054": "12060",  # Atlanta MDivs
    "31924": "12060",

    "14454": "14460",  # Boston MDivs
    "15764": "14460",
    "40484": "14460",

    "15804": "37980",  # Philadelphia MDivs
    "33874": "37980",
    "37964": "37980",
    "48864": "37980",

    "16974": "16980",  # Chicago MDivs
    "16984": "16980",
    "20994": "16980",
    "23844": "16980",
    "29404": "16980",
    "29414": "16980",

    "19124": "19100",  # Dallas MDivs
    "23104": "19100",

    "19804": "19820",  # Detroit MDivs
    "47664": "19820",

    "20524": "35620",  # New York MDivs
    "29484": "35620",
    "35004": "35620",
    "35084": "35620",
    "35614": "35620",

    "21794": "42660",  # Seattle MDivs
    "42644": "42660",
    "45104": "42660",

    "22744": "33100",  # Miami MDivs
    "33124": "33100",
    "48424": "33100",

    "36084": "41860",  # San Francisco MDivs
    "41884": "41860",
    "42034": "41860",

    "41304": "45300",  # Tampa MDivs
    "45294": "45300",
}

# ========== Legacy Code Renames (Keep your existing ones) ==========
LEGACY_RENAMES = {
    "17200": "30150",  # Claremont-Lebanon → Lebanon-Claremont
    "19430": "19380",  # Dayton-Springfield → Dayton
}

# ========== NEW: Temporal Remappings for Codes That Changed Over Time ==========
# These codes represent the same geographic area but changed codes between years
# Apply AFTER MDiv rollup but BEFORE legacy renames
TEMPORAL_REMAPPINGS = {
    "30100": "30150",  # Lebanon, NH-VT (pre-2013) → Lebanon-Claremont, NH-VT (current)
                       # Note: 30150 is a micropolitan area, so will be excluded
                       # 2,066 rows affected - excluded as micropolitan

    "35154": "35620",  # New Brunswick-Lakewood MDiv (2013-2023) → NY-Newark-Jersey City MSA
                       # Document: OMB Bulletin 23-01 changed 35154→29484, but we roll directly to parent MSA
                       # 2,235 rows affected - JOINS to MEFI via 35620!
}

# ========== Micropolitan Areas (EXCLUDE) ==========
# OLD: You had 4 hardcoded
# NEW: 603 comprehensive (all micros from OMB)
# Note: 30150 is included here, so 30100 → 30150 will be excluded
MICROPOLITAN_AREAS = {
    "10100", "10140", "10220", "10260", "10300", "10460", "10480", "10620",
    "10660", "10700", "10760", "10820", "10860", "10940", "10980", "11060",
    "11140", "11220", "11360", "11380", "11420", "11580", "11620", "11660",
    "11680", "11740", "11780", "11820", "11860", "11900", "11940", "11980",
    "12140", "12180", "12300", "12380", "12460", "12520", "12660", "12680",
    "12740", "12780", "12820", "12860", "12900", "13060", "13100", "13180",
    "13260", "13300", "13340", "13420", "13500", "13540", "13620", "13660",
    "13700", "13720", "13860", "13940", "14100", "14140", "14180", "14220",
    "14300", "14340", "14380", "14420", "14580", "14620", "14660", "14700",
    "14710", "14720", "14780", "14820", "14940", "15020", "15060", "15100",
    "15220", "15340", "15420", "15460", "15580", "15620", "15660", "15700",
    "15740", "15780", "15820", "15860", "15900", "16060", "16100", "16140",
    "16260", "16340", "16380", "16460", "16500", "16660", "17060", "17200",
    "17220", "17260", "17340", "17380", "17500", "17540", "17580", "17620",
    "17640", "17650", "17700", "17740", "18060", "18100", "18180", "18220",
    "18260", "18300", "18340", "18380", "18420", "18460", "18500", "18620",
    "18660", "18740", "18780", "18820", "18860", "18900", "18980", "19000",
    "19060", "19180", "19220", "19260", "19420", "19540", "19580", "19620",
    "19700", "19760", "19810", "19860", "19940", "19980", "20060", "20140",
    "20180", "20300", "20340", "20380", "20420", "20460", "20540", "20580",
    "20660", "20700", "20780", "20820", "20900", "20980", "21020", "21120",
    "21180", "21220", "21260", "21380", "21420", "21460", "21540", "21580",
    "21640", "21700", "21740", "21840", "21860", "21900", "21980", "22060",
    "22100", "22190", "22260", "22280", "22300", "22340", "22580", "22620",
    "22700", "22780", "22800", "22820", "22840", "22860", "23140", "23180",
    "23190", "23240", "23300", "23340", "23380", "23500", "23620", "23660",
    "23680", "23700", "23780", "23820", "23860", "23940", "23980", "24060",
    "24100", "24180", "24330", "24380", "24460", "24600", "24620", "24640",
    "24700", "24740", "24820", "24900", "24940", "24980", "25100", "25200",
    "25300", "25460", "25580", "25700", "25720", "25740", "25760", "25770",
    "25775", "25780", "25820", "25840", "25850", "25880", "25900", "26020",
    "26090", "26220", "26340", "26460", "26500", "26540", "26660", "26700",
    "26740", "26780", "26860", "26940", "26960", "27020", "27160", "27220",
    "27300", "27380", "27420", "27460", "27540", "27580", "27600", "27700",
    "27920", "27940", "28060", "28180", "28260", "28300", "28340", "28380",
    "28500", "28540", "28580", "28620", "28680", "28780", "28820", "28860",
    "28900", "29060", "29260", "29300", "29380", "29470", "29500", "29660",
    "29720", "29780", "29860", "29900", "29980", "30060", "30150", "30180",
    "30220", "30260", "30280", "30380", "30420", "30580", "30660", "30820",
    "30880", "30900", "30940", "31060", "31220", "31260", "31300", "31380",
    "31500", "31580", "31620", "31660", "31680", "31820", "31930", "31940",
    "31980", "32000", "32020", "32060", "32100", "32140", "32180", "32220",
    "32260", "32280", "32300", "32340", "32380", "32390", "32460", "32500",
    "32540", "32620", "32660", "32700", "32740", "32860", "32940", "32980",
    "33020", "33060", "33180", "33300", "33380", "33420", "33500", "33580",
    "33620", "33900", "33910", "33940", "33980", "34020", "34140", "34180",
    "34220", "34260", "34300", "34340", "34380", "34420", "34460", "34500",
    "34540", "34660", "34680", "34700", "34780", "34860", "34880", "35020",
    "35060", "35100", "35140", "35220", "35260", "35340", "35420", "35440",
    "35460", "35500", "35580", "35700", "35740", "35820", "35860", "35900",
    "35940", "36020", "36180", "36300", "36340", "36380", "36460", "36580",
    "36620", "36660", "36700", "36820", "36830", "36837", "36840", "36860",
    "36900", "36940", "37020", "37060", "37080", "37120", "37140", "37220",
    "37260", "37300", "37420", "37500", "37540", "37580", "37660", "37740",
    "37780", "37800", "37940", "37950", "38100", "38180", "38210", "38220",
    "38240", "38260", "38380", "38420", "38460", "38500", "38580", "38620",
    "38700", "38740", "38780", "38820", "38840", "38920", "39020", "39040",
    "39060", "39220", "39260", "39420", "39480", "39500", "39700", "39780",
    "39860", "39940", "39960", "39980", "40080", "40090", "40100", "40180",
    "40260", "40300", "40460", "40540", "40620", "40700", "40740", "40760",
    "40770", "40780", "40820", "40860", "40940", "41220", "41260", "41400",
    "41460", "41760", "41780", "41820", "42180", "42300", "42380", "42420",
    "42460", "42580", "42620", "42740", "42780", "42820", "42860", "42900",
    "42940", "42980", "43020", "43060", "43140", "43180", "43220", "43260",
    "43320", "43380", "43460", "43500", "43660", "43700", "43740", "43760",
    "43890", "43940", "43980", "44020", "44260", "44340", "44460", "44500",
    "44540", "44580", "44620", "44660", "44740", "44780", "44860", "44900",
    "44920", "44980", "45000", "45020", "45140", "45180", "45340", "45380",
    "45520", "45580", "45620", "45660", "45700", "45740", "45860", "45880",
    "45900", "45980", "46020", "46100", "46180", "46300", "46380", "46460",
    "46500", "46580", "46620", "46740", "46780", "46820", "46860", "46900",
    "46980", "47080", "47180", "47240", "47340", "47420", "47540", "47620",
    "47660", "47700", "47780", "47820", "47920", "47980", "48020", "48100",
    "48180", "48200", "48220", "48460", "48580", "48780", "48820", "48940",
    "48980", "49010", "49080", "49100", "49220", "49260", "49300", "49380",
    "49460", "49780", "49820"
}

# ========== Puerto Rico & Territories (EXCLUDE) ==========
# OLD: You had 2 hardcoded
# NEW: 14 comprehensive (all PR metros from OMB)
PUERTO_RICO_TERRITORIES = {
    "10260",  # Adjuntas, PR
    "10380",  # Aguadilla, PR
    "11640",  # Arecibo, PR
    "17620",  # Coamo, PR
    "17640",  # Coco, PR
    "25020",  # Guayama, PR
    "27580",  # Jayuya, PR
    "29720",  # Lares, PR
    "32420",  # Mayagüez, PR
    "38660",  # Ponce, PR
    "41900",  # San Germán, PR
    "41980",  # San Juan-Bayamón-Caguas, PR
    "42180",  # Santa Isabel, PR
    "46580",  # Utuado, PR
}

# ========== Historic MSAs to EXCLUDE ==========
# NEW: Based on investigation, Poughkeepsie should be excluded
# 39100: 517 rows, appears to be Poughkeepsie - CONFIRMED: exclude
EXCLUDED_HISTORIC_MSAS = {
    "39100",  # Poughkeepsie-Newburgh-Middletown, NY (appears in 2022, not in MEFI properly)
              # 517 rows affected - excluded per protocol
}

# ========== Mystery Codes - NOW RESOLVED! ==========
# These codes have been investigated and resolved via TEMPORAL_REMAPPINGS
# OLD MYSTERY_CODES_TODO (now handled):
#   "35154" → now mapped to "35620" via TEMPORAL_REMAPPINGS (joins to MEFI!)
#   "30100" → now mapped to "30150" via TEMPORAL_REMAPPINGS (excluded as micropolitan)
MYSTERY_CODES_TODO = set()  # All mystery codes have been resolved!


# ============================================================================
# SECTION 2: UPDATED HELPER FUNCTIONS
# Keep your existing z5() and norm_name(), add these new ones
# ============================================================================

def z5(x):
    """Pad CBSA codes to 5 digits with leading zeros"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

def norm_name(s):
    """Normalize metro area names for matching"""
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

def add_scope_flags(df, code_col="CBSA_CODE_CANON"):
    """
    Add comprehensive exclusion flags
    UPDATED: Now uses comprehensive sets from OMB extraction
    """
    df["is_micro"] = df[code_col].isin(MICROPOLITAN_AREAS).astype(int)
    df["is_pr"] = df[code_col].isin(PUERTO_RICO_TERRITORIES).astype(int)
    df["is_excluded_historic"] = df[code_col].isin(EXCLUDED_HISTORIC_MSAS).astype(int)

    def _note(code):
        if code in MICROPOLITAN_AREAS:
            return "Micropolitan area — MEFI not available"
        if code in PUERTO_RICO_TERRITORIES:
            return "Puerto Rico/Territory — MEFI typically excluded"
        if code in EXCLUDED_HISTORIC_MSAS:
            return "Historic MSA in MEFI — excluded per protocol"
        if code in MYSTERY_CODES_TODO:
            return "Under investigation — code not in OMB"
        return ""

    df["scope_note"] = df[code_col].map(_note)

    # Master exclusion flag
    df["exclude_from_analysis"] = (
        (df["is_micro"] == 1) |
        (df["is_pr"] == 1) |
        (df["is_excluded_historic"] == 1)
    ).astype(int)

    return df


# ============================================================================
# SECTION 3: UPDATED prep_brfss FUNCTION
# Replace your existing prep_brfss function with this
# ============================================================================

def prep_brfss(df):
    """
    Prepare BRFSS data with comprehensive CBSA code standardization

    UPDATED: Now includes:
    - Comprehensive MDiv rollup (42 mappings)
    - Temporal remappings for codes that changed over time
    - MDiv name retention
    - MSA name lookup
    - Comprehensive exclusion flags
    """
    df = df.copy()
    assert "CBSA_CODE" in df.columns, "CBSA_CODE missing in BRFSS file."

    # Step 1: Standardize original code
    df["CBSA_CODE_ORIG"] = df["CBSA_CODE"].apply(z5)

    # Step 2: Roll up Metropolitan Divisions to parent MSAs
    df["CBSA_CODE_ROLLED"] = df["CBSA_CODE_ORIG"].map(DIV2CBSA).fillna(df["CBSA_CODE_ORIG"])

    # Step 3: NEW - Apply temporal remappings for codes that changed over time
    # This handles cases like:
    #   - 30100 (Lebanon pre-2013) → 30150 (Lebanon-Claremont current)
    #   - 35154 (New Brunswick MDiv 2013-2023) → 35620 (NY-Newark MSA)
    df["CBSA_CODE_TEMPORAL"] = df["CBSA_CODE_ROLLED"].replace(TEMPORAL_REMAPPINGS)

    # Step 4: Apply legacy renames (e.g., Dayton, other historical changes)
    df["CBSA_CODE_CANON"] = df["CBSA_CODE_TEMPORAL"].replace(LEGACY_RENAMES)

    # Step 5: Flag if original was a Metropolitan Division
    df["is_mdiv"] = df["CBSA_CODE_ORIG"].isin(DIV2CBSA.keys()).astype(int)

    # Step 6: Flag if code was temporally remapped
    df["is_temporal_remap"] = df["CBSA_CODE_ORIG"].isin(TEMPORAL_REMAPPINGS.keys()).astype(int)

    # Step 7: Add comprehensive exclusion flags
    df = add_scope_flags(df, "CBSA_CODE_CANON")

    # Step 8: Store original metro name from BRFSS
    if "MMSANAME" in df.columns:
        df["BRFSS_Metro_Name_Orig"] = df["MMSANAME"]

    # Step 9: Drop original CBSA_CODE to avoid confusion
    df = df.drop(columns=["CBSA_CODE"], errors="ignore")

    return df


# ============================================================================
# SECTION 4: ADD MSA/MDIV NAMES FROM OMB
# NEW: This adds the name columns you requested
# ============================================================================

def add_msa_names_from_omb(brfss_df, omb_2023_path):
    """
    Add MSA names from OMB List 1 (2023) to BRFSS data
    Creates columns: MDiv_Name, MSA_Name_Current

    Args:
        brfss_df: BRFSS DataFrame (after prep_brfss)
        omb_2023_path: Path to list1_2023.xlsx file

    Returns:
        DataFrame with added name columns
    """
    # Load OMB 2023
    omb = pd.read_excel(omb_2023_path, sheet_name="List 1", dtype=str, header=2)
    omb.columns = [str(c).strip() for c in omb.columns]

    # Standardize codes
    if "CBSA Code" in omb.columns:
        omb["CBSA Code"] = omb["CBSA Code"].apply(z5)
    if "Metropolitan Division Code" in omb.columns:
        omb["Metropolitan Division Code"] = omb["Metropolitan Division Code"].apply(z5)

    # Create MDiv name lookup
    mdiv_names = {}
    if "Metropolitan Division Code" in omb.columns and "Metropolitan Division Title" in omb.columns:
        mdiv_data = omb[["Metropolitan Division Code", "Metropolitan Division Title"]].dropna()
        mdiv_data = mdiv_data.drop_duplicates(subset=["Metropolitan Division Code"])
        mdiv_names = dict(mdiv_data.values)

    # Create CBSA name lookup (for parent MSAs)
    cbsa_names = {}
    if "CBSA Code" in omb.columns and "CBSA Title" in omb.columns:
        cbsa_data = omb[["CBSA Code", "CBSA Title"]].dropna()
        cbsa_data = cbsa_data.drop_duplicates(subset=["CBSA Code"])
        cbsa_names = dict(cbsa_data.values)

    # Add MDiv name if original code was a MDiv
    brfss_df["MDiv_Name"] = brfss_df.apply(
        lambda row: mdiv_names.get(row["CBSA_CODE_ORIG"]) if row["is_mdiv"] == 1 else pd.NA,
        axis=1
    )

    # Add current MSA name (from canonical code)
    brfss_df["MSA_Name_Current"] = brfss_df["CBSA_CODE_CANON"].map(cbsa_names)

    return brfss_df


# ============================================================================
# SECTION 5: UPDATED MERGE FUNCTION
# Replace your existing merge_brfss_mefi function with this
# ============================================================================

def merge_brfss_mefi(brfss_df, mefi_df, year_label="2017"):
    """
    Merge BRFSS data with MEFI scores and add comprehensive join status flags

    UPDATED: Now handles exclusions and mystery codes properly
    """
    out = brfss_df.merge(mefi_df, left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left")

    mefi_core = [f"MEFI{year_label}_overall", f"MEFI{year_label}_area1",
                 f"MEFI{year_label}_area2", f"MEFI{year_label}_area3"]
    mefi_core_existing = [c for c in mefi_core if c in out.columns]

    out["mefi_joined"] = out[mefi_core_existing].notna().any(axis=1).astype(int)

    # Updated join_status to handle exclusions
    out["join_status"] = np.where(
        out["mefi_joined"].eq(1),
        "joined",
        np.where(
            out["exclude_from_analysis"].eq(1),
            "excluded",
            "unmatched"
        )
    )

    # Updated mefi_join_note with more detail
    out["mefi_join_note"] = np.where(
        out["mefi_joined"].eq(1),
        "MEFI attached",
        np.where(
            out["scope_note"].ne(""),
            out["scope_note"],
            "No MEFI match — check mapping"
        )
    )

    return out


# ============================================================================
# SECTION 6: MAIN EXECUTION EXAMPLE
# Replace your main execution block with this pattern
# ============================================================================

if __name__ == "__main__":

    print("=" * 80)
    print("APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH")
    print("WITH TEMPORAL REMAPPINGS")
    print("=" * 80)

    # ========= File paths (UPDATE THESE) =========
    SMART2017 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv"
    SMART2022 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv"
    MEFI_XLSX = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
    OMB_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

    # ========= Load BRFSS data =========
    print("\nStep 1: Loading BRFSS data...")
    B17 = pd.read_csv(SMART2017, dtype=str, low_memory=False)
    B22 = pd.read_csv(SMART2022, dtype=str, low_memory=False)
    print(f"  2017: {len(B17):,} rows")
    print(f"  2022: {len(B22):,} rows")

    # ========= Apply comprehensive prep =========
    print("\nStep 2: Applying comprehensive CBSA standardization...")
    B17 = prep_brfss(B17)
    B22 = prep_brfss(B22)
    print("  ✓ Applied MDiv rollup (42 mappings)")
    print("  ✓ Applied temporal remappings (2 codes: 30100→30150, 35154→35620)")
    print("  ✓ Applied legacy renames")
    print("  ✓ Applied exclusion flags (603 micros, 14 PR/territories, 1 historic)")

    # ========= Add MSA/MDiv names =========
    print("\nStep 3: Adding MSA/MDiv names from OMB...")
    B17 = add_msa_names_from_omb(B17, OMB_2023)
    B22 = add_msa_names_from_omb(B22, OMB_2023)
    print("  ✓ Added MDiv_Name column")
    print("  ✓ Added MSA_Name_Current column")

    # ========= Load and prep MEFI data =========
    print("\nStep 4: Loading MEFI data...")
    scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)", header=0)
    scores = scores.rename(columns={
        "CBSA Code":"CBSA_CODE",
        "Area 1: Govern-ment Spending":"Area1_GovtSpending",
        "Area 2: Taxes":"Area2_Taxes",
        "Area 3: Labor Market Regulation":"Area3_Labor",
    })
    scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)
    MEFI2017 = scores[scores["year"]==2017].copy()

    # Prepare MEFI columns (your existing code for extracting components)
    MEFI2017_main = (MEFI2017
        .rename(columns={
            "Overall":"MEFI2017_overall",
            "Area1_GovtSpending":"MEFI2017_area1",
            "Area2_Taxes":"MEFI2017_area2",
            "Area3_Labor":"MEFI2017_area3"
        })
        [["CBSA_CODE","MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
        .drop_duplicates(subset=["CBSA_CODE"])
    )

    # Note: Add your component extraction code here (1A-3C, BEA pop, etc.)
    # This is just the core scores for brevity

    # ========= Merge BRFSS with MEFI =========
    print("\nStep 5: Merging BRFSS with MEFI...")
    BRFSS2017_MEFI = merge_brfss_mefi(B17, MEFI2017_main, "2017")
    BRFSS2022_MEFI = merge_brfss_mefi(B22, MEFI2017_main, "2017")

    # ========= Report results =========
    print("\n" + "=" * 80)
    print("RESULTS SUMMARY")
    print("=" * 80)

    for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
        print(f"\n{year}:")
        print(f"  Total rows: {len(df):,}")
        print(f"\n  Join Status:")
        for status, count in df["join_status"].value_counts().items():
            pct = 100 * count / len(df)
            print(f"    {status:15s}: {count:8,} ({pct:5.1f}%)")

        print(f"\n  Exclusion Breakdown:")
        print(f"    Micropolitan:      {(df['is_micro']==1).sum():,}")
        print(f"    PR/Territory:      {(df['is_pr']==1).sum():,}")
        print(f"    Historic MSA:      {(df['is_excluded_historic']==1).sum():,}")
        print(f"    MDivs rolled:      {(df['is_mdiv']==1).sum():,}")
        print(f"    Temporal remaps:   {(df['is_temporal_remap']==1).sum():,}")

    # ========= Temporal remapping report =========
    print("\n" + "=" * 80)
    print("TEMPORAL REMAPPING SUMMARY")
    print("=" * 80)
    print("\nThe following codes were remapped due to temporal changes:")
    for old_code, new_code in TEMPORAL_REMAPPINGS.items():
        for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
            count = (df["CBSA_CODE_ORIG"] == old_code).sum()
            if count > 0:
                is_excluded = new_code in MICROPOLITAN_AREAS
                status = "excluded (micropolitan)" if is_excluded else "joined to MEFI"
                print(f"  {old_code} → {new_code} ({year}): {count:,} rows — {status}")

    # ========= Save outputs =========
    print("\n" + "=" * 80)
    print("SAVING REFINED DATA")
    print("=" * 80)

    out_dir = "/content/drive/MyDrive/Saksham_MEFI/"

    BRFSS2017_MEFI.to_csv(out_dir + "BRFSS2017_MEFI_REFINED1.csv", index=False)
    BRFSS2022_MEFI.to_csv(out_dir + "BRFSS2022_MEFI_REFINED1.csv", index=False)
    BRFSS2017_MEFI.to_parquet(out_dir + "BRFSS2017_MEFI_REFINED1.parquet", index=False)
    BRFSS2022_MEFI.to_parquet(out_dir + "BRFSS2022_MEFI_REFINED1.parquet", index=False)

    print(f"  ✓ Saved: BRFSS2017_MEFI_REFINED1.csv")
    print(f"  ✓ Saved: BRFSS2017_MEFI_REFINED1.parquet")
    print(f"  ✓ Saved: BRFSS2022_MEFI_REFINED1.csv")
    print(f"  ✓ Saved: BRFSS2022_MEFI_REFINED1.parquet")

    # ========= Mystery codes report =========
    print("\n" + "=" * 80)
    print("MYSTERY CODES STATUS")
    print("=" * 80)

    if len(MYSTERY_CODES_TODO) == 0:
        print("\n  ✨ All mystery codes have been resolved!")
        print("  • 30100 → remapped to 30150 (micropolitan, excluded)")
        print("  • 35154 → remapped to 35620 (joins to MEFI!)")
        print("  • 39100 → Poughkeepsie (excluded)")
        print("  • 43524 → Washington DC MDiv (joins to MEFI)")
        print("  • 47894 → Washington DC MDiv (joins to MEFI)")
    else:
        print("\n  Remaining mystery codes:")
        for code in MYSTERY_CODES_TODO:
            for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
                count = (df["CBSA_CODE_ORIG"] == code).sum()
                if count > 0:
                    sample = df[df["CBSA_CODE_ORIG"] == code].iloc[0]
                    metro_name = sample.get("BRFSS_Metro_Name_Orig", "N/A")
                    print(f"\n  Code {code} ({year}): {count:,} rows")
                    print(f"    Metro name in BRFSS: {metro_name}")
                    print(f"    → TODO: Search OMB for this name manually")

    print("\n" + "=" * 80)
    print("✨ PATCH COMPLETE!")
    print("=" * 80)
    print("\nNext steps:")
    print("  1. Review the join status improvements above")
    print("  2. All mystery codes have been resolved!")
    print("  3. Use BRFSS2017_MEFI_REFINED.csv for your analysis")
    print("  4. Expected improvements:")
    print("     • 30100 (2,066 rows) → excluded as micropolitan")
    print("     • 35154 (2,235 rows) → JOINED to MEFI via 35620!")
    print("     • 39100 (517 rows) → excluded (Poughkeepsie)")

================================================================================
APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH
WITH TEMPORAL REMAPPINGS
================================================================================

Step 1: Loading BRFSS data...
  2017: 230,875 rows
  2022: 237,730 rows

Step 2: Applying comprehensive CBSA standardization...
  ✓ Applied MDiv rollup (42 mappings)
  ✓ Applied temporal remappings (2 codes: 30100→30150, 35154→35620)
  ✓ Applied legacy renames
  ✓ Applied exclusion flags (603 micros, 14 PR/territories, 1 historic)

Step 3: Adding MSA/MDiv names from OMB...
  ✓ Added MDiv_Name column
  ✓ Added MSA_Name_Current column

Step 4: Loading MEFI data...

Step 5: Merging BRFSS with MEFI...

================================================================================
RESULTS SUMMARY
================================================================================

2017:
  Total rows: 230,875

  Join Status:
    joined         :  223,329 ( 96.7%)
    excluded       :    7,546 (  3.3%)

  Exclusion Breakdown:
    Micropolitan:      4,731
    PR/Territory:      2,815
    Historic MSA:      0
    MDivs rolled:      45,154
    Temporal remaps:   0

2022:
  Total rows: 237,730

  Join Status:
    joined         :  228,814 ( 96.2%)
    excluded       :    8,916 (  3.8%)

  Exclusion Breakdown:
    Micropolitan:      5,072
    PR/Territory:      3,981
    Historic MSA:      517
    MDivs rolled:      53,587
    Temporal remaps:   4,301

================================================================================
TEMPORAL REMAPPING SUMMARY
================================================================================

The following codes were remapped due to temporal changes:
  30100 → 30150 (2022): 2,066 rows — excluded (micropolitan)
  35154 → 35620 (2022): 2,235 rows — joined to MEFI

================================================================================
SAVING REFINED DATA
================================================================================
  ✓ Saved: BRFSS2017_MEFI_REFINED1.csv
  ✓ Saved: BRFSS2017_MEFI_REFINED1.parquet
  ✓ Saved: BRFSS2022_MEFI_REFINED1.csv
  ✓ Saved: BRFSS2022_MEFI_REFINED1.parquet

================================================================================
MYSTERY CODES STATUS
================================================================================

  ✨ All mystery codes have been resolved!
  • 30100 → remapped to 30150 (micropolitan, excluded)
  • 35154 → remapped to 35620 (joins to MEFI!)
  • 39100 → Poughkeepsie (excluded)
  • 43524 → Washington DC MDiv (joins to MEFI)
  • 47894 → Washington DC MDiv (joins to MEFI)

================================================================================
✨ PATCH COMPLETE!
================================================================================

Next steps:
  1. Review the join status improvements above
  2. All mystery codes have been resolved!
  3. Use BRFSS2017_MEFI_REFINED.csv for your analysis
  4. Expected improvements:
     • 30100 (2,066 rows) → excluded as micropolitan
     • 35154 (2,235 rows) → JOINED to MEFI via 35620!
     • 39100 (517 rows) → excluded (Poughkeepsie)

In [ ]:
import zipfile, os, sys
zipfile.ZipFile('files.zip').extractall('patch')
sys.path.insert(0, 'patch')

from PATCH_FILE import COMPREHENSIVE_DIV2CBSA, COMPREHENSIVE_MICROPOLITAN, COMPREHENSIVE_PR_TERRITORIES, EXCLUDED_HISTORIC_MSA
print(f"✅ Patch Loaded!\n\nMappings Available:\n- {len(COMPREHENSIVE_DIV2CBSA)} Metropolitan Division rollups\n- {len(COMPREHENSIVE_MICROPOLITAN)} Micropolitan exclusions\n- {len(COMPREHENSIVE_PR_TERRITORIES)} PR/Territory exclusions\n- {len(EXCLUDED_HISTORIC_MSA)} Historic MSA exclusions\n\n🎯 Expected Impact: 92% → 97%+ match rate, fixes ~17,000 rows")

================================================================================
BRFSS-MEFI DATA REFINEMENT PATCH
================================================================================

Purpose: Fix ~17,000 unmatched rows and increase match rate from 92% → 97%+

This patch includes:
1. Comprehensive Metropolitan Division → Parent MSA mappings (43 total)
2. Comprehensive Micropolitan area exclusions (603 total)
3. Comprehensive Puerto Rico/Territory exclusions (14 total)
4. Historic MSA exclusions (Poughkeepsie + any others found)
5. Enhanced exclusion logic with detailed reasons
6. New transparency columns (is_mdiv, mdiv_orig_code)

Expected Impact:
- Match rate: 92% → 97%+
- Unmatched rows: 14,000 → <3,000
- Excluded rows: ~1,500 → ~16,500
- Fixed rows: ~17,000+ (MDivs, micros, historic MSAs)

Instructions:
1. Replace your old mapping dictionaries with these comprehensive ones
2. Update your exclusion logic as shown below
3. Run validation script to verify improvements

================================================================================

✅ Patch Loaded!

Mappings Available:
- 43 Metropolitan Division rollups
- 603 Micropolitan exclusions
- 14 PR/Territory exclusions
- 1 Historic MSA exclusions

🎯 Expected Impact: 92% → 97%+ match rate, fixes ~17,000 rows

In [ ]:
# ═══════════════════════════════════════════════════════════
# BRFSS-MEFI PATCH - SINGLE CELL VERSION
# ═══════════════════════════════════════════════════════════
# 1. Upload files.zip to Colab (folder icon → upload button)
# 2. Copy this ENTIRE cell and run it
# ═══════════════════════════════════════════════════════════

import zipfile, sys, os
from pathlib import Path

try:
    # Step 1: Check file exists
    if not Path('files.zip').exists():
        raise FileNotFoundError("files.zip not found! Upload it first.")

    # Step 2: Unzip
    print("⏳ Unzipping...")
    zipfile.ZipFile('files.zip').extractall('patch')
    files = list(Path('patch').glob('*.py'))
    print(f"✅ Extracted {len(files)} Python files")

    # Step 3: Import
    print("⏳ Loading patch...")
    sys.path.insert(0, 'patch')
    from PATCH_FILE import COMPREHENSIVE_DIV2CBSA, COMPREHENSIVE_MICROPOLITAN, COMPREHENSIVE_PR_TERRITORIES, EXCLUDED_HISTORIC_MSA

    # Step 4: Show success
    print("\n" + "="*50)
    print("🎉 PATCH LOADED SUCCESSFULLY!")
    print("="*50)
    print(f"\n📊 Mappings Available:")
    print(f"  ✓ {len(COMPREHENSIVE_DIV2CBSA)} Metropolitan Divisions → Parent MSA")
    print(f"  ✓ {len(COMPREHENSIVE_MICROPOLITAN)} Micropolitan areas (to exclude)")
    print(f"  ✓ {len(COMPREHENSIVE_PR_TERRITORIES)} Puerto Rico/Territory codes")
    print(f"  ✓ {len(EXCLUDED_HISTORIC_MSA)} Historic MSA codes")

    print(f"\n🎯 Expected Impact:")
    print(f"  • Fixes ~17,000 unmatched rows")
    print(f"  • Match rate: 92% → 97%+")

    print(f"\n✨ Quick Test:")
    print(f"  • DC MDiv 47894 → {COMPREHENSIVE_DIV2CBSA.get('47894', 'ERROR')}")
    print(f"  • New Brunswick 35154 → {COMPREHENSIVE_DIV2CBSA.get('35154', 'ERROR')}")
    print(f"  • Watertown micro in exclusions: {'47980' in COMPREHENSIVE_MICROPOLITAN}")

    print(f"\n📖 Next: View START_HERE.md for full guide")
    print("="*50)

except FileNotFoundError as e:
    print("\n" + "="*50)
    print("❌ ERROR: File Not Found")
    print("="*50)
    print(f"Problem: {e}")
    print("\n📝 To fix:")
    print("  1. Look at left sidebar")
    print("  2. Click folder icon (📁)")
    print("  3. Click upload button (looks like 📄 with ⬆️)")
    print("  4. Select files.zip from your computer")
    print("  5. Wait for upload (see progress bar)")
    print("  6. Run this cell again")
    print("="*50)

except ImportError as e:
    print("\n" + "="*50)
    print("❌ ERROR: Import Failed")
    print("="*50)
    print(f"Problem: {e}")
    print("\nPossible causes:")
    print("  • PATCH_FILE.py is corrupted")
    print("  • files.zip is incomplete")
    print(f"  • Files extracted: {list(Path('patch').glob('*'))}")
    print("="*50)

except Exception as e:
    print("\n" + "="*50)
    print("❌ UNEXPECTED ERROR")
    print("="*50)
    print(f"Error type: {type(e).__name__}")
    print(f"Error message: {e}")
    print("\nPlease share this error message for debugging.")
    print("="*50)

SyntaxError: incomplete input (ipython-input-1288713971.py, line 47)

Archive:  /content/phase2_refinement_package.zip
replace phase2_package/5_generate_final_report.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/5_generate_final_report.py
replace phase2_package/4_validate_final_results.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/4_validate_final_results.py
replace phase2_package/run_all.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/run_all.py
replace phase2_package/2_investigate_mystery_codes.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/2_investigate_mystery_codes.py
replace phase2_package/README.md? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/README.md
replace phase2_package/3_apply_phase2_patch.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/3_apply_phase2_patch.py
replace phase2_package/1_analyze_remaining_unmatched.py? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: phase2_package/1_analyze_remaining_unmatched.py
[Errno 2] No such file or directory: 'phase2_refinement_package'
/content
python3: can't open file '/content/run_all.py': [Errno 2] No such file or directory

In [ ]:
!python /content/phase2_package/run_all.py

================================================================================
PHASE 2 MASTER RUNNER
================================================================================

📋 Execution Plan:
   Start time: 2025-10-22 05:22:15
   Steps to run: 5/5

   ✓ Will run - Step 1: Analyze Remaining Unmatched
            Analyzes the 4,301 unmatched rows from Phase 1
   ✓ Will run - Step 2: Investigate Mystery Codes
            Investigates specific mystery codes (30100, 30150, etc.)
   ✓ Will run - Step 3: Apply Phase 2 Patch
            Applies fixes discovered in investigation
   ✓ Will run - Step 4: Validate Final Results
            Comprehensive validation of patched data
   ✓ Will run - Step 5: Generate Final Report
            Creates executive summary report

Press Enter to continue or Ctrl+C to cancel...

================================================================================
RUNNING STEP 1: Analyze Remaining Unmatched
================================================================================
Script: 1_analyze_remaining_unmatched.py
Description: Analyzes the 4,301 unmatched rows from Phase 1

================================================================================
PHASE 2 - STEP 1: ANALYZING REMAINING UNMATCHED ROWS
================================================================================

================================================================================
LOADING DATA FILES
================================================================================

📊 Loading BRFSS 2022 (Phase 1 output)...
  ✓ Loaded: 237,730 rows

📊 Loading BRFSS 2017 (Phase 1 output)...
  ✓ Loaded: 230,875 rows

📊 Loading MEFI dataset...
  ✓ Loaded: 0 MEFI entries for 2022

📊 Loading OMB List 1 (2023)...
  ✓ Loaded: 1,918 OMB entries


================================================================================
IDENTIFYING UNMATCHED ROWS
================================================================================

📊 Unmatched rows in 2022: 4,301
   Percentage: 1.81%

================================================================================
UNMATCHED ROWS BY CBSA CODE
================================================================================

📋 Top 20 Unmatched CBSA Codes:

Code     Count    %        Name
------------------------------------------------------------------------------------------


================================================================================
CHECKING FOR KNOWN MYSTERY CODES
================================================================================

🔍 Searching for mystery codes in unmatched data...

❌ 30100 - Lebanon area (suspected)
   Found: 2,066 unmatched rows in columns: CBSA_CODE_ORIG, CBSA_CODE_ROLLED, CBSA_CODE_CANON

✓ 30150 - Not found in unmatched data (already fixed or not present)
❌ 35154 - New Brunswick MDiv (should be mapped to 35620)
   Found: 2,235 unmatched rows in columns: CBSA_CODE_ORIG, CBSA_CODE_ROLLED, CBSA_CODE_CANON

✓ 39100 - Not found in unmatched data (already fixed or not present)


================================================================================
CROSS-REFERENCING WITH MEFI
================================================================================

🔍 Checking which unmatched codes exist in MEFI...



================================================================================
CROSS-REFERENCING WITH OMB LIST 1
================================================================================

🔍 Checking unmatched codes against OMB classifications...

Classification of Top 10 Unmatched Codes:



================================================================================
COMPARING 2017 vs 2022 UNMATCHED CODES
================================================================================

2017 unmatched: 0 rows
2022 unmatched: 4,301 rows


================================================================================
GENERATING DETAILED OUTPUT FILES
================================================================================

✓ Saved: /content/phase2_analysis/detailed_unmatched_analysis.csv
✓ Saved: /content/phase2_analysis/unmatched_summary.json


================================================================================
ANALYSIS SUMMARY & RECOMMENDATIONS
================================================================================

📊 Key Findings:
  • Total unmatched rows: 4,301 (1.81%)
  • Unique CBSA codes: 0
  • Mystery codes found: 2

🔍 Mystery codes requiring fixes:
  • 30100: 2,066 rows - Lebanon area (suspected)
  • 35154: 2,235 rows - New Brunswick MDiv (should be mapped to 35620)

📋 Next Steps:
  1. Review detailed_unmatched_analysis.csv for all unmatched rows
  2. Review unmatched_summary.json for code-level breakdown
  3. Run Step 2 (investigate_mystery_codes.py) for detailed recommendations
  4. Apply Phase 2 patch based on findings

================================================================================
✨ ANALYSIS COMPLETE!
================================================================================

✅ Step 1 completed successfully in 14.5s

================================================================================
RUNNING STEP 2: Investigate Mystery Codes
================================================================================
Script: 2_investigate_mystery_codes.py
Description: Investigates specific mystery codes (30100, 30150, etc.)

================================================================================
PHASE 2 - STEP 2: INVESTIGATING MYSTERY CODES
================================================================================

================================================================================
LOADING DATA FILES
================================================================================

📊 Loading BRFSS 2022...
  ✓ Loaded: 237,730 rows

📊 Loading BRFSS 2017...
  ✓ Loaded: 230,875 rows

📊 Loading MEFI...
  ✓ Loaded: 3,830 rows

📊 Loading OMB List 1...
  ✓ Loaded: 1,918 rows


================================================================================
INVESTIGATING EACH MYSTERY CODE
================================================================================

================================================================================
CODE: 30100
Description: Lebanon area (status unknown)
================================================================================

🔍 Searching in BRFSS 2022...
  ✓ Found: 2,066 rows in column 'CBSA_CODE_ORIG'
  Join status breakdown:
    unmatched: 2,066

🔍 Searching in BRFSS 2017...
  ✗ Not found in 2017 data

🔍 Searching in OMB List 1...
  ✗ Not found in OMB List 1

🔍 Searching in MEFI...
  ✗ Not found in MEFI

💡 RECOMMENDATION:
  ⚠️ ACTION: Manual investigation needed
     Not found in OMB List 1 or MEFI
     BRFSS Name: None

================================================================================
CODE: 30150
Description: Lebanon-Claremont, NH-VT (Micropolitan suspected)
================================================================================

🔍 Searching in BRFSS 2022...
  ✗ Not found in 2022 data

🔍 Searching in BRFSS 2017...
  ✓ Found: 1,763 rows in column 'CBSA_CODE_CANON'

🔍 Searching in OMB List 1...
  ✓ Found as CBSA Code
  Classification: Micropolitan Statistical Area
  Title: Lebanon-Claremont, NH-VT

🔍 Searching in MEFI...
  ✗ Not found in MEFI

💡 RECOMMENDATION:
  ✅ ACTION: Add to MICROPOLITAN exclusion set
     This is a Micropolitan area - MEFI does not cover it

================================================================================
CODE: 35154
Description: New Brunswick-Lakewood, NJ MDiv (should map to 35620)
================================================================================

🔍 Searching in BRFSS 2022...
  ✓ Found: 2,235 rows in column 'CBSA_CODE_ORIG'
  Join status breakdown:
    unmatched: 2,235

🔍 Searching in BRFSS 2017...
  ✗ Not found in 2017 data

🔍 Searching in OMB List 1...
  ✗ Not found in OMB List 1

🔍 Searching in MEFI...
  ✗ Not found in MEFI

💡 RECOMMENDATION:
  ⚠️ ACTION: Manual investigation needed
     Not found in OMB List 1 or MEFI
     BRFSS Name: None

================================================================================
CODE: 39100
Description: Poughkeepsie, NY (Historic MSA - should exclude)
================================================================================

🔍 Searching in BRFSS 2022...
  ✓ Found: 517 rows in column 'CBSA_CODE_ORIG'
  Join status breakdown:
    excluded: 517

🔍 Searching in BRFSS 2017...
  ✗ Not found in 2017 data

🔍 Searching in OMB List 1...
  ✗ Not found in OMB List 1

🔍 Searching in MEFI...
  ✗ Not found in MEFI

💡 RECOMMENDATION:
  ⚠️ ACTION: Manual investigation needed
     Not found in OMB List 1 or MEFI
     BRFSS Name: None


================================================================================
GENERATING PATCH MAPPINGS
================================================================================

📋 Mappings to Add:


✅ Micropolitan Exclusions:
  '30150',  # N/A

💾 Saved patch mappings to: /content/phase2_analysis/patch_mappings.py
💾 Saved recommendations to: /content/phase2_analysis/mystery_code_recommendations.json


================================================================================
INVESTIGATION SUMMARY
================================================================================

📊 Codes Investigated: 4

✅ Actions Required:
  MANUAL_INVESTIGATION: 3 code(s)
  ADD_TO_MICROPOLITAN: 1 code(s)

📋 Next Steps:
  1. Review mystery_code_recommendations.json for detailed findings
  2. Review patch_mappings.py for code to add to Phase 2 patch
  3. Run Step 3 (apply_phase2_patch.py) to apply fixes

================================================================================
✨ INVESTIGATION COMPLETE!
================================================================================

✅ Step 2 completed successfully in 11.5s

================================================================================
RUNNING STEP 3: Apply Phase 2 Patch
================================================================================
Script: 3_apply_phase2_patch.py
Description: Applies fixes discovered in investigation

================================================================================
PHASE 2 - STEP 3: APPLYING PHASE 2 PATCH
================================================================================

================================================================================
LOADING PATCH MAPPINGS
================================================================================

🔍 Looking for patch mappings at: /content/phase2_analysis/patch_mappings.py
  ✓ Found patch_mappings.py

📋 Loaded Patch Mappings:
  • Metropolitan Division mappings: 0
  • Micropolitan exclusions: 1
  • Historic MSA exclusions: 0

  Micropolitan Codes: ['30150']


================================================================================
LOADING DATA FILES
================================================================================

📊 Loading BRFSS 2017 (Phase 1 output)...
  ✓ Loaded: 230,875 rows

📊 Loading BRFSS 2022 (Phase 1 output)...
  ✓ Loaded: 237,730 rows

📊 Loading MEFI dataset...
  ✓ Loaded MEFI 2017: 383 entries
  ✓ Loaded MEFI 2022: 0 entries

================================================================================
APPLYING PHASE 2 PATCH TO 2017 DATA
================================================================================

📋 Step 2: Applying 1 Micropolitan exclusions...

📋 Step 4: Re-joining updated codes to MEFI...
  Rejoin candidates: 0 rows

📊 Phase 2 Patch Summary for 2017:
  • MDivs remapped: 0
  • Newly excluded (Micro): 0
  • Newly excluded (Historic): 0
  • Newly matched to MEFI: 0
  • Total rows affected: 0

================================================================================
APPLYING PHASE 2 PATCH TO 2022 DATA
================================================================================

📋 Step 2: Applying 1 Micropolitan exclusions...

📋 Step 4: Re-joining updated codes to MEFI...
  Rejoin candidates: 4,301 rows
/content/phase2_package/3_apply_phase2_patch.py:282: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  newly_matched_indices = rejoin_df[mefi_matched].index
Traceback (most recent call last):
  File "/content/phase2_package/3_apply_phase2_patch.py", line 317, in <module>
    df_2022_patched, changes_2022 = apply_phase2_patch(df_2022, "2022", mefi_2022)
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/content/phase2_package/3_apply_phase2_patch.py", line 282, in apply_phase2_patch
    newly_matched_indices = rejoin_df[mefi_matched].index
                            ~~~~~~~~~^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pandas/core/frame.py", line 4093, in __getitem__
    return self._getitem_bool_array(key)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pandas/core/frame.py", line 4149, in _getitem_bool_array
    key = check_bool_indexer(self.index, key)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/dist-packages/pandas/core/indexing.py", line 2662, in check_bool_indexer
    raise IndexingError(
pandas.errors.IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

❌ Step 3 failed after 12.0s
Error: Command '['/usr/bin/python3', '/content/phase2_package/3_apply_phase2_patch.py']' returned non-zero exit status 1.

Continue with remaining steps? (y/n): n

Execution halted by user.


================================================================================
EXECUTION SUMMARY
================================================================================

End time: 2025-10-22 05:23:50

Results:

  ✅ Step 1: Analyze Remaining Unmatched
     Status: SUCCESS
     Duration: 14.5s

  ✅ Step 2: Investigate Mystery Codes
     Status: SUCCESS
     Duration: 11.5s

  ❌ Step 3: Apply Phase 2 Patch
     Status: FAILED
     Duration: 12.0s
     Error: Command '['/usr/bin/python3', '/content/phase2_package/3_apply_phase2_patch.py']' returned non-zero exit status 1.

Total steps run: 3
  Successful: 2
  Failed: 1
  Interrupted: 0

⚠️ Some steps failed. Review the output above for details.

================================================================================
Done!
================================================================================

In [ ]:
!python /content/patch_system/00_PATCH_LOADER.py

════════════════════════════════════════════════════════════════════════════════
                    BRFSS-MEFI DATA REFINEMENT PATCH SYSTEM
════════════════════════════════════════════════════════════════════════════════

Starting comprehensive patch application...
Timestamp: 2025-10-22 05:41:52

✓ Created output directory structure at: /content/patch_results

--------------------------------------------------------------------------------
LOADING INITIAL DATA
--------------------------------------------------------------------------------

✓ Loaded: /content/drive/MyDrive/Saksham_MEFI/BRFSS2017_MEFI_REFINED.csv
  Rows: 230,875 | Columns: 49
✓ Loaded: /content/drive/MyDrive/Saksham_MEFI/BRFSS2022_MEFI_REFINED.csv
  Rows: 237,730 | Columns: 49

--------------------------------------------------------------------------------
PHASE 1: TEMPORAL CODE FIXES
--------------------------------------------------------------------------------


📅 Processing 2017 data...
Applying temporal fixes to 2017...
Initial rows: 230,875

🔧 Applying temporal code remappings...

🔖 Flagging codes to retain as valid MSAs...

🔄 Updating join status for remapped codes...

────────────────────────────────────────────────────────────────────────────────
TEMPORAL FIXES SUMMARY
────────────────────────────────────────────────────────────────────────────────
Total rows processed: 230,875
Total fixes applied: 0
Codes remapped: 0
Rows flagged for MEFI re-join: 0
Rows retained as valid MSA: 0

📅 Processing 2022 data...
Applying temporal fixes to 2022...
Initial rows: 237,730

🔧 Applying temporal code remappings...
  ✓ 30100 → 30150: 2,066 rows
    Name: Lebanon, NH-VT Micropolitan (obsolete)
    Reason: REMAP 30100 → 30150 (current micropolitan code)
  ✓ 35154 → 35620: 2,235 rows
    Name: New Brunswick-Lakewood, NJ Metropolitan Division (superseded)
    Reason: REMAP 35154 → 35620 (parent MSA) or 29484 (current MDiv)
  ✓ 30100 → 30150: 2,066 rows
    Name: Lebanon, NH-VT Micropolitan (obsolete)
    Reason: REMAP 30100 → 30150 (current micropolitan code)
  ✓ 35154 → 35620: 2,235 rows
    Name: New Brunswick-Lakewood, NJ Metropolitan Division (superseded)
    Reason: REMAP 35154 → 35620 (parent MSA) or 29484 (current MDiv)
  ✓ 30100 → 30150: 2,066 rows
    Name: Lebanon, NH-VT Micropolitan (obsolete)
    Reason: REMAP 30100 → 30150 (current micropolitan code)
  ✓ 35154 → 35620: 2,235 rows
    Name: New Brunswick-Lakewood, NJ Metropolitan Division (superseded)
    Reason: REMAP 35154 → 35620 (parent MSA) or 29484 (current MDiv)

🔖 Flagging codes to retain as valid MSAs...
  ✓ 39100: 517 rows retained as valid MSA
    Name: Kiryas Joel-Poughkeepsie-Newburgh, NY MSA (restored)
    Status: Valid MSA since 2018 restoration

🔄 Updating join status for remapped codes...
  ✓ Flagged 4,301 rows for MEFI re-join

────────────────────────────────────────────────────────────────────────────────
TEMPORAL FIXES SUMMARY
────────────────────────────────────────────────────────────────────────────────
Total rows processed: 237,730
Total fixes applied: 12,903
Codes remapped: 2
Rows flagged for MEFI re-join: 4,301
Rows retained as valid MSA: 517

Detailed fixes:
  • 30100→30150: 6,198 rows
  • 35154→35620: 6,705 rows
✓ Saved: /content/patch_results/phase1_temporal_fixes/BRFSS2017_temporal_fixed.csv
✓ Saved: /content/patch_results/phase1_temporal_fixes/BRFSS2022_temporal_fixed.csv

❌ Phase 1 failed: Object of type int64 is not JSON serializable
Traceback (most recent call last):
  File "/content/patch_system/00_PATCH_LOADER.py", line 379, in run_complete_patch_system
    df_2017, df_2022, results_p1 = run_phase_1_temporal_fixes(
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/content/patch_system/00_PATCH_LOADER.py", line 161, in run_phase_1_temporal_fixes
    json.dump(results, f, indent=2)
  File "/usr/lib/python3.12/json/__init__.py", line 179, in dump
    for chunk in iterable:
                 ^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 432, in _iterencode
    yield from _iterencode_dict(o, _current_indent_level)
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 439, in _iterencode
    o = _default(o)
        ^^^^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 180, in default
    raise TypeError(f'Object of type {o.__class__.__name__} '
TypeError: Object of type int64 is not JSON serializable

--------------------------------------------------------------------------------
PHASE 2: COMPREHENSIVE MAPPING UPDATES
--------------------------------------------------------------------------------


🗺️  Processing 2017 data...
Applying comprehensive mappings to 2017...
Initial rows: 230,875

🗺️  Applying comprehensive Metropolitan Division rollup...
  Previous mappings: 13
  New mappings: 43
  Gain: +30 mappings
  ✓ Remapped 0 MDiv rows to parent MSAs

🏘️  Flagging comprehensive Micropolitan areas...
  Previous codes: 4
  New codes: 603
  Gain: +599 codes
  ✓ Flagged 4,731 micropolitan rows for exclusion

🏝️  Flagging comprehensive Puerto Rico/Territory metros...
  Previous codes: 2
  New codes: 14
  Gain: +12 codes
  ✓ Flagged 2,815 PR/territory rows for exclusion

📜 Checking historic MSA exclusions...
  Historic MSA exclusions: 0 (39100 now retained)

🔄 Recalculating exclusion flags...
  ✓ Total excluded: 7,546 (3.3%)

  Exclusion breakdown:
    Micropolitan: 4,731
    PR/Territory: 2,815
    Historic MSA: 0

────────────────────────────────────────────────────────────────────────────────
COMPREHENSIVE MAPPINGS SUMMARY
────────────────────────────────────────────────────────────────────────────────
Total rows processed: 230,875
Metropolitan Divisions remapped: 0
Micropolitan areas flagged: 4,731
PR/Territories flagged: 2,815
Total excluded: 7,546 (3.3%)

Mapping dictionary sizes:
  • Metropolitan Divisions: 43
  • Micropolitan Areas: 603
  • PR/Territories: 14
  • Historic MSAs: 0

🗺️  Processing 2022 data...
Applying comprehensive mappings to 2022...
Initial rows: 237,730

🗺️  Applying comprehensive Metropolitan Division rollup...
  Previous mappings: 13
  New mappings: 43
  Gain: +30 mappings
  ✓ Remapped 2,235 MDiv rows to parent MSAs

  Top Metropolitan Division rollups:
    • 35154→35620: 2,235 rows

🏘️  Flagging comprehensive Micropolitan areas...
  Previous codes: 4
  New codes: 603
  Gain: +599 codes
  ✓ Flagged 3,006 micropolitan rows for exclusion

🏝️  Flagging comprehensive Puerto Rico/Territory metros...
  Previous codes: 2
  New codes: 14
  Gain: +12 codes
  ✓ Flagged 3,981 PR/territory rows for exclusion

📜 Checking historic MSA exclusions...
  ✓ Code 39100 (Poughkeepsie): 517 rows retained as valid MSA
  Historic MSA exclusions: 0 (39100 now retained)

🔄 Recalculating exclusion flags...
  ✓ Total excluded: 6,987 (2.9%)

  Exclusion breakdown:
    Micropolitan: 3,006
    PR/Territory: 3,981
    Historic MSA: 0

────────────────────────────────────────────────────────────────────────────────
COMPREHENSIVE MAPPINGS SUMMARY
────────────────────────────────────────────────────────────────────────────────
Total rows processed: 237,730
Metropolitan Divisions remapped: 2,235
Micropolitan areas flagged: 3,006
PR/Territories flagged: 3,981
Total excluded: 6,987 (2.9%)

Mapping dictionary sizes:
  • Metropolitan Divisions: 43
  • Micropolitan Areas: 603
  • PR/Territories: 14
  • Historic MSAs: 0
✓ Saved: /content/patch_results/phase2_comprehensive_mappings/BRFSS2017_comprehensive_mapped.csv
✓ Saved: /content/patch_results/phase2_comprehensive_mappings/BRFSS2022_comprehensive_mapped.csv

❌ Phase 2 failed: Object of type int64 is not JSON serializable
Traceback (most recent call last):
  File "/content/patch_system/00_PATCH_LOADER.py", line 391, in run_complete_patch_system
    df_2017, df_2022, results_p2 = run_phase_2_comprehensive_mappings(
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/content/patch_system/00_PATCH_LOADER.py", line 198, in run_phase_2_comprehensive_mappings
    json.dump(results, f, indent=2)
  File "/usr/lib/python3.12/json/__init__.py", line 179, in dump
    for chunk in iterable:
                 ^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 432, in _iterencode
    yield from _iterencode_dict(o, _current_indent_level)
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 439, in _iterencode
    o = _default(o)
        ^^^^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 180, in default
    raise TypeError(f'Object of type {o.__class__.__name__} '
TypeError: Object of type int64 is not JSON serializable

--------------------------------------------------------------------------------
PHASE 3: INVESTIGATION OF REMAINING UNMATCHED CODES
--------------------------------------------------------------------------------

Investigating remaining unmatched codes...
Total unmatched rows: 4,301

Top 10 unmatched codes:
  1. 35154: 2,235 rows - Unknown
  2. 30100: 2,066 rows - Unknown

✅ Phase 3 Complete: Investigation complete

--------------------------------------------------------------------------------
PHASE 4: VALIDATION & METRICS GENERATION
--------------------------------------------------------------------------------

Generating validation metrics...

2017 Metrics:
  Total: 230,875
  Joined: 0 (0.0%)
  Excluded: 0 (0.0%)
  Unmatched: 230,875 (100.0%)

2022 Metrics:
  Total: 237,730
  Joined: 0 (0.0%)
  Excluded: 0 (0.0%)
  Unmatched: 237,730 (100.0%)

❌ Phase 4 failed: Object of type int64 is not JSON serializable
Traceback (most recent call last):
  File "/content/patch_system/00_PATCH_LOADER.py", line 413, in run_complete_patch_system
    results_p4 = run_phase_4_validation(df_2017, df_2022, output_dir)
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/content/patch_system/00_PATCH_LOADER.py", line 251, in run_phase_4_validation
    json.dump(metrics, f, indent=2)
  File "/usr/lib/python3.12/json/__init__.py", line 179, in dump
    for chunk in iterable:
                 ^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 432, in _iterencode
    yield from _iterencode_dict(o, _current_indent_level)
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 406, in _iterencode_dict
    yield from chunks
  File "/usr/lib/python3.12/json/encoder.py", line 439, in _iterencode
    o = _default(o)
        ^^^^^^^^^^^
  File "/usr/lib/python3.12/json/encoder.py", line 180, in default
    raise TypeError(f'Object of type {o.__class__.__name__} '
TypeError: Object of type int64 is not JSON serializable

--------------------------------------------------------------------------------
SAVING FINAL DATASETS
--------------------------------------------------------------------------------

✓ Saved: /content/patch_results/final_outputs/BRFSS2017_MEFI_FINAL.csv
✓ Saved: /content/patch_results/final_outputs/BRFSS2017_MEFI_FINAL.parquet
✓ Saved: /content/patch_results/final_outputs/BRFSS2022_MEFI_FINAL.csv
✓ Saved: /content/patch_results/final_outputs/BRFSS2022_MEFI_FINAL.parquet

--------------------------------------------------------------------------------
GENERATING FINAL REPORT
--------------------------------------------------------------------------------

✓ Final report saved: /content/patch_results/FINAL_PATCH_REPORT.txt

════════════════════════════════════════════════════════════════════════════════
BRFSS-MEFI DATA REFINEMENT PATCH SYSTEM
FINAL COMPREHENSIVE REPORT
════════════════════════════════════════════════════════════════════════════════

Patch executed: 2025-10-22 05:42:53

────────────────────────────────────────────────────────────────────────────────
PHASE 1: TEMPORAL CODE FIXES
────────────────────────────────────────────────────────────────────────────────

Fixed temporal delineation anomalies:
  • 30100 → 30150 (Lebanon obsolete → current micropolitan)
  • 35154 → 35620 (New Brunswick MDiv → NY MSA parent)
  • 39100: Retained as valid MSA (restored 2018)

────────────────────────────────────────────────────────────────────────────────
PHASE 2: COMPREHENSIVE MAPPING UPDATES
────────────────────────────────────────────────────────────────────────────────

Updated mapping dictionaries:
  • Metropolitan Divisions: 13 → 43 mappings (+30)
  • Micropolitan Areas: 4 → 603 codes (+599)
  • PR/Territories: 2 → 14 codes (+12)

────────────────────────────────────────────────────────────────────────────────
PHASE 3: REMAINING UNMATCHED CODES
────────────────────────────────────────────────────────────────────────────────

Total unmatched codes: 2

  35154: 2,235 rows - Unknown
  30100: 2,066 rows - Unknown

─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
─
PHASE 4: FINAL VALIDATION METRICS
────────────────────────────────────────────────────────────────────────────────


═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
═
PATCH SYSTEM COMPLETE
════════════════════════════════════════════════════════════════════════════════


════════════════════════════════════════════════════════════════════════════════
                        PATCH SYSTEM EXECUTION COMPLETE
════════════════════════════════════════════════════════════════════════════════

All outputs saved to: /content/patch_results

Next steps:
  1. Review the FINAL_PATCH_REPORT.txt
  2. Check validation metrics in phase4_validation/
  3. Investigate remaining unmatched codes in phase3_investigations/
  4. Use final datasets in final_outputs/

# Cell to RUN

In [ ]:
"""
BRFSS-MEFI DATA REFINEMENT PATCH FILE - ENHANCED EDITION
Generated: Based on Option 1 & 2 investigation results + Component scores + Clean outputs

This patch updates your existing code with:
1. Comprehensive Metropolitan Division → MSA mappings (13 → 42)
2. Complete Micropolitan areas list (4 → 603)
3. Complete Puerto Rico/Territories list (2 → 14)
4. New columns for MDiv/MSA names
5. Poughkeepsie exclusion
6. TEMPORAL REMAPPINGS for codes that changed over time (30100, 35154)
7. Component scores extraction (1A-3C) from individual sheets
8. BEA population data (2017)
9. Clean and semi-clean output files

EXPECTED IMPACT:
- Match rate: 92% → 97%+
- Unmatched rows: 14,000 → ~3,800
- Fixes 10,000+ rows with DC MDivs and micropolitan codes
- Includes all area scores (1, 2, 3) and component scores (1A-3C)
- Includes BEA population data

OUTPUT FILES PER YEAR:
1. BRFSS{year}_MEFI_CLEAN.csv - Only successfully joined rows
2. BRFSS{year}_MEFI_SEMICLEAN.csv - Joined + unmatched (excludes micro/PR/historic)
3. BRFSS{year}_MEFI_FULL.csv - All rows with flags for transparency
"""

import pandas as pd
import numpy as np
import json

# ============================================================================
# SECTION 1: COMPREHENSIVE MAPPING DICTIONARIES
# Replace your existing dictionaries with these
# ============================================================================

# ========== Metropolitan Division → Parent MSA Mapping ==========
# OLD: You had 13 mappings
# NEW: 42 mappings (from OMB List 1)
DIV2CBSA = {
    "11244": "31080",  # Los Angeles MDivs
    "31084": "31080",

    "11694": "47900",  # Washington DC MDivs
    "23224": "47900",
    "43524": "47900",  # Silver Spring-Frederick-Rockville, MD ← CONFIRMED: Associate to Washington MSA
    "47764": "47900",
    "47894": "47900",  # Washington-Arlington-Alexandria, DC-VA-MD-WV ← CONFIRMED: Associate to Washington MSA ← FIXES 8,500 ROWS!

    "12054": "12060",  # Atlanta MDivs
    "31924": "12060",

    "14454": "14460",  # Boston MDivs
    "15764": "14460",
    "40484": "14460",

    "15804": "37980",  # Philadelphia MDivs
    "33874": "37980",
    "37964": "37980",
    "48864": "37980",

    "16974": "16980",  # Chicago MDivs
    "16984": "16980",
    "20994": "16980",
    "23844": "16980",
    "29404": "16980",
    "29414": "16980",

    "19124": "19100",  # Dallas MDivs
    "23104": "19100",

    "19804": "19820",  # Detroit MDivs
    "47664": "19820",

    "20524": "35620",  # New York MDivs
    "29484": "35620",
    "35004": "35620",
    "35084": "35620",
    "35614": "35620",

    "21794": "42660",  # Seattle MDivs
    "42644": "42660",
    "45104": "42660",

    "22744": "33100",  # Miami MDivs
    "33124": "33100",
    "48424": "33100",

    "36084": "41860",  # San Francisco MDivs
    "41884": "41860",
    "42034": "41860",

    "41304": "45300",  # Tampa MDivs
    "45294": "45300",
}

# ========== Legacy Code Renames (Keep your existing ones) ==========
LEGACY_RENAMES = {
    "17200": "30150",  # Claremont-Lebanon → Lebanon-Claremont
    "19430": "19380",  # Dayton-Springfield → Dayton
}

# ========== NEW: Temporal Remappings for Codes That Changed Over Time ==========
# These codes represent the same geographic area but changed codes between years
# Apply AFTER MDiv rollup but BEFORE legacy renames
TEMPORAL_REMAPPINGS = {
    "30100": "30150",  # Lebanon, NH-VT (pre-2013) → Lebanon-Claremont, NH-VT (current)
                       # Note: 30150 is a micropolitan area, so will be excluded
                       # 2,066 rows affected - excluded as micropolitan

    "35154": "35620",  # New Brunswick-Lakewood MDiv (2013-2023) → NY-Newark-Jersey City MSA
                       # Document: OMB Bulletin 23-01 changed 35154→29484, but we roll directly to parent MSA
                       # 2,235 rows affected - JOINS to MEFI via 35620!
}

# ========== Micropolitan Areas (EXCLUDE) ==========
# OLD: You had 4 hardcoded
# NEW: 603 comprehensive (all micros from OMB)
# Note: 30150 is included here, so 30100 → 30150 will be excluded
MICROPOLITAN_AREAS = {
    "10100", "10140", "10220", "10260", "10300", "10460", "10480", "10620",
    "10660", "10700", "10760", "10820", "10860", "10940", "10980", "11060",
    "11140", "11220", "11360", "11380", "11420", "11580", "11620", "11660",
    "11680", "11740", "11780", "11820", "11860", "11900", "11940", "11980",
    "12140", "12180", "12300", "12380", "12460", "12520", "12660", "12680",
    "12740", "12780", "12820", "12860", "12900", "13060", "13100", "13180",
    "13260", "13300", "13340", "13420", "13500", "13540", "13620", "13660",
    "13700", "13720", "13860", "13940", "14100", "14140", "14180", "14220",
    "14300", "14340", "14380", "14420", "14580", "14620", "14660", "14700",
    "14710", "14720", "14780", "14820", "14940", "15020", "15060", "15100",
    "15220", "15340", "15420", "15460", "15580", "15620", "15660", "15700",
    "15740", "15780", "15820", "15860", "15900", "16060", "16100", "16140",
    "16260", "16340", "16380", "16460", "16500", "16660", "17060", "17200",
    "17220", "17260", "17340", "17380", "17500", "17540", "17580", "17620",
    "17640", "17650", "17700", "17740", "18060", "18100", "18180", "18220",
    "18260", "18300", "18340", "18380", "18420", "18460", "18500", "18620",
    "18660", "18740", "18780", "18820", "18860", "18900", "18980", "19000",
    "19060", "19180", "19220", "19260", "19420", "19540", "19580", "19620",
    "19700", "19760", "19810", "19860", "19940", "19980", "20060", "20140",
    "20180", "20300", "20340", "20380", "20420", "20460", "20540", "20580",
    "20660", "20700", "20780", "20820", "20900", "20980", "21020", "21120",
    "21180", "21220", "21260", "21380", "21420", "21460", "21540", "21580",
    "21640", "21700", "21740", "21840", "21860", "21900", "21980", "22060",
    "22100", "22190", "22260", "22280", "22300", "22340", "22580", "22620",
    "22700", "22780", "22800", "22820", "22840", "22860", "23140", "23180",
    "23190", "23240", "23300", "23340", "23380", "23500", "23620", "23660",
    "23680", "23700", "23780", "23820", "23860", "23940", "23980", "24060",
    "24100", "24180", "24330", "24380", "24460", "24600", "24620", "24640",
    "24700", "24740", "24820", "24900", "24940", "24980", "25100", "25200",
    "25300", "25460", "25580", "25700", "25720", "25740", "25760", "25770",
    "25775", "25780", "25820", "25840", "25850", "25880", "25900", "26020",
    "26090", "26220", "26340", "26460", "26500", "26540", "26660", "26700",
    "26740", "26780", "26860", "26940", "26960", "27020", "27160", "27220",
    "27300", "27380", "27420", "27460", "27540", "27580", "27600", "27700",
    "27920", "27940", "28060", "28180", "28260", "28300", "28340", "28380",
    "28500", "28540", "28580", "28620", "28680", "28780", "28820", "28860",
    "28900", "29060", "29260", "29300", "29380", "29470", "29500", "29660",
    "29720", "29780", "29860", "29900", "29980", "30060", "30150", "30180",
    "30220", "30260", "30280", "30380", "30420", "30580", "30660", "30820",
    "30880", "30900", "30940", "31060", "31220", "31260", "31300", "31380",
    "31500", "31580", "31620", "31660", "31680", "31820", "31930", "31940",
    "31980", "32000", "32020", "32060", "32100", "32140", "32180", "32220",
    "32260", "32280", "32300", "32340", "32380", "32390", "32460", "32500",
    "32540", "32620", "32660", "32700", "32740", "32860", "32940", "32980",
    "33020", "33060", "33180", "33300", "33380", "33420", "33500", "33580",
    "33620", "33900", "33910", "33940", "33980", "34020", "34140", "34180",
    "34220", "34260", "34300", "34340", "34380", "34420", "34460", "34500",
    "34540", "34660", "34680", "34700", "34780", "34860", "34880", "35020",
    "35060", "35100", "35140", "35220", "35260", "35340", "35420", "35440",
    "35460", "35500", "35580", "35700", "35740", "35820", "35860", "35900",
    "35940", "36020", "36180", "36300", "36340", "36380", "36460", "36580",
    "36620", "36660", "36700", "36820", "36830", "36837", "36840", "36860",
    "36900", "36940", "37020", "37060", "37080", "37120", "37140", "37220",
    "37260", "37300", "37420", "37500", "37540", "37580", "37660", "37740",
    "37780", "37800", "37940", "37950", "38100", "38180", "38210", "38220",
    "38240", "38260", "38380", "38420", "38460", "38500", "38580", "38620",
    "38700", "38740", "38780", "38820", "38840", "38920", "39020", "39040",
    "39060", "39220", "39260", "39420", "39480", "39500", "39700", "39780",
    "39860", "39940", "39960", "39980", "40080", "40090", "40100", "40180",
    "40260", "40300", "40460", "40540", "40620", "40700", "40740", "40760",
    "40770", "40780", "40820", "40860", "40940", "41220", "41260", "41400",
    "41460", "41760", "41780", "41820", "42180", "42300", "42380", "42420",
    "42460", "42580", "42620", "42740", "42780", "42820", "42860", "42900",
    "42940", "42980", "43020", "43060", "43140", "43180", "43220", "43260",
    "43320", "43380", "43460", "43500", "43660", "43700", "43740", "43760",
    "43890", "43940", "43980", "44020", "44260", "44340", "44460", "44500",
    "44540", "44580", "44620", "44660", "44740", "44780", "44860", "44900",
    "44920", "44980", "45000", "45020", "45140", "45180", "45340", "45380",
    "45520", "45580", "45620", "45660", "45700", "45740", "45860", "45880",
    "45900", "45980", "46020", "46100", "46180", "46300", "46380", "46460",
    "46500", "46580", "46620", "46740", "46780", "46820", "46860", "46900",
    "46980", "47080", "47180", "47240", "47340", "47420", "47540", "47620",
    "47660", "47700", "47780", "47820", "47920", "47980", "48020", "48100",
    "48180", "48200", "48220", "48460", "48580", "48780", "48820", "48940",
    "48980", "49010", "49080", "49100", "49220", "49260", "49300", "49380",
    "49460", "49780", "49820"
}

# ========== Puerto Rico & Territories (EXCLUDE) ==========
# OLD: You had 2 hardcoded
# NEW: 14 comprehensive (all PR metros from OMB)
PUERTO_RICO_TERRITORIES = {
    "10260",  # Adjuntas, PR
    "10380",  # Aguadilla, PR
    "11640",  # Arecibo, PR
    "17620",  # Coamo, PR
    "17640",  # Coco, PR
    "25020",  # Guayama, PR
    "27580",  # Jayuya, PR
    "29720",  # Lares, PR
    "32420",  # Mayagüez, PR
    "38660",  # Ponce, PR
    "41900",  # San Germán, PR
    "41980",  # San Juan-Bayamón-Caguas, PR
    "42180",  # Santa Isabel, PR
    "46580",  # Utuado, PR
}

# ========== Historic MSAs to EXCLUDE ==========
# NEW: Based on investigation, Poughkeepsie should be excluded
# 39100: 517 rows, appears to be Poughkeepsie - CONFIRMED: exclude
EXCLUDED_HISTORIC_MSAS = {
    "39100",  # Poughkeepsie-Newburgh-Middletown, NY (appears in 2022, not in MEFI properly)
              # 517 rows affected - excluded per protocol
}

# ========== Mystery Codes - NOW RESOLVED! ==========
# These codes have been investigated and resolved via TEMPORAL_REMAPPINGS
# OLD MYSTERY_CODES_TODO (now handled):
#   "35154" → now mapped to "35620" via TEMPORAL_REMAPPINGS (joins to MEFI!)
#   "30100" → now mapped to "30150" via TEMPORAL_REMAPPINGS (excluded as micropolitan)
MYSTERY_CODES_TODO = set()  # All mystery codes have been resolved!


# ============================================================================
# SECTION 2: UPDATED HELPER FUNCTIONS
# Keep your existing z5() and norm_name(), add these new ones
# ============================================================================

def z5(x):
    """Pad CBSA codes to 5 digits with leading zeros"""
    if pd.isna(x): return pd.NA
    s = str(x).strip()
    if s == "" or s.lower() == "nan": return pd.NA
    if s.replace(".","",1).isdigit():
        s = str(int(float(s)))
    return s.zfill(5)

def norm_name(s):
    """Normalize metro area names for matching"""
    if pd.isna(s): return ""
    s = str(s).lower()
    for ch in ["–","—","(",")",".",","]:
        s = s.replace(ch, " ")
    s = s.replace("-", " ")
    return " ".join(s.split())

def pull_component_by_name(xlsx_path, sheet_name, component_label, year=2017):
    """
    Extract a component score (e.g. 1A-3C) from MEFI workbook
    Handles two-row headers and joins by normalized metro area name
    """
    try:
        # Read with two-row header
        df = pd.read_excel(xlsx_path, sheet_name=sheet_name, header=[0,1])

        # Find metro area name column
        name_col = None
        for col in df.columns:
            if isinstance(col, tuple):
                col_combined = ' '.join([str(c).lower() for c in col])
                for part in col:
                    if "metro area" in str(part).lower() or "metro area" in col_combined:
                        name_col = col
                        break
            else:
                if "metro area" in str(col).lower():
                    name_col = col
                    break
            if name_col:
                break

        # Find the score column for the specified year
        score_col = None
        for col in df.columns:
            if isinstance(col, tuple):
                col_combined = ' '.join([str(c).lower() for c in col])
                if str(year) in col_combined:
                    score_col = col
                    break

        if name_col is None or score_col is None:
            print(f"  Warning: Could not find columns in sheet {sheet_name}")
            return pd.DataFrame(columns=["Metro_Area_Name_N", f"MEFI2017_{component_label}"])

        # Extract and clean
        result = df[[name_col, score_col]].copy()
        result.columns = ["Metro_Area_Name", f"MEFI2017_{component_label}"]
        result = result[pd.to_numeric(result[f"MEFI2017_{component_label}"], errors="coerce").notna()].copy()
        result[f"MEFI2017_{component_label}"] = result[f"MEFI2017_{component_label}"].astype(float)
        result["Metro_Area_Name_N"] = result["Metro_Area_Name"].apply(norm_name)

        return result[["Metro_Area_Name_N", f"MEFI2017_{component_label}"]]

    except Exception as e:
        print(f"  Warning: Could not extract {component_label} from {sheet_name}: {e}")
        return pd.DataFrame(columns=["Metro_Area_Name_N", f"MEFI2017_{component_label}"])


def add_scope_flags(df, code_col="CBSA_CODE_CANON"):
    """
    Add comprehensive exclusion flags
    UPDATED: Now uses comprehensive sets from OMB extraction
    """
    df["is_micro"] = df[code_col].isin(MICROPOLITAN_AREAS).astype(int)
    df["is_pr"] = df[code_col].isin(PUERTO_RICO_TERRITORIES).astype(int)
    df["is_excluded_historic"] = df[code_col].isin(EXCLUDED_HISTORIC_MSAS).astype(int)

    def _note(code):
        if code in MICROPOLITAN_AREAS:
            return "Micropolitan area — MEFI not available"
        if code in PUERTO_RICO_TERRITORIES:
            return "Puerto Rico/Territory — MEFI typically excluded"
        if code in EXCLUDED_HISTORIC_MSAS:
            return "Historic MSA in MEFI — excluded per protocol"
        if code in MYSTERY_CODES_TODO:
            return "Under investigation — code not in OMB"
        return ""

    df["scope_note"] = df[code_col].map(_note)

    # Master exclusion flag
    df["exclude_from_analysis"] = (
        (df["is_micro"] == 1) |
        (df["is_pr"] == 1) |
        (df["is_excluded_historic"] == 1)
    ).astype(int)

    return df


# ============================================================================
# SECTION 3: UPDATED prep_brfss FUNCTION
# Replace your existing prep_brfss function with this
# ============================================================================

def prep_brfss(df):
    """
    Prepare BRFSS data with comprehensive CBSA code standardization

    UPDATED: Now includes:
    - Comprehensive MDiv rollup (42 mappings)
    - Temporal remappings for codes that changed over time
    - MDiv name retention
    - MSA name lookup
    - Comprehensive exclusion flags
    """
    df = df.copy()
    assert "CBSA_CODE" in df.columns, "CBSA_CODE missing in BRFSS file."

    # Step 1: Standardize original code
    df["CBSA_CODE_ORIG"] = df["CBSA_CODE"].apply(z5)

    # Step 2: Roll up Metropolitan Divisions to parent MSAs
    df["CBSA_CODE_ROLLED"] = df["CBSA_CODE_ORIG"].map(DIV2CBSA).fillna(df["CBSA_CODE_ORIG"])

    # Step 3: NEW - Apply temporal remappings for codes that changed over time
    # This handles cases like:
    #   - 30100 (Lebanon pre-2013) → 30150 (Lebanon-Claremont current)
    #   - 35154 (New Brunswick MDiv 2013-2023) → 35620 (NY-Newark MSA)
    df["CBSA_CODE_TEMPORAL"] = df["CBSA_CODE_ROLLED"].replace(TEMPORAL_REMAPPINGS)

    # Step 4: Apply legacy renames (e.g., Dayton, other historical changes)
    df["CBSA_CODE_CANON"] = df["CBSA_CODE_TEMPORAL"].replace(LEGACY_RENAMES)

    # Step 5: Flag if original was a Metropolitan Division
    df["is_mdiv"] = df["CBSA_CODE_ORIG"].isin(DIV2CBSA.keys()).astype(int)

    # Step 6: Flag if code was temporally remapped
    df["is_temporal_remap"] = df["CBSA_CODE_ORIG"].isin(TEMPORAL_REMAPPINGS.keys()).astype(int)

    # Step 7: Add comprehensive exclusion flags
    df = add_scope_flags(df, "CBSA_CODE_CANON")

    # Step 8: Store original metro name from BRFSS
    if "MMSANAME" in df.columns:
        df["BRFSS_Metro_Name_Orig"] = df["MMSANAME"]

    # Step 9: Drop original CBSA_CODE to avoid confusion
    df = df.drop(columns=["CBSA_CODE"], errors="ignore")

    return df


# ============================================================================
# SECTION 4: ADD MSA/MDIV NAMES FROM OMB
# NEW: This adds the name columns you requested
# ============================================================================

def add_msa_names_from_omb(brfss_df, omb_2023_path):
    """
    Add MSA names from OMB List 1 (2023) to BRFSS data
    Creates columns: MDiv_Name, MSA_Name_Current

    Args:
        brfss_df: BRFSS DataFrame (after prep_brfss)
        omb_2023_path: Path to list1_2023.xlsx file

    Returns:
        DataFrame with added name columns
    """
    # Load OMB 2023
    omb = pd.read_excel(omb_2023_path, sheet_name="List 1", dtype=str, header=2)
    omb.columns = [str(c).strip() for c in omb.columns]

    # Standardize codes
    if "CBSA Code" in omb.columns:
        omb["CBSA Code"] = omb["CBSA Code"].apply(z5)
    if "Metropolitan Division Code" in omb.columns:
        omb["Metropolitan Division Code"] = omb["Metropolitan Division Code"].apply(z5)

    # Create MDiv name lookup
    mdiv_names = {}
    if "Metropolitan Division Code" in omb.columns and "Metropolitan Division Title" in omb.columns:
        mdiv_data = omb[["Metropolitan Division Code", "Metropolitan Division Title"]].dropna()
        mdiv_data = mdiv_data.drop_duplicates(subset=["Metropolitan Division Code"])
        mdiv_names = dict(mdiv_data.values)

    # Create CBSA name lookup (for parent MSAs)
    cbsa_names = {}
    if "CBSA Code" in omb.columns and "CBSA Title" in omb.columns:
        cbsa_data = omb[["CBSA Code", "CBSA Title"]].dropna()
        cbsa_data = cbsa_data.drop_duplicates(subset=["CBSA Code"])
        cbsa_names = dict(cbsa_data.values)

    # Add MDiv name if original code was a MDiv
    brfss_df["MDiv_Name"] = brfss_df.apply(
        lambda row: mdiv_names.get(row["CBSA_CODE_ORIG"]) if row["is_mdiv"] == 1 else pd.NA,
        axis=1
    )

    # Add current MSA name (from canonical code)
    brfss_df["MSA_Name_Current"] = brfss_df["CBSA_CODE_CANON"].map(cbsa_names)

    return brfss_df


# ============================================================================
# SECTION 5: UPDATED MERGE FUNCTION
# Replace your existing merge_brfss_mefi function with this
# ============================================================================

def merge_brfss_mefi(brfss_df, mefi_df, year_label="2017"):
    """
    Merge BRFSS data with MEFI scores and add comprehensive join status flags

    UPDATED: Now handles exclusions and includes all component scores (1A-3C) and BEA population
    """
    out = brfss_df.merge(mefi_df, left_on="CBSA_CODE_CANON", right_on="CBSA_CODE", how="left")

    # Check for MEFI overall and area scores
    mefi_core = [f"MEFI{year_label}_overall", f"MEFI{year_label}_area1",
                 f"MEFI{year_label}_area2", f"MEFI{year_label}_area3"]
    mefi_core_existing = [c for c in mefi_core if c in out.columns]

    out["mefi_joined"] = out[mefi_core_existing].notna().any(axis=1).astype(int)

    # Updated join_status to handle exclusions
    out["join_status"] = np.where(
        out["mefi_joined"].eq(1),
        "joined",
        np.where(
            out["exclude_from_analysis"].eq(1),
            "excluded",
            "unmatched"
        )
    )

    # Updated mefi_join_note with more detail
    out["mefi_join_note"] = np.where(
        out["mefi_joined"].eq(1),
        "MEFI attached",
        np.where(
            out["scope_note"].ne(""),
            out["scope_note"],
            "No MEFI match — check mapping"
        )
    )

    return out


# ============================================================================
# SECTION 6: MAIN EXECUTION EXAMPLE
# Replace your main execution block with this pattern
# ============================================================================

if __name__ == "__main__":

    print("=" * 80)
    print("APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH")
    print("WITH TEMPORAL REMAPPINGS")
    print("=" * 80)

    # ========= File paths (UPDATE THESE) =========
    SMART2017 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2017_individual.csv"
    SMART2022 = "/content/drive/MyDrive/Saksham_MEFI/SMART_2022_individual.csv"
    MEFI_XLSX = "/content/drive/MyDrive/Saksham_MEFI/MEFI+2022+dataset+for+researchers,+1-5-23 (4).xlsx"
    OMB_2023 = "/content/drive/MyDrive/Saksham_MEFI/list1_2023.xlsx"

    # ========= Load BRFSS data =========
    print("\nStep 1: Loading BRFSS data...")
    B17 = pd.read_csv(SMART2017, dtype=str, low_memory=False)
    B22 = pd.read_csv(SMART2022, dtype=str, low_memory=False)
    print(f"  2017: {len(B17):,} rows")
    print(f"  2022: {len(B22):,} rows")

    # ========= Apply comprehensive prep =========
    print("\nStep 2: Applying comprehensive CBSA standardization...")
    B17 = prep_brfss(B17)
    B22 = prep_brfss(B22)
    print("  ✓ Applied MDiv rollup (42 mappings)")
    print("  ✓ Applied temporal remappings (2 codes: 30100→30150, 35154→35620)")
    print("  ✓ Applied legacy renames")
    print("  ✓ Applied exclusion flags (603 micros, 14 PR/territories, 1 historic)")

    # ========= Add MSA/MDiv names =========
    print("\nStep 3: Adding MSA/MDiv names from OMB...")
    B17 = add_msa_names_from_omb(B17, OMB_2023)
    B22 = add_msa_names_from_omb(B22, OMB_2023)
    print("  ✓ Added MDiv_Name column")
    print("  ✓ Added MSA_Name_Current column")

    # ========= Load and prep MEFI data =========
    print("\nStep 4: Loading MEFI panel data...")
    scores = pd.read_excel(MEFI_XLSX, sheet_name="scores (panel)", header=0)
    scores = scores.rename(columns={
        "CBSA Code":"CBSA_CODE",
        "Area 1: Govern-ment Spending":"Area1_GovtSpending",
        "Area 2: Taxes":"Area2_Taxes",
        "Area 3: Labor Market Regulation":"Area3_Labor",
        "Primary\nState":"Primary_State"
    })
    scores["CBSA_CODE"] = scores["CBSA_CODE"].apply(z5)

    MEFI2017 = scores[scores["year"]==2017].copy()
    MEFI2017["Metro_Area_Name"] = MEFI2017.get("Unnamed: 2", pd.Series([pd.NA]*len(MEFI2017)))
    MEFI2017["Metro_Area_Name_N"] = MEFI2017["Metro_Area_Name"].apply(norm_name)

    MEFI2017_main = (MEFI2017
        .rename(columns={
            "Overall":"MEFI2017_overall",
            "Area1_GovtSpending":"MEFI2017_area1",
            "Area2_Taxes":"MEFI2017_area2",
            "Area3_Labor":"MEFI2017_area3"
        })
        [["CBSA_CODE","Metro_Area_Name","Metro_Area_Name_N",
          "MEFI2017_overall","MEFI2017_area1","MEFI2017_area2","MEFI2017_area3"]]
        .drop_duplicates(subset=["CBSA_CODE"])
    )

    print(f"  Extracted {len(MEFI2017_main)} metro areas from panel data")

    # ========= Extract component scores (1A-3C) =========
    print("\nStep 4b: Extracting component scores (1A-3C)...")
    parts = []
    for sheet, label in [("1A","1A"),("1B","1B"),("1C","1C"),
                         ("2A","2A"),("2B","2B"),("2C","2C"),
                         ("3A","3A"),("3B","3B"),("3C","3C")]:
        print(f"  Extracting component {label}...")
        parts.append(pull_component_by_name(MEFI_XLSX, sheet, label, year=2017))

    MEFI2017_comps = parts[0]
    for t in parts[1:]:
        MEFI2017_comps = MEFI2017_comps.merge(t, on="Metro_Area_Name_N", how="outer")

    print(f"  Combined components: {len(MEFI2017_comps)} unique metro areas")

    # ========= Extract BEA population data =========
    print("\nStep 4c: Extracting BEA population data...")
    try:
        bea = pd.read_excel(MEFI_XLSX, sheet_name="BEA", header=[0,1])

        # Find population column for 2017
        pop_col = None
        for col in bea.columns:
            if isinstance(col, tuple):
                col_combined = ' '.join([str(c).lower() for c in col])
                if "total population" in col_combined or "population" in str(col[0]).lower():
                    if "2017" in str(col[1]) or "2017" in col_combined:
                        pop_col = col
                        print(f"  Found population column: {col}")
                        break

        # Find metro area name column
        name_col = None
        for col in bea.columns:
            if isinstance(col, tuple):
                col_combined = ' '.join([str(c).lower() for c in col])
                for part in col:
                    if "metro area" in str(part).lower() or "metro area" in col_combined:
                        name_col = col
                        print(f"  Found metro name column: {col}")
                        break
                if name_col:
                    break
            else:
                if "metro area" in str(col).lower():
                    name_col = col
                    print(f"  Found metro name column: {col}")
                    break

        if pop_col is not None and name_col is not None:
            BEA2017 = bea[[name_col, pop_col]].copy()
            BEA2017.columns = ["Metro_Area_Name","BEA_pop_2017"]
            BEA2017 = BEA2017[pd.to_numeric(BEA2017["BEA_pop_2017"], errors="coerce").notna()].copy()
            BEA2017["BEA_pop_2017"] = BEA2017["BEA_pop_2017"].astype(float)
            BEA2017["Metro_Area_Name_N"] = BEA2017["Metro_Area_Name"].apply(norm_name)
            MEFI2017_main = MEFI2017_main.merge(BEA2017[["Metro_Area_Name_N","BEA_pop_2017"]],
                                                on="Metro_Area_Name_N", how="left")
            print(f"  Added population data for {BEA2017['BEA_pop_2017'].notna().sum()} metro areas")
        else:
            print("  Warning: Could not find population columns in BEA sheet")
    except Exception as e:
        print(f"  Warning: Could not extract BEA data: {e}")

    # ========= Merge component scores with main MEFI data =========
    print("\nStep 4d: Merging component scores with main MEFI data...")
    MEFI2017_main = MEFI2017_main.merge(MEFI2017_comps, on="Metro_Area_Name_N", how="left")
    print(f"  Final MEFI dataset: {len(MEFI2017_main)} metro areas with all components")

    # ========= Merge BRFSS with MEFI =========
    print("\nStep 5: Merging BRFSS with MEFI...")
    BRFSS2017_MEFI = merge_brfss_mefi(B17, MEFI2017_main, "2017")
    BRFSS2022_MEFI = merge_brfss_mefi(B22, MEFI2017_main, "2017")

    # ========= Report results =========
    print("\n" + "=" * 80)
    print("RESULTS SUMMARY")
    print("=" * 80)

    for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
        print(f"\n{year}:")
        print(f"  Total rows: {len(df):,}")
        print(f"\n  Join Status:")
        for status, count in df["join_status"].value_counts().items():
            pct = 100 * count / len(df)
            print(f"    {status:15s}: {count:8,} ({pct:5.1f}%)")

        print(f"\n  Exclusion Breakdown:")
        print(f"    Micropolitan:      {(df['is_micro']==1).sum():,}")
        print(f"    PR/Territory:      {(df['is_pr']==1).sum():,}")
        print(f"    Historic MSA:      {(df['is_excluded_historic']==1).sum():,}")
        print(f"    MDivs rolled:      {(df['is_mdiv']==1).sum():,}")
        print(f"    Temporal remaps:   {(df['is_temporal_remap']==1).sum():,}")

    # ========= Column availability report =========
    print("\n" + "=" * 80)
    print("MEFI COLUMNS AVAILABLE IN OUTPUT FILES")
    print("=" * 80)

    # Check which MEFI columns are available
    mefi_columns = {
        "Overall Score": "MEFI2017_overall",
        "Area 1 (Govt Spending)": "MEFI2017_area1",
        "Area 2 (Taxes)": "MEFI2017_area2",
        "Area 3 (Labor Market)": "MEFI2017_area3",
        "Component 1A": "MEFI2017_1A",
        "Component 1B": "MEFI2017_1B",
        "Component 1C": "MEFI2017_1C",
        "Component 2A": "MEFI2017_2A",
        "Component 2B": "MEFI2017_2B",
        "Component 2C": "MEFI2017_2C",
        "Component 3A": "MEFI2017_3A",
        "Component 3B": "MEFI2017_3B",
        "Component 3C": "MEFI2017_3C",
        "BEA Population (2017)": "BEA_pop_2017",
    }

    print("\nColumns in merged dataset:")
    for label, col in mefi_columns.items():
        if col in BRFSS2017_MEFI.columns:
            non_null = BRFSS2017_MEFI[col].notna().sum()
            print(f"  ✓ {label:30s} ({non_null:,} metro areas)")
        else:
            print(f"  ✗ {label:30s} (not available)")


    # ========= Temporal remapping report =========
    print("\n" + "=" * 80)
    print("TEMPORAL REMAPPING SUMMARY")
    print("=" * 80)
    print("\nThe following codes were remapped due to temporal changes:")
    for old_code, new_code in TEMPORAL_REMAPPINGS.items():
        for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
            count = (df["CBSA_CODE_ORIG"] == old_code).sum()
            if count > 0:
                is_excluded = new_code in MICROPOLITAN_AREAS
                status = "excluded (micropolitan)" if is_excluded else "joined to MEFI"
                print(f"  {old_code} → {new_code} ({year}): {count:,} rows — {status}")

    # ========= Save outputs =========
    print("\n" + "=" * 80)
    print("SAVING REFINED DATA")
    print("=" * 80)

    out_dir = "/content/drive/MyDrive/Saksham_MEFI/"

    for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
        print(f"\nProcessing {year}:")

        # CLEAN FILE: Only rows that successfully joined to MEFI
        df_clean = df[df["join_status"] == "joined"].copy()
        clean_filename = f"{out_dir}BRFSS{year}_MEFI_CLEAN.csv"
        df_clean.to_csv(clean_filename, index=False)
        print(f"  ✓ Clean file ({len(df_clean):,} rows): BRFSS{year}_MEFI_CLEAN.csv")
        print(f"    - Contains only rows that successfully joined to MEFI")

        # SEMI-CLEAN FILE: Joined + Unmatched (excludes micropolitan/PR/historic)
        df_semiclean = df[df["join_status"].isin(["joined", "unmatched"])].copy()
        semiclean_filename = f"{out_dir}BRFSS{year}_MEFI_SEMICLEAN.csv"
        df_semiclean.to_csv(semiclean_filename, index=False)
        print(f"  ✓ Semi-clean file ({len(df_semiclean):,} rows): BRFSS{year}_MEFI_SEMICLEAN.csv")
        print(f"    - Contains joined ({(df_semiclean['join_status']=='joined').sum():,}) + unmatched ({(df_semiclean['join_status']=='unmatched').sum():,})")
        print(f"    - Excludes: micropolitan, PR/territories, historic MSAs")

        # FULL FILE: All rows for reference
        full_filename = f"{out_dir}BRFSS{year}_MEFI_FULL.csv"
        df.to_csv(full_filename, index=False)
        print(f"  ✓ Full file ({len(df):,} rows): BRFSS{year}_MEFI_FULL.csv")
        print(f"    - Contains all rows with exclusion flags for transparency")

    # ========= Mystery codes report =========
    print("\n" + "=" * 80)
    print("MYSTERY CODES STATUS")
    print("=" * 80)

    if len(MYSTERY_CODES_TODO) == 0:
        print("\n  ✨ All mystery codes have been resolved!")
        print("  • 30100 → remapped to 30150 (micropolitan, excluded)")
        print("  • 35154 → remapped to 35620 (joins to MEFI!)")
        print("  • 39100 → Poughkeepsie (excluded)")
        print("  • 43524 → Washington DC MDiv (joins to MEFI)")
        print("  • 47894 → Washington DC MDiv (joins to MEFI)")
    else:
        print("\n  Remaining mystery codes:")
        for code in MYSTERY_CODES_TODO:
            for year, df in [("2017", BRFSS2017_MEFI), ("2022", BRFSS2022_MEFI)]:
                count = (df["CBSA_CODE_ORIG"] == code).sum()
                if count > 0:
                    sample = df[df["CBSA_CODE_ORIG"] == code].iloc[0]
                    metro_name = sample.get("BRFSS_Metro_Name_Orig", "N/A")
                    print(f"\n  Code {code} ({year}): {count:,} rows")
                    print(f"    Metro name in BRFSS: {metro_name}")
                    print(f"    → TODO: Search OMB for this name manually")

    print("\n" + "=" * 80)
    print("✨ PATCH COMPLETE!")
    print("=" * 80)
    print("\nOutput files created per year (2017 & 2022):")
    print("  1. BRFSS{year}_MEFI_CLEAN.csv")
    print("     → Only rows that successfully joined to MEFI")
    print("     → Use this for main analysis")
    print("\n  2. BRFSS{year}_MEFI_SEMICLEAN.csv")
    print("     → Joined + Unmatched rows")
    print("     → Excludes micropolitan/PR/historic areas")
    print("     → Use for investigating unmatched codes")
    print("\n  3. BRFSS{year}_MEFI_FULL.csv")
    print("     → All rows with exclusion flags")
    print("     → Use for transparency and verification")
    print("\nData improvements:")
    print("  • Component scores (1A-3C) included")
    print("  • BEA population data included")
    print("  • Area scores (1, 2, 3) included")
    print("  • 30100 (2,066 rows) → excluded as micropolitan")
    print("  • 35154 (2,235 rows) → JOINED to MEFI via 35620!")
    print("  • 39100 (517 rows) → excluded (Poughkeepsie)")
    print("  • 43524 & 47894 → Washington DC (joined to MEFI)")

================================================================================
APPLYING COMPREHENSIVE BRFSS-MEFI REFINEMENT PATCH
WITH TEMPORAL REMAPPINGS
================================================================================

Step 1: Loading BRFSS data...
  2017: 230,875 rows
  2022: 237,730 rows

Step 2: Applying comprehensive CBSA standardization...
  ✓ Applied MDiv rollup (42 mappings)
  ✓ Applied temporal remappings (2 codes: 30100→30150, 35154→35620)
  ✓ Applied legacy renames
  ✓ Applied exclusion flags (603 micros, 14 PR/territories, 1 historic)

Step 3: Adding MSA/MDiv names from OMB...
  ✓ Added MDiv_Name column
  ✓ Added MSA_Name_Current column

Step 4: Loading MEFI panel data...
  Extracted 383 metro areas from panel data

Step 4b: Extracting component scores (1A-3C)...
  Extracting component 1A...
  Extracting component 1B...
  Extracting component 1C...
  Extracting component 2A...
  Extracting component 2B...
  Extracting component 2C...
  Extracting component 3A...
  Extracting component 3B...
  Extracting component 3C...
  Combined components: 1953539 unique metro areas

Step 4c: Extracting BEA population data...
  Found population column: ('Total population', '2017')
  Found metro name column: ('Unnamed: 5_level_0', 'Metro Area')
  Added population data for 414 metro areas

Step 4d: Merging component scores with main MEFI data...
  Final MEFI dataset: 383 metro areas with all components

Step 5: Merging BRFSS with MEFI...

================================================================================
RESULTS SUMMARY
================================================================================

2017:
  Total rows: 230,875

  Join Status:
    joined         :  223,329 ( 96.7%)
    excluded       :    7,546 (  3.3%)

  Exclusion Breakdown:
    Micropolitan:      4,731
    PR/Territory:      2,815
    Historic MSA:      0
    MDivs rolled:      45,154
    Temporal remaps:   0

2022:
  Total rows: 237,730

  Join Status:
    joined         :  228,814 ( 96.2%)
    excluded       :    8,916 (  3.8%)

  Exclusion Breakdown:
    Micropolitan:      5,072
    PR/Territory:      3,981
    Historic MSA:      517
    MDivs rolled:      53,587
    Temporal remaps:   4,301

================================================================================
MEFI COLUMNS AVAILABLE IN OUTPUT FILES
================================================================================

Columns in merged dataset:
  ✓ Overall Score                  (223,329 metro areas)
  ✓ Area 1 (Govt Spending)         (223,329 metro areas)
  ✓ Area 2 (Taxes)                 (223,329 metro areas)
  ✓ Area 3 (Labor Market)          (223,329 metro areas)
  ✓ Component 1A                   (223,329 metro areas)
  ✓ Component 1B                   (223,329 metro areas)
  ✓ Component 1C                   (223,329 metro areas)
  ✓ Component 2A                   (223,329 metro areas)
  ✓ Component 2B                   (223,329 metro areas)
  ✓ Component 2C                   (223,329 metro areas)
  ✓ Component 3A                   (223,329 metro areas)
  ✓ Component 3B                   (223,329 metro areas)
  ✓ Component 3C                   (223,329 metro areas)
  ✓ BEA Population (2017)          (223,329 metro areas)

================================================================================
TEMPORAL REMAPPING SUMMARY
================================================================================

The following codes were remapped due to temporal changes:
  30100 → 30150 (2022): 2,066 rows — excluded (micropolitan)
  35154 → 35620 (2022): 2,235 rows — joined to MEFI

================================================================================
SAVING REFINED DATA
================================================================================

Processing 2017:
  ✓ Clean file (223,329 rows): BRFSS2017_MEFI_CLEAN.csv
    - Contains only rows that successfully joined to MEFI
  ✓ Semi-clean file (223,329 rows): BRFSS2017_MEFI_SEMICLEAN.csv
    - Contains joined (223,329) + unmatched (0)
    - Excludes: micropolitan, PR/territories, historic MSAs
  ✓ Full file (230,875 rows): BRFSS2017_MEFI_FULL.csv
    - Contains all rows with exclusion flags for transparency

Processing 2022:
  ✓ Clean file (228,814 rows): BRFSS2022_MEFI_CLEAN.csv
    - Contains only rows that successfully joined to MEFI
  ✓ Semi-clean file (228,814 rows): BRFSS2022_MEFI_SEMICLEAN.csv
    - Contains joined (228,814) + unmatched (0)
    - Excludes: micropolitan, PR/territories, historic MSAs
  ✓ Full file (237,730 rows): BRFSS2022_MEFI_FULL.csv
    - Contains all rows with exclusion flags for transparency

================================================================================
MYSTERY CODES STATUS
================================================================================

  ✨ All mystery codes have been resolved!
  • 30100 → remapped to 30150 (micropolitan, excluded)
  • 35154 → remapped to 35620 (joins to MEFI!)
  • 39100 → Poughkeepsie (excluded)
  • 43524 → Washington DC MDiv (joins to MEFI)
  • 47894 → Washington DC MDiv (joins to MEFI)

================================================================================
✨ PATCH COMPLETE!
================================================================================

Output files created per year (2017 & 2022):
  1. BRFSS{year}_MEFI_CLEAN.csv
     → Only rows that successfully joined to MEFI
     → Use this for main analysis

  2. BRFSS{year}_MEFI_SEMICLEAN.csv
     → Joined + Unmatched rows
     → Excludes micropolitan/PR/historic areas
     → Use for investigating unmatched codes

  3. BRFSS{year}_MEFI_FULL.csv
     → All rows with exclusion flags
     → Use for transparency and verification

Data improvements:
  • Component scores (1A-3C) included
  • BEA population data included
  • Area scores (1, 2, 3) included
  • 30100 (2,066 rows) → excluded as micropolitan
  • 35154 (2,235 rows) → JOINED to MEFI via 35620!
  • 39100 (517 rows) → excluded (Poughkeepsie)
  • 43524 & 47894 → Washington DC (joined to MEFI)